:local {
  .clinical-lowlight-theme {
    --terra-tabs-workspace-content-panel-background-color: #222a2e;
    --terra-tabs-workspace-content-panel-border-top: 1px solid #6f7477;
    --terra-tabs-workspace-content-panel-header-box-shadow: inset -3px -4px 0 -3px #383f42, inset -3px -5px 0 -3px #08090a;
    --terra-tabs-workspace-content-panel-header-padding-bottom: 8px;
    --terra-tabs-workspace-content-panel-header-padding-top: 7px;
    --terra-tabs-workspace-content-toolbar-margin-top: 4px;
    --terra-tabs-workspace-content-notification-banners-container-margin-top: 4px;
    --terra-tabs-workspace-content-notification-banners-container-adjacent-margin-top: 6px;
    --terra-tabs-workspace-content-notification-banner-adjacent-margin-top: 3px;
    --terra-tabs-workspace-content-rounded-border-radius: 3px;
  }
}
