:local {
  .clinical-lowlight-theme {
    --terra-tabs-workspace-hidden-tab-hidden-background-color: #222a2e;
    --terra-tabs-workspace-hidden-tab-hidden-color: #b2b5b6;
    --terra-tabs-workspace-hidden-tab-hidden-font-size: 1rem;
    --terra-tabs-workspace-hidden-tab-hidden-line-height: 1.4;
    --terra-tabs-workspace-hidden-tab-hidden-padding-bottom: 0.5rem;
    --terra-tabs-workspace-hidden-tab-hidden-padding-left: 0.5714rem;
    --terra-tabs-workspace-hidden-tab-hidden-padding-right: 0.7143rem;
    --terra-tabs-workspace-hidden-tab-hidden-padding-top: 0.3571rem;
    --terra-tabs-workspace-hidden-tab-hidden-hover-background-color: #1e3a49;
    --terra-tabs-workspace-hidden-tab-focus-box-shadow: none;
    --terra-tabs-workspace-hidden-tab-focus-outline: 2px dashed #fff;
    --terra-tabs-workspace-hidden-tab-focus-outline-offset: -2px;
    --terra-tabs-workspace-hidden-tab-ie-focus-before-border: 2px dashed #fff;
    --terra-tabs-workspace-hidden-tab-ie-focus-before-box-shadow: none;
    --terra-tabs-workspace-hidden-tab-hidden-is-active-color: #b2b5b6;
    --terra-tabs-workspace-hidden-tab-hidden-is-active-hover-background-color: #1e3a49;
    --terra-tabs-workspace-hidden-tab-checkbox-color: #b2b5b6;
    --terra-tabs-workspace-hidden-tab-checkbox-height: 0.8571rem;
    --terra-tabs-workspace-hidden-tab-checkbox-margin-right: 0.4286rem;
    --terra-tabs-workspace-hidden-tab-checkbox-margin-top: 0.1429rem;
    --terra-tabs-workspace-hidden-tab-checkbox-width: 0.8571rem;
    --terra-tabs-structural-disabled-background-color: #222a2e;
    --terra-tabs-structural-disabled-color: #404344;
    --terra-tabs-structural-disabled-opacity: 1;
    --terra-tabs-structural-disabled-label-color: #b2b5b6;
    --terra-tabs-structural-disabled-label-opacity: 0.3;
  }
}
