@import '~terra-mixins/lib/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-application-workspace-tab-background-color: #1e2427;
    --terra-application-workspace-tab-background-image: none;
    --terra-application-workspace-tab-border: 1px solid #6f7477;
    --terra-application-workspace-tab-border-top-left-radius: 3px;
    --terra-application-workspace-tab-border-top-right-radius: 3px;
    --terra-application-workspace-tab-height: 33px;
    --terra-application-workspace-tab-margin-right: 2px;
    --terra-application-workspace-tab-label-color: #868a8c;
    --terra-application-workspace-tab-icon-color: #6f7477;
    --terra-application-workspace-tab-hover-icon-color: #868a8c;
    --terra-application-workspace-tab-hover-label-color: #969fa1;
    --terra-application-workspace-tab-hover-background-color: transparent;
    --terra-application-workspace-tab-hover-background-image: linear-gradient(to bottom, #222a2e, #1e2427);
    --terra-application-workspace-tab-focus-before-border: 2px dashed #fff;
    --terra-application-workspace-tab-focus-before-box-shadow: none;
    --terra-application-workspace-tab-focus-before-bottom: 1px;
    --terra-application-workspace-tab-focus-before-left: 1px;
    --terra-application-workspace-tab-focus-before-right: 1px;
    --terra-application-workspace-tab-focus-before-top: 1px;
    --terra-application-workspace-tab-is-active-background-color: #222a2e;
    --terra-application-workspace-tab-is-active-background-image: none;
    --terra-application-workspace-tab-is-active-height: 34px;
    --terra-application-workspace-tab-is-active-icon-color: #868a8c;
    --terra-application-workspace-tab-is-active-label-color: #969fa1;
    --terra-application-workspace-tab-is-active-icon-label-margin-top: -1px;
    --terra-application-workspace-tab-min-width: 76px;
    --terra-application-workspace-tab-menu-svg-height: 0.8571rem;
    --terra-application-workspace-tab-menu-is-active-hover-background-color: transparent;
    --terra-application-workspace-tab-menu-is-active-hover-background-image: linear-gradient(to bottom, #1e2427, #222a2e);
    --terra-application-workspace-tab-menu-is-active-hover-icon-color: #969fa1;
  }
}
