:local {
  .clinical-lowlight-theme {
    --terra-application-workspace-tab-header-header-min-height: 2.143rem;
    --terra-application-workspace-tab-header-title-color: #b2b5b6;
    --terra-application-workspace-tab-header-title-font-size: 1.143rem;
    --terra-application-workspace-tab-header-title-font-weight: 500;
    --terra-application-workspace-tab-header-title-padding: 0 0.1429rem;
  }
}
