:local {
  .clinical-lowlight-theme {
    --terra-tabs-remove-button-color: #006fc3;
    --terra-tabs-keyboard-focus-ltr-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;
    --terra-tabs-keyboard-focus-rtl-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;
    --terra-tabs-font-size: 1rem;
    --terra-tabs-font-weight: normal;
    --terra-tabs-focus-box-shadow: none;
    --terra-tabs-focus-outline: 2px dashed #c8cacb;
    --terra-tabs-focus-outline-offset: -2px;
    --terra-tabs-line-height: 1.4;
    --terra-tabs-padding: 0.643rem 1.071rem;
    --terra-tabs-text-only-padding: 0.643rem 1.071rem;
    --terra-tabs-label-next-to-icon-margin-left: 0.357rem;
    --terra-tabs-menu-arrow-margin-left: 0.5rem;
    --terra-tabs-menu-collapsed-justify-content: center;

    --terra-tabs-structural-background-color: #222a2e;
    --terra-tabs-structural-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
    --terra-tabs-structural-background-position: 0 100%;
    --terra-tabs-structural-background-size: 0 2px;
    --terra-tabs-structural-border-width: 0 1px 0 0;
    --terra-tabs-structural-before-content-background: none;
    --terra-tabs-structural-border-color: #181b1d;
    --terra-tabs-structural-box-shadow: none;
    --terra-tabs-structural-color: #007ee0;
    --terra-tabs-structural-position: static;
    --terra-tabs-structural-container-background-color: #222a2e;
    --terra-tabs-structural-content-background-color: #222a2e;
    --terra-tabs-structural-content-box-shadow: 0;
    --terra-tabs-structural-disabled-label-color: #b2b5b6;
    --terra-tabs-structural-disabled-label-opacity: 0.3;
    --terra-tabs-structural-content-border-radius: 0;
    --terra-tabs-structural-content-z-index: 0;

    --terra-tabs-structural-active-background-color: #222a2e;
    --terra-tabs-structural-active-box-shadow: none;
    --terra-tabs-structural-active-color: #b2b5b6;
    --terra-tabs-structural-active-focus-background-color: #222a2e;
    --terra-tabs-structural-active-focus-color: #b2b5b6;
    --terra-tabs-structural-active-font-weight: normal;
    --terra-tabs-structural-active-hover-background-color: #222a2e;
    --terra-tabs-structural-active-hover-background-image: linear-gradient(to bottom, #111212, #111212);
    --terra-tabs-structural-active-hover-color: #b2b5b6;
    --terra-tabs-structural-active-hover-background-size: 100% 2px;
    --terra-tabs-structural-active-z-index: 0;
    --terra-tabs-structural-active-before-transition-duration: 0;
    --terra-tabs-structural-active-before-transition-timing-function: ease;

    --terra-tabs-structural-before-content-height: 0;
    --terra-tabs-structural-between-tabs-margin-left: 0;
    --terra-tabs-structural-extended-tabs-border-radius: 0;

    --terra-tabs-structural-focus-background-color: #222a2e;
    --terra-tabs-structural-focus-color: initial;
    --terra-tabs-structural-focus-outline: 2px dashed #c8cacb;
    --terra-tabs-structural-focus-outline-offset: -5px;

    --terra-tabs-addbutton-focus-background-color: #222a2e;
    --terra-tabs-addbutton-focus-background-image: none;
    --terra-tabs-addButton-focus-color: initial;
    --terra-tabs-addButton-focus-outline: 2px dashed #c8cacb;
    --terra-tabs-addButton-focus-outline-offset: -2px;

    --terra-tabs-structural-hover-background-color: #222a2e;
    --terra-tabs-structural-hover-background-image: linear-gradient(to bottom, #111212, #111212);
    --terra-tabs-structural-hover-color: #b2b5b6;
    --terra-tabs-structural-hover-background-size: 100% 2px;
    --terra-tabs-collapsed-tab-menu-hover-background-size: 0 0;

    --terra-tabs-active-focus-ltr-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;
    --terra-tabs-active-focus-rtl-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;

    --terra-tabs-structural-active-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
    --terra-tabs-structural-active-focus-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
    --terra-tabs-structural-active-background-size: 100% 2px;
    --terra-tabs-structural-collapsed-before-content-background: #141719;
    --terra-tabs-structural-collapsed-before-content-height: 0;
    --terra-tabs-structural-collapsed-border-bottom-color: #181b1d;
    --terra-tabs-structural-collapsed-menu-bar-focus-border-bottom-color: none;
    --terra-tabs-collapsed-tab-menu-active-background-size: 0 0;
    --terra-tabs-structural-content-background-image: linear-gradient(to bottom, #222a2e, #222a2e);
    --terra-tabs-structural-collapsed-border-bottom-width: 1px;
    --terra-tabs-structural-collapsed-border-radius: 0;
    --terra-tabs-structural-collapsed-menu-bar-focus-border-bottom-width: 0;
    --terra-tabs-structural-collapsed-position: static;
    --terra-tabs-structural-disabled-background-color: #222a2e;
    --terra-tabs-structural-disabled-color: #404344;
    --terra-tabs-structural-disabled-opacity: 1;
    --terra-tabs-structural-disabled-hover-background-color: #222a2e;
    --terra-tabs-structural-disabled-hover-color: #404344;
    --terra-tabs-structural-disabled-hover-opacity: 1;
    --terra-tabs-structural-focus-background-image: linear-gradient(to bottom, #141719, #141719);
    --terra-tabs-structural-last-tab-border-width: 0;
    --terra-tabs-structural-tab-bar-border-bottom-color: #181b1d;
    --terra-tabs-structural-tab-bar-border-bottom-width: 1px;
    --terra-tabs-structural-transition-duration: 0;
    --terra-tabs-structural-transition-timing-function: ease;

    --terra-tabs-structural-vertical-background-image: linear-gradient(to bottom, #141719, #141719);
    --terra-tabs-structural-vertical-active-background-color: #222a2e;
    --terra-tabs-structural-vertical-active-background-size: 100% 1px;
    --terra-tabs-structural-vertical-active-box-shadow: none;
    --terra-tabs-structural-vertical-active-color: #b2b5b6;
    --terra-tabs-structural-vertical-active-font-weight: normal;
    --terra-tabs-structural-vertical-background-size: 0 1px;
    --terra-tabs-structural-vertical-border-width: 0 1px 1px 0;

    --terra-tabs-menu-icon-margin-right: 0.5rem;
    --terra-tabs-menu-icon-font-size: 1rem;



    /* NOTE: This is being commented out until discussions have been resolved around if modular tabs should be removed.

    --terra-tabs-modular-active-color: #000;
    --terra-tabs-modular-background-color: #fff;
    --terra-tabs-modular-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
    --terra-tabs-modular-color: #007ee0;
    --terra-tabs-modular-focus-background-color: #fff;
    --terra-tabs-modular-hover-background-image: linear-gradient(to bottom, #c8cacb, #c8cacb);
    --terra-tabs-modular-hover-color: #000;
    --terra-tabs-modular-tab-bar-border-bottom-width: 1px;
    --terra-tabs-modular-extended-flex: 0 1 auto;
    --terra-tabs-modular-background-position: 0 100%;
    --terra-tabs-modular-background-size: 0 2px;
    --terra-tabs-modular-active-background-size: 100% 2px;
    --terra-tabs-modular-hover-background-size: 100% 2px;
    --terra-tabs-modular-focus-border-radius: 0;
    --terra-tabs-modular-active-focus-border-radius: 0;
    --terra-tabs-modular-selection-bar-height: 0;
    --terra-tabs-modular-selection-bar-transition: none;
    --terra-tabs-collapsed-modular-tab-bar-border-bottom-color: #dddedf;
    --terra-tabs-collapsed-modular-tab-bar-border-bottom-width: 1px;
    --terra-tabs-modular-active-focus-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
    --terra-tabs-modular-disabled-hover-color: #c8cacb;
    --terra-tabs-modular-selection-bar-background-color: #fff;
    --terra-tabs-modular-tab-bar-border-bottom-color: #dddedf;
    --terra-tabs-modular-active-focus-background-color: #fff;

    */

  }

}
