/* stylelint-disable terra/custom-property-namespace */
@import '~terra-mixins/lib/Mixins';

// Themes
@import './orion-fusion-theme/WorklistDataGrid.module';
@import './clinical-lowlight-theme/WorklistDataGrid.module';

:local {
  .worklist-data-grid :focus {
    outline: var(--terra-worklist-data-grid-cell-focus-outline, 3px dashed #000);
    outline-offset: var(--terra-worklist-data-grid-cell-focus-outline-offset, -2px);
  }

  .worklist-data-grid-container {
    height: 100%;
    overflow: auto;
    width: 100%;
  }

  .worklist-data-grid {
    // Style for the grid itself
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    user-select: none;
    width: 1px;
  }
}
/* stylelint-enable terra/custom-property-namespace */
