:local {
  .clinical-lowlight-theme {
    --terra-navigation-side-menu-list-item-background-color: #222a2e;
    --terra-navigation-side-menu-list-item-border-bottom: none;
    --terra-navigation-side-menu-list-item-border-left: none;
    --terra-navigation-side-menu-list-item-border-right: none;
    --terra-navigation-side-menu-list-item-border-top: none;
    
    --terra-navigation-side-menu-item-active-background-color: #1e3a49;
    --terra-navigation-side-menu-item-active-chevron-color: #c5c5c6;
    --terra-navigation-side-menu-item-border-bottom: none;
    --terra-navigation-side-menu-item-border-left: none;
    --terra-navigation-side-menu-item-border-right: none;
    --terra-navigation-side-menu-item-border-top: none;
    --terra-navigation-side-menu-item-chevron-color: #c5c5c6;
    --terra-navigation-side-menu-item-chevron-height: 0.8em;
    --terra-navigation-side-menu-item-chevron-padding-left: 0.7143rem;
    --terra-navigation-side-menu-item-chevron-width: 0.8em;
    --terra-navigation-side-menu-item-color: #b2b5b6;
    --terra-navigation-side-menu-item-focus-background-color: #2d3539;
    --terra-navigation-side-menu-item-focus-box-shadow: inset 0 0 0 1px #4a90e2, inset 0 0 0 4px rgba(0, 0, 0, 0.3);
    --terra-navigation-side-menu-item-font-size: 1.071rem;
    --terra-navigation-side-menu-item-font-weight: normal;
    --terra-navigation-side-menu-item-line-height: 1.42857;
    --terra-navigation-side-menu-item-focus-chevron-color: #c5c5c6;
    --terra-navigation-side-menu-item-hover-background-color: #2d3539;
    --terra-navigation-side-menu-item-hover-chevron-color: #c5c5c6;
    --terra-navigation-side-menu-item-hover-color: #b2b5b6;
    --terra-navigation-side-menu-item-padding-bottom: 0.8225rem;
    --terra-navigation-side-menu-item-padding-left: 1.2143rem;
    --terra-navigation-side-menu-item-padding-right: 0.7143rem;
    --terra-navigation-side-menu-item-padding-top: 0.8225rem;
    --terra-navigation-side-menu-item-selected-background-color: #004c76;
    --terra-navigation-side-menu-item-selected-chevron-color: #c5c5c6;
    --terra-navigation-side-menu-item-selected-focus-background-color: #2d3539;
    --terra-navigation-side-menu-item-selected-focus-chevron-color: #c5c5c6;
    --terra-navigation-side-menu-item-selected-focus-color: #b2b5b6;
    --terra-navigation-side-menu-item-selected-hover-background-color: #1e3a49;
    --terra-navigation-side-menu-item-selected-hover-chevron-color: #c5c5c6;
    --terra-navigation-side-menu-item-selected-hover-color: #b2b5b6;
    --terra-navigation-side-menu-item-text-transform: none;
    --terra-navigation-side-menu-focus-outline: 2px dashed #b2b5b6;
    --terra-navigation-side-menu-focus-outline-offset: -2px;
    --terra-navigation-side-menu-item-focus-box-shadow: none;
  }
}
