:local {
  .clinical-lowlight-theme {
    --terra-navigation-side-menu-action-header-background-color: #141719;
    --terra-navigation-side-menu-action-header-border-bottom-color: #141719;
    --terra-navigation-side-menu-action-header-box-shadow: none;
    --terra-navigation-side-menu-action-header-color: #b2b5b6;

    --terra-navigation-side-menu-content-container-background-color: #222a2e;
    --terra-navigation-side-menu-content-container-header-background-color: #141719;
    --terra-navigation-side-menu-content-container-main-background-color: #222a2e;

    --terra-navigation-side-menu-list-background-color: #222a2e;
    --terra-navigation-side-menu-list-padding-bottom: 0.125rem;
    --terra-navigation-side-menu-list-padding-top: 0.125rem;

  }
}
