:local {
  .clinical-lowlight-theme {
    --terra-application-header-layout-background-color: #222a2e;
    --terra-application-header-layout-border: 1px solid #b2b5b6;
    --terra-application-header-layout-color: #b2b5b6;
    --terra-application-header-layout-logo-min-width: 17.14286rem;
    --terra-application-header-layout-border-radius: 0;
    --terra-application-header-layout-margin: 0;
    --terra-application-header-layout-padding: 1rem 2rem;

  }
}
