:global {
  --terra-application-utility-header-background-color: transparent;
  --terra-application-utility-header-body-item-background-color: #222a2e;
  --terra-application-utility-header-body-item-checkmark-color: #c5c5c6;
  --terra-application-utility-header-body-item-checkmark-focus-color: #c5c5c6;
  --terra-application-utility-header-body-item-checkmark-hover-color: #c5c5c6;
  --terra-application-utility-header-body-item-chevron-color: #c5c5c6;
  --terra-application-utility-header-body-item-chevron-focus-color: #c5c5c6;
  --terra-application-utility-header-body-item-chevron-hover-color: #c5c5c6;
  --terra-application-utility-header-body-item-focus-background-color: #1e3a49;
  --terra-application-utility-header-body-item-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
  --terra-application-utility-header-body-item-font-color: #b2b5b6;
  --terra-application-utility-header-body-item-hover-background-color: #1e3a49;
  --terra-application-utility-header-color: #b2b5b6;
  --terra-application-utility-header-focus-background-color: #1e3a49;
  --terra-application-utility-header-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
  --terra-application-utility-header-focus-icon-color: #c5c5c6;
  --terra-application-utility-header-footer-item-background-color: #222a2e;
  --terra-application-utility-header-footer-item-font-color: #b2b5b6;
  --terra-application-utility-header-hover-background-color: #1e3a49;
  --terra-application-utility-header-hover-icon-color: #c5c5c6;
  --terra-application-utility-header-icon-color: #c5c5c6;
  --terra-application-utility-header-type-menu-background-color: #222a2e;
  --terra-application-utility-header-type-menu-header-color: #b2b5b6;

  --terra-application-utility-menu-background-color: #222a2e;
  --terra-application-utility-menu-body-item-background-color: #222a2e;
  --terra-application-utility-menu-body-item-checkmark-color: #c5c5c6;
  --terra-application-utility-menu-body-item-checkmark-focus-color: #c5c5c6;
  --terra-application-utility-menu-body-item-checkmark-hover-color: #c5c5c6;
  --terra-application-utility-menu-body-item-chevron-color: #c5c5c6;
  --terra-application-utility-menu-body-item-chevron-focus-color: #c5c5c6;
  --terra-application-utility-menu-body-item-chevron-hover-color: #c5c5c6;
  --terra-application-utility-menu-body-item-focus-background-color: #1e3a49;
  --terra-application-utility-menu-body-item-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
  --terra-application-utility-menu-body-item-font-color: #b2b5b6;
  --terra-application-utility-menu-body-item-hover-background-color: #1e3a49;
  --terra-application-utility-menu-border-top: 1px solid #181b1d;
  --terra-application-utility-menu-color: #b2b5b6;
  --terra-application-utility-menu-divider-after-border-top: 1px solid #282d31;
  --terra-application-utility-menu-divider-border-top: 1px solid #181b1d;
  --terra-application-utility-menu-focus-background-color: #1e3a49;
  --terra-application-utility-menu-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
  --terra-application-utility-menu-focus-icon-color: #c5c5c6;
  --terra-application-utility-menu-footer-item-background-color: #222a2e;
  --terra-application-utility-menu-footer-item-font-color: #b2b5b6;
  --terra-application-utility-menu-hover-background-color: #1e3a49;
  --terra-application-utility-menu-hover-icon-color: #c5c5c6;
  --terra-application-utility-menu-icon-color: #c5c5c6;
  --terra-application-utility-menu-type-menu-background-color: #222a2e;
  --terra-application-utility-menu-type-menu-header-color: #b2b5b6;
}
