:local {
  .application-utility-menu-example-custom-component {
    height: 1.857rem;
    width: 1.857rem;
  }
  
  .application-utility-menu-example-content {
    height: 300px;
    width: 300px;
  }
}
