:local {
  .test-popup-area {
    background: #f0f8ff;
    height: 200px;
    position: relative;
    width: 200px;
  }

  .popup-text {
    padding: 5px;
  }

  .popup-button {
    background-color: #c00;
    bottom: 0;
    height: 10px;
    position: absolute;
    right: 10px;
    width: 10px;
  }
}
