:local {
  .test-popup-area {
    background: #f0f8ff;
    height: 400px;
    position: relative;
    width: 400px;
  }

  .popup-text {
    padding: 5px;
  }

  .popup-button {
    background-color: #c00;
    height: 20px;
    left: calc(50% - 10px);
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
  }
}
