:local {
  %application-utility-test-custom-component {
    display: grid;
  }

  %application-utility-test-avatar {
    height: 1.857rem;
    width: 1.857rem;
  }

  %application-utility-test-content {
    height: 300px;
    width: 300px;
  }

  %application-utility-test-application-content {
    height: 60px;
    position: relative;
  }
}
