:local {
  %common-avatar-wrapper {
    display: grid;
  }

  %common-avatar {
    height: 1.857rem;
    width: 1.857rem;
  }

  %common-content-wrapper {
    height: 300px;
    width: 300px;
  }

  %common-application-content-wrapper {
    height: 60px;
    position: relative;
  }
}
