:local {
  .mock-theme-component {
    background-color: var(--terra-theme-provider-mock-background-color, #000);
    color: var(--terra-theme-provider-mock-color, #fff);
    display: var(--terra-theme-provider-mock-display, inline);
  }
}
