:local {
  .user-data {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
  }

  .photo {
    flex: 0 0 auto;
    height: var(--terra-application-user-data-photo-height, 3.571rem);
    margin-right: var(--terra-application-user-data-photo, 0.5714rem);
    width: var(--terra-application-user-data-photo-width, 3.571rem);
  }

  .user-info {
    flex: 1 1 auto;
    width: 100%;
  }

  .name {
    font-size: var(--terra-application-user-data-name-font-size, 1.143rem);
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
  }

  .detail {
    font-size: var(--terra-application-user-data-detail-font-size, 0.8571rem);
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
  }
}
