:local {
  .footer {
    flex: 0 0 auto;
    position: relative;
  }

  .container {
    outline: none;
    width: 100%;

    &.is-fill {
      height: 100%;
    }
  }

  .content-header {
    background-color: var(--terra-application-navigation-popup-content-header-background-color, rgba(255, 255, 255, 0.7));
    border-bottom: var(--terra-application-navigation-popup-content-header-border-bottom, 1px solid #96c2fe);
  }

  .utility-list {
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;

    > * {
      border-bottom: var(--terra-application-navigation-popup-list-child-border-bottom, 1px solid rgba(255, 255, 255, 0.5));
    }
  }
}

