:local {    
  .footer {
    flex: 0 0 auto;
    position: relative;
  }

  .container {
    background-image: radial-gradient(48% 116%, rgba(255,255,255,0.97) 50%, rgba(233,243,249,0.97) 100%); // TODO: REMOVE
  }

  .content-header {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #96c2fe;
  }

  .utility-list {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;

    > * {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}

