:local {
  .infinite-list {
    display: block;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; // Ensures scrollbars do not affect width in IE10
    position: relative;
    width: 100%;
  }

  .infinite-hidden {
    border: 0;
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .full-loading {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .loading {
    display: block;
    position: relative;
    width: 100%;
  }

  .spacer {
    display: block;
    position: relative;
    width: 100%;
  }
}
