:local {
  .orion-fusion-theme {
    --terra-table-cell-border-bottom: 1px solid #c8cacb;
    --terra-table-cell-border-left: 1px solid #c8cacb;
    --terra-table-cell-border-right: 1px solid #c8cacb;
    --terra-table-last-pinned-cell-border-right: 2px solid #c8cacb;
    --terra-table-cell-selected-background-color: #cbe7fa;
    --terra-table-odd-row-hover-background-color: #e0f2fb;
    --terra-table-even-row-hover-background-color: #d6e8f2;
    --terra-table-pinned-columns-cell-border: 1px solid #c8cacb;
    --terra-table-cell-content-padding: 0.25rem 0.41666667rem;

    &.cell:focus {
      --terra-table-cell-focus-outline: none;
      box-shadow: inset 0 0 1px 3px rgba(76, 178, 233, 0.5), inset 0 0 7px 4px rgba(76, 178, 233, 0.35);
    }
  }
}
