:local {
  .orion-fusion-theme {
    // Column Headers
    --terra-table-column-header-text-color: #4e5356;
    --terra-table-column-header-background-color: #f4f4f4;
    --terra-table-column-header-border-bottom: 2px solid #9b9fa1;
    --terra-table-column-header-border-left: 1px solid #c8cacb;
    --terra-table-column-header-border-right: 1px solid #c8cacb;
    --terra-table-column-header-border-top: 1px solid #c8cacb;

    // Pinned Column Divider
    --terra-table-last-pinned-header-border-right: 2px solid #c8cacb;

    // Hover
    --terra-table-header-hover-background-color: #d5e7f2;
  }
}
