:local {
  .orion-fusion-theme {
    &.input:focus {
      box-shadow: 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.5);
      outline: none;
    }

    &.input.highlighted:focus {
      box-shadow: 0 0 1px 3px rgba(27, 151, 218, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35);
      outline: none;
    }
  }
}
