@import '~terra-mixins/lib/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-collapsible-menu-view-chevron-right-padding: 0 0 0 0.714rem;
    --terra-collapsible-menu-view-control-margin-left: 0.10141rem;
    --terra-collapsible-menu-view-divider-border-right: 1px solid #6f7477;
    --terra-collapsible-menu-view-divider-height: 2.143rem;
    --terra-collapsible-menu-view-item-focus-outline: 2px dashed #fff;
    --terra-collapsible-menu-view-item-padding-left: 0.714rem;
    --terra-collapsible-menu-view-menu-button-focus-outline-offset: -2px;
    --terra-collapsible-menu-view-menu-button-padding-left: 0.5rem;
  }
}
