:local {
  .redwood-theme {
    --terra-modal-manager-background-color: var(--modal-background-color);
    --terra-modal-manager-border: none;
    --terra-modal-manager-border-radius: var(--modal-border-radius);
    --terra-modal-manager-box-shadow: var(--modal-box-shadow);
    --terra-modal-manager-foreground-color: inherit;
  }
}
