:local {
  .orion-fusion-theme {
    --terra-application-links-tabs-collapsed-color: #1c1f21;
    --terra-application-links-tabs-collapsed-font-size: 1rem;
    --terra-application-links-tabs-collapsed-icon-font-size: 0.8571rem;
    --terra-application-links-tabs-collapsed-icon-padding-right: 0.7143rem;
    --terra-application-links-tabs-collapsed-padding-bottom: 0.8225rem;
    --terra-application-links-tabs-collapsed-padding-left: 1.2143rem;
    --terra-application-links-tabs-collapsed-padding-right: 0.7143rem;
    --terra-application-links-tabs-collapsed-padding-top: 0.8225rem;
    --terra-application-links-tabs-collapsed-hover-background-color: #f5fafe;
    --terra-application-links-tabs-collapsed-selected-background-color: #f4f4f4;
    --terra-application-links-tabs-collapsed-selected-border-left: 0.5rem solid #007cc3;
    --terra-application-links-tabs-collapsed-selected-font-weight: 600;
    --terra-application-links-tabs-collapsed-selected-padding-left: 0.7143rem;
    --terra-application-links-tabs-collapsed-selected-before-background-image: none;
    --terra-application-links-tabs-collapsed-active-focus-background-color: transparent;
    --terra-application-links-tabs-collapsed-active-focus-box-shadow: 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35);
    --terra-application-links-tabs-collapsed-icon-color: #4983d1;

    --terra-application-links-tabs-container-padding-left: 1.42857rem;
    --terra-application-links-tabs-icon-font-size: 1.7142857rem;
    --terra-application-links-tabs-tab-font-size: 0.92857rem;
    --terra-application-links-tabs-tab-font-weight: normal;
    --terra-application-links-tabs-tab-line-height: 1.4;
    --terra-application-links-tabs-menu-list-padding-bottom: 0.125rem;
    --terra-application-links-tabs-menu-list-padding-top: 0.125rem;

    --terra-application-links-tabs-tab-text-transform: none;
    --terra-application-links-tabs-tab-transition-duration: 0s;
    --terra-application-links-tabs-tab-transition-timing-function: none;
    --terra-application-links-tabs-tab-width: 13rem;

    --terra-application-links-tabs-menu-arrow-margin-left: 0.2857rem;
    --terra-application-links-tabs-menu-content-background-color: transparent;
    --terra-application-links-tabs-menu-content-color: #1c1f21;

    --terra-application-links-tabs-tab-active-focus-background-color: none;
    --terra-application-links-tabs-tab-active-focus-box-shadow: inset 0 0 0 4px rgba(118, 179, 209, 0.65);

    --terra-application-links-tabs-tab-background-position: top, left;
    --terra-application-links-tabs-tab-background-size: 0 5px;
    --terra-application-links-tabs-tab-background-color: transparent;
    --terra-application-links-tabs-tab-box-shadow: none;
    --terra-application-links-tabs-tab-color: #fff;

    --terra-application-links-tabs-tab-divider-before-background-color: #0079be;
    --terra-application-links-tabs-tab-divider-before-background-image: none;
    --terra-application-links-tabs-tab-divider-before-border-left: 1px solid rgba(0, 0, 0, 0.17);
    --terra-application-links-tabs-tab-divider-before-border-right: 1px solid rgba(255, 255, 255, 0.17);
    --terra-application-links-tabs-tab-divider-before-width: 2px;

    --terra-application-links-tabs-tab-hover-background-color: rgba(0, 0, 0, 0.15);

    --terra-application-links-tabs-tab-position-left: 2px;
    --terra-application-links-tabs-tab-padding-left: 1.0715rem;
    --terra-application-links-tabs-tab-padding-right: 1.0715rem;
    --terra-application-links-tabs-tab-transition-duration: 0s;
    --terra-application-links-tabs-tab-transition-timing-function: ease;
    --terra-application-links-tabs-tab-divider-before-width: 2px;
    --terra-application-links-tabs-icon-font-size: 1.7142857rem;

    --terra-application-links-tabs-tab-selected-active-focus-background-color: rgba(0, 0, 0, 0.15);
    --terra-application-links-tabs-tab-selected-active-focus-box-shadow: inset 0 0 0 4px rgba(118, 179, 209, 0.65), inset 0 -15px 30px -5px rgba(0, 0, 0, 0.3);
    --terra-application-links-tabs-tab-selected-background-color: rgba(0, 0, 0, 0.15);
    --terra-application-links-tabs-tab-selected-background-image: linear-gradient(to bottom, #5cc2f9, #5cc2f9);
    --terra-application-links-tabs-tab-selected-box-shadow: none;
    --terra-application-links-tabs-tab-selected-divider-before-background-color: #0079be;
    --terra-application-links-tabs-tab-selected-divider-before-background-image: none;
    --terra-application-links-tabs-tab-selected-divider-before-border-left-color: rgba(255, 255, 255, 0.17);
    --terra-application-links-tabs-tab-selected-divider-before-border-right-color: rgba(0, 0, 0, 0.17);
    --terra-application-links-tabs-tab-selected-font-weight: 500;
    --terra-application-links-tabs-tab-selected-text-shadow: none;
    --terra-application-links-tabs-tab-selected-background-size: 13.215rem 6px;

    --terra-application-links-tabs-wrapper-padding-left: 1.42857rem;
    --terra-application-links-tabs-wrapper-padding-right: 1.42857rem;

  }
}
