// stylelint-disable scss/at-mixin-pattern

@mixin popup-area-common($height, $width, $position: null) {
  background: #f0f8ff;
  height: $height;
  width: $width;

  @if $position {
    position: $position;
  }
}

@mixin popup-button-common($height, $width) {
  background-color: #c00;
  height: $height;
  position: absolute;
  width: $width;
}

@mixin popup-default-button($left) {
  left: $left;
  position: absolute;
}

@mixin content-wrapper-common($overflow) {
  height: 100%;
  overflow: $overflow;
  position: relative;
  width: 100%;
}

:local {
  %popup-text-common {
    padding: 5px;
  }

  %popup-text-height {
    height: 400px;
  }

  %popup-text-width {
    width: 400px;
  }
}
