:local {
  .test-popup-area {
    background: #f0f8ff;
    height: 200px;
    position: relative;
    width: 200px;
  }

  .popup-text {
    padding: 5px;
  }

  .popup-button {
    background-color: #c00;
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px;
  }
}
