:local {
  .test-popup-area {
    background: #f0f8ff;
    height: 300px;
    width: 500px;
  }

  .popup-text {
    height: 400px;
  }

  .popup-button {
    left: 200px;
    position: absolute;
  }
}
