:local {
  .content-wrapper {
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
  }

  .popup-area-small {
    background: #f0f8ff;
    height: 80px;
    width: 210px;
  }

  .popup-area-medium {
    background: #f0f8ff;
    height: 160px;
    width: 350px;
  }

  .popup-area-invalid {
    background: #f0f8ff;
    height: 300px;
    width: 300px;
  }
}
