:local {
  .test-popup-area {
    background: #f0f8ff;
    height: 300px;
    width: 1000px;
  }

  .content-wrapper {
    height: 100%;
    overflow: scroll;
    position: relative;
    width: 100%;
  }
}
