:local {
  .content-wrapper {
    padding: 10px;
  }

  .tab-content-template {
    height: 100%;
    padding: 10px;
  }

  .custom-display {
    color: #f00;
  }

  .content-container {
    height: 400px;
    padding: 25px;
  }

  .content-container-vertical {
    height: 240px;
  }
}
