// Themes
@import './clinical-lowlight-theme/EmbeddedContentConsumer.module';
@import './orion-fusion-theme/EmbeddedContentConsumer.module';

:local {
  .visually-hidden-text {
    height: 0;
  }

  .iframe-focus-style {
    outline: var(--terra-embedded-content-consumer-focus-outline, 2px dashed #000);
    outline-offset: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .xfc-iframe-margin {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
