// Themes
@import './clinical-lowlight-theme/EmbeddedContentConsumer.module';
@import './orion-fusion-theme/EmbeddedContentConsumer.module';

:local {
  $focus-outline: var(--terra-embedded-content-consumer-focus-outline, 2px dashed #000);
  .focus-outline {
    outline: $focus-outline;
  }

  $blur-outline: var(--terra-embedded-content-consumer-blur-outline, none);
  .blur-outline {
    outline: $blur-outline;
  }

  :export {
    focusOutline: $focus-outline;
    blurOutline: $blur-outline;
  }
}
