// Themes
@import './clinical-lowlight-theme/EmbeddedContentConsumer.module';
@import './orion-fusion-theme/EmbeddedContentConsumer.module';

:local {
  /* stylelint-disable terra/custom-property-name */
  $blur-outline: var(--terra-embedded-content-consumer-blur-outline, none);
  $focus-outline: var(--terra-embedded-content-consumer-focus-outline, 2px dashed #000);

  :export {
    /* stylelint-disable property-no-unknown */
    blurOutline: $blur-outline;
    focusOutline: $focus-outline;
  }
}
