:local {
  iframe {
    border: 0;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .visually-hidden-text {
    flex: 0 1 auto;
  }

  .embedded-content-wrapper {
    flex: 1 1 auto;
  }
}
