:local {
  .date-time-picker {
    .date-facade {
      display: inline-block;
      margin: 0 0.5rem 0 0;
      vertical-align: top;
    }

    .time-facade {
      display: inline-block;
    }
  }
}
