# Set default code owners for all files in repo
* @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-date-picker/ @benbcai @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-date-time-picker/ @benbcai @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-time-input/ @benbcai @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-form-validation/ @BenBoersma @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-menu/ @jmsv6d @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-collapsible-menu/ @jmsv6d @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-tabs/ @jmsv6d @mjhenkes @ryanthemanuel @tbiethman @dkasper-was-taken
terra-hookshot/ @dkasper-was-taken @mjhenkes @ryanthemanuel @tbiethman
terra-popup/ @dkasper-was-taken @mjhenkes @ryanthemanuel @tbiethman
terra-application-naviagtion/ @dkasper-was-taken @mjhenkes @ryanthemanuel @tbiethman
terra-application/ @dkasper-was-taken @mjhenkes @ryanthemanuel @tbiethman
terra-infinite-list/ @dkasper-was-taken @mjhenkes @ryanthemanuel @tbiethman
