// stylelint-disable scss/at-mixin-pattern

@mixin content-wrapper1-common($height) {
  border: 4px dashed #d3d3d3;
  height: $height;
  margin: 5px;
  position: relative;
  width: calc(100% - 10px);
}

@mixin content-wrapper2-common($top) {
  color: #808080;
  left: 50%;
  position: absolute;
  top: $top;
  transform: translateX(-50%);
}

:local {
  %content-text-common {
    margin: 0;
  }

  %button-common {
    border: 1px dashed #d3d3d3;
    display: inline;
    height: 25px;
    margin-left: 5px;
  }
}
