:local {
  .application-header {
    background-color: var(--terra-application-header-background-color, #0079be);
    background-image: var(--terra-application-header-background-image);
    border: var(--terra-application-header-border, 0.07143rem solid rgba(255, 255, 255, 0.17));
    height: var(--terra-application-header-height, 3.5725rem);
    position: relative;
    
    &::before {
      background-color: var(--terra-application-layout-header-before-background-color, transparent);
      background-image: var(--terra-application-layout-header-before-background-image, none);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .toolbar-toggle {
    align-items: center;
    border-right: var(--terra-application-header-toggle-border-right, 0.07143rem solid rgba(255, 255, 255, 0.17));
    box-shadow: var(--terra-application-header-toggle-box-shadow, inset -0.07143rem 0 0 0 rgba(0, 0, 0, 0.17));
    height: 100%;
    width: var(--terra-application-header-toggle-width, 3.5725rem);
  }

  .toggle-button {
    background-color: var(--terra-application-header-toggle-background-color, transparent);
    border: 0;
    color: var(--terra-application-header-toggle-color, #fff);
    cursor: pointer;
    height: 100%;
    width: 100%;

    > svg {
      height: var(--terra-application-header-toggle-icon-height, 1rem);
      width: var(--terra-application-header-toggle-icon-width, 1rem);
    }
  }

  .toggle-button:hover {
    background-color: var(--terra-application-header-toggle-hover-background-color, rgba(0, 0, 0, 0.15));
  }
}
