.cm-container {
    height: 100%;

    display: flex;
    align-content: stretch;

    .cm-backRegion {
      flex: 0 1 auto;
    }

    .cm-contentRegion {
      flex: 1 1 auto;
    }

    .cm-link {
      color: #1c1f21;
      display: block;
      font-size: 15px;
      line-height: 45px;
      text-decoration: none;
      padding: 0 10px;
      &:hover {
        background: linear-gradient(-90deg, #FFFFFF, #F1F1F2);
      }

      &[aria-current='true'] {
        background-image: linear-gradient(-270deg, #FFFFFF, #e8e9ea);
        box-shadow: inset 7px 0 0 0 #007CC3;
        padding: 0 17px;
      }
    }
  }
