:local {
  .clinical-lowlight-theme {
    --terra-application-utility-header-background-color: transparent;
    --terra-application-utility-header-body-item-background-color: #222a2e;
    --terra-application-utility-header-body-item-checkmark-color: #c5c5c6;
    --terra-application-utility-header-body-item-checkmark-focus-color: #c5c5c6;
    --terra-application-utility-header-body-item-checkmark-hover-color: #c5c5c6;
    --terra-application-utility-header-body-item-chevron-color: #c5c5c6;
    --terra-application-utility-header-body-item-chevron-focus-color: #c5c5c6;
    --terra-application-utility-header-body-item-chevron-hover-color: #c5c5c6;
    --terra-application-utility-header-body-item-focus-background-color: #1e3a49;
    --terra-application-utility-header-body-item-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-application-utility-header-body-item-font-color: #b2b5b6;
    --terra-application-utility-header-body-item-hover-background-color: #1e3a49;
    --terra-application-utility-header-footer-item-font-color: #b2b5b6;
    --terra-application-utility-header-body-item-font-size: 1rem;
    --terra-application-utility-header-body-item-margin-bottom: 0.3571rem;
    --terra-application-utility-header-body-item-margin-top: 0.3571rem;
    --terra-application-utility-header-body-item-padding-bottom: 0.3571rem;
    --terra-application-utility-header-body-item-padding-left: 0.2143rem;
    --terra-application-utility-header-body-item-padding-top: 0.3571rem;
    --terra-application-utility-header-body-item-margin-left: 0.6429rem;
    --terra-application-utility-header-body-item-margin-right: 0.6429rem;
    --terra-application-utility-header-body-item-checkmark-margin-left: 0.2857rem;
    --terra-application-utility-header-body-item-checkmark-margin-right: 0.6rem;
    --terra-application-utility-header-body-item-checkmark-width: 0.7143rem;
    --terra-application-utility-header-body-item-chevron-margin-right: 0.2143rem;
    --terra-application-utility-header-body-item-chevron-width: 0.7143rem;
    --terra-application-utility-header-footer-item-background-color: #222a2e;
    --terra-application-utility-header-footer-item-font-size: 1rem;
    --terra-application-utility-header-footer-item-margin-bottom: 0.7143rem;
    --terra-application-utility-header-footer-item-margin-left: 0.7143rem;
    --terra-application-utility-header-footer-item-margin-right: 0.7143rem;
    --terra-application-utility-header-footer-item-margin-top: 0;

    --terra-application-utility-menu-body-item-background-color: #222a2e;
    --terra-application-utility-menu-body-item-checkmark-color: #c5c5c6;
    --terra-application-utility-menu-body-item-checkmark-focus-color: #c5c5c6;
    --terra-application-utility-menu-body-item-checkmark-hover-color: #c5c5c6;
    --terra-application-utility-menu-body-item-chevron-color: #c5c5c6;
    --terra-application-utility-menu-body-item-chevron-focus-color: #c5c5c6;
    --terra-application-utility-menu-body-item-chevron-hover-color: #c5c5c6;
    --terra-application-utility-menu-body-item-focus-background-color: #1e3a49;
    --terra-application-utility-menu-body-item-focus-box-shadow: 0 0 1px 3px #004c76, 0 0 7px 4px #004c76;
    --terra-application-utility-menu-body-item-font-color: #b2b5b6;
    --terra-application-utility-menu-body-item-hover-background-color: #1e3a49;
    --terra-application-utility-menu-footer-item-background-color: #222a2e;
    --terra-application-utility-menu-footer-item-font-color: #b2b5b6;
    --terra-application-utility-menu-body-item-font-size: 1rem;
    --terra-application-utility-menu-body-item-margin-bottom: 0.3571rem;
    --terra-application-utility-menu-body-item-margin-top: 0.3571rem;
    --terra-application-utility-menu-body-item-padding-bottom: 0.3571rem;
    --terra-application-utility-menu-body-item-padding-left: 0.2143rem;
    --terra-application-utility-menu-body-item-padding-top: 0.3571rem;
    --terra-application-utility-menu-body-item-margin-left: 0.6429rem;
    --terra-application-utility-menu-body-item-margin-right: 0.6429rem;
    --terra-application-utility-menu-body-item-checkmark-margin-left: 0.2857rem;
    --terra-application-utility-menu-body-item-checkmark-margin-right: 0.5rem;
    --terra-application-utility-menu-body-item-checkmark-width: 0.7143rem;
    --terra-application-utility-menu-body-item-chevron-margin-right: 0.2143rem;
    --terra-application-utility-menu-body-item-chevron-width: 0.7143rem;
    --terra-application-utility-menu-footer-item-font-size: 1rem;
    --terra-application-utility-menu-footer-item-margin-bottom: 0.7143rem;
    --terra-application-utility-menu-footer-item-margin-left: 0.7143rem;
    --terra-application-utility-menu-footer-item-margin-right: 0.7143rem;
    --terra-application-utility-menu-footer-item-margin-top: 0;
  }
}
