:local {
  .clinical-lowlight-theme {
    --terra-application-utility-header-type-menu-background-color: #222a2e;
    --terra-application-utility-menu-type-menu-background-color: #222a2e;
    --terra-application-utility-header-type-menu-header-color: #b2b5b6;
    --terra-application-utility-header-type-menu-header-font-size: 1rem;
    --terra-application-utility-header-type-menu-header-font-weight: normal;
    --terra-application-utility-header-type-menu-header-line-height: 1.2;
    --terra-application-utility-header-type-menu-header-margin-top: 0.7143rem;
    --terra-application-utility-menu-type-menu-header-color: #b2b5b6;
    --terra-application-utility-menu-type-menu-header-font-size: 1rem;
    --terra-application-utility-menu-type-menu-header-font-weight: normal;
    --terra-application-utility-menu-type-menu-header-line-height: 1.2;
    --terra-application-utility-menu-type-menu-header-margin-top: 0.7143rem;
    --terra-application-utility-header-type-menu-header-min-height: 0;
    --terra-application-utility-header-type-menu-header-margin-bottom: 0.7143rem;
    --terra-application-utility-menu-type-menu-header-margin-bottom: 0.7143rem;
    --terra-application-utility-header-type-menu-initial-page-header-text-margin-left: 0.7143rem;
    --terra-application-utility-menu-type-menu-initial-page-header-text-margin-left: 0.7143rem;
    --terra-application-utility-header-type-menu-noninitial-page-header-text-margin-left: 0;
    --terra-application-utility-menu-type-menu-noninitial-page-header-text-margin-left: 0;
    --terra-application-utility-header-type-menu-back-icon-width: 0.7143rem;
    --terra-application-utility-menu-type-menu-back-icon-width: 0.7143rem;
    --terra-application-utility-header-type-menu-page-close-icon-width: 1rem;
    --terra-application-utility-menu-type-menu-page-close-icon-width: 1rem;
    --terra-application-utility-menu-margin-bottom: 0;
  }
}
