@import './ModularTabs.module';
@import './StructuralTabs.module';

:local {
  .tab-pane {
    background-color: aliceblue;
    outline: none;
    overflow: hidden;
    width: 100%;
  }

  .fill {
    height: 100%;
    position: relative;
  }

  .scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
