@import './StructuralTabs.module';

:local {
  .pane {
    border: 1px solid #a5a3a3;
    background-color: aliceblue;
    overflow: hidden;
    width: 100%;
  }

  .fill {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }
}
