@import './ModularTabs.module';
@import './StructuralTabs.module';
@import '~terra-mixins/lib/Mixins';
// Themes
@import './clinical-lowlight-theme/Tabs.module';
@import './orion-fusion-theme/Tabs.module';

:local {  
  .tabs-container {
    width: 100%;
  }

  .collapsible-tabs-container,
  .collapsed-tabs-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .collapsible-tabs-container.is-calculating {
    visibility: hidden;

    /*
     * During calculations tabs should display with auto size and not grow or shrink in order to get
     * content width for truncation logic
     */
    .tab {
      flex: 0 0 auto;
    }
  }

  .tab,
  .tab-menu {
    cursor: pointer;
    font-size: var(--terra-tabs-font-size, 1rem);
    font-weight: var(--terra-tabs-font-weight, normal);
    line-height: var(--terra-tabs-line-height, 1.4);
    padding: var(--terra-tabs-padding, 0.643rem 1.071rem);
  }

  .tab,
  .tab-menu span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }

  .tab {
    flex: 0 1 auto;
    min-width: 8.357rem;
    text-align: center;

    &[data-terra-tabs-show-focus-styles='true']:focus {
      box-shadow: var(--terra-tabs-focus-box-shadow, none);
      outline: var(--terra-tabs-focus-outline, 2px dashed #000);
      outline-offset: var(--terra-tabs-focus-outline-offset, -5px);
    }

    &.is-icon-only {
      flex: 0 0 auto;
      min-width: 2.571rem;
      padding: 0.5rem 0;
    }

    &.is-text-only {
      min-width: 7.143rem;
      padding: var(--terra-tabs-text-only-padding, 0.643rem 1.071rem);
    }

    .label:nth-child(2) {
      margin-left: var(--terra-tabs-label-next-to-icon-margin-left, 0.357rem);
    }
  }

  .tab-menu {
    align-items: baseline;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    min-width: 7.143rem;

    span {
      flex: 0 1 auto;
      min-width: 0;
    }

    svg {
      flex: 0 0 auto;
      font-size: 0.571rem;
      margin-left: var(--terra-tabs-menu-arrow-margin-left, 0.5rem);
    }

    .active-tab-icon {  
      margin-right: var(--terra-tabs-menu-icon-margin-right, 0.5rem);
  
      /* stylelint-disable-next-line selector-max-compound-selectors */
      svg {
        font-size: var(--terra-tabs-menu-icon-font-size, 1rem);
      }
    }
  }

  .collapsed-tabs-container .tab-menu {
    justify-content: var(--terra-tabs-menu-collapsed-justify-content, center);

    /* stylelint-disable-next-line selector-max-compound-selectors */
    span {
      white-space: normal;
    }
  }

  .pane-content {
    &.fill-parent {
      height: 100%;
    }
  }


  .close-icon {
    display: inline-block;
     width: 16px;
     height: 16px;
     background-color: #e4dede;
     color: white;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    margin-left: 10px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    
  }
  
  .close-icon:hover {
    background-color: #7f7b7b;
  }
  
  .close-icon:active {
    background-color: #7f7b7b;
  }


  .pill-remove-button {
    //background-color: var(--terra-pills-pill-remove-button-background-color, #9c9898);
    border: 0;
    border-radius: 50%;
    align-items: center;
  //  border-bottom-right-radius: var(--terra-pills-pill-remove-button-border-bottom-right-radius, 0.85714rem);
   // border-top-right-radius: var(--terra-pills-pill-remove-button-border-top-right-radius, 0.85714rem);
   // box-shadow: var(--terra-pills-pill-remove-button-box-shadow, 1px 0 0 0 #868a8c);
    box-sizing: border-box;
    color: var(--terra-pills-pill-remove-button-color, #ffffff);
    cursor: pointer;
    display: inline-block;
    font-family: inherit; // Button reset
    height: var(--terra-pills-pill-remove-button-height, 1.57143rem);
    line-height: 0;
    margin: 0;
    min-width: var(--terra-pills-pill-remove-button-min-width, 1.64285rem);
    outline: none;
    overflow: hidden;
    padding: 0;
    pointer-events: auto;
    right: var(--terra-pills-pill-remove-button-right, 0.5rem);
    text-align: start;
    top: var(--terra-pills-pill-remove-button-top, 0.35714rem);
    touch-action: manipulation; // Enable fast tap interaction in webkit browsers; see https://webkit.org/blog/5610/more-responsive-tapping-on-ios/
    user-select: none; // Prevent text selection on buttons in mobile devices;
    vertical-align: top;
    z-index: 1;
    margin-left: 10px;

    &:hover {
      background-color: var(--terra-pills-pill-remove-button-hover-background-color, #b9bdbe);
     // box-shadow: var(--terra-pills-pill-remove-button-hover-box-shadow, 1px 0 0 0 #868a8c);

      &::before {
        background-color: var(--terra-pills-pill-remove-button-hover-before-background-color, #dedfe0);
        border-color: var(--terra-pills-pill-remove-button-hover-before-border-color, #d3d4d5);
      }

      .clear-icon {
        color: var(--terra-pills-pill-remove-button-hover-clear-icon-color, #222a2e);
      }
    }

    &:active {
      background-color: var(--terra-pills-pill-remove-button-active-background-color, #fff);
     // box-shadow: var(--terra-pills-pill-remove-button-active-box-shadow, 1px 0 0 0 #868a8c);

      &::before {
        background-color: var(--terra-pills-pill-remove-button-active-before-background-color, #bcbfc0);
        border-color: var(--terra-pills-pill-remove-button-active-before-border-color, #d3d4d5);
      }

      .clear-icon {
        color: var(--terra-pills-pill-remove-button-active-clear-icon-color, #222a2e);
      }
    }

    &:hover,
    &:active {
      .clear-icon {
        background-image: var(--terra-pills-pill-remove-button-hover-active-clear-icon-background-image, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#222a2e" d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>'));
      }
    }

    &:focus {
      outline: none;
    }
  }

  .clear-icon {
    background-clip: border-box;
    background-image: var(--terra-pills-clear-icon-background-image, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#4d5153" d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>'));
    background-origin: padding-box;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
    box-sizing: border-box;
    display: block;
    font-family: inherit; // Button reset
    height: var(--terra-pills-clear-icon-height, 0.71429rem);
    line-height: 0;
    margin-bottom: var(--terra-pills-clear-icon-margin-bottom, 0.42857rem);
    margin-left: var(--terra-pills-clear-icon-margin-left, 0.42857rem);
    margin-right: var(--terra-pills-clear-icon-margin-right, 0.5rem);
    margin-top: var(--terra-pills-clear-icon-margin-top, 0.42857rem);
    outline: none; // Button reset
    padding: 0;
    pointer-events: none;
    position: relative; // Button reset for IE
    right: 0; // Button reset for IE
    text-align: center;
    top: 0; // Button reset for IE
    user-select: none; // Prevent text selection on buttons in mobile devices;
    width: var(--terra-pills-clear-icon-width, 0.71429rem);
    z-index: 3;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: var(--terra-pills-clear-icon-ms-height, 0.71429rem);
      top: var(--terra-pills-clear-icon-ms-top, 0);
      width: var(--terra-pills-clear-icon-ms-width, 0.71429rem);
    }
  }



}
