.MockThemeComponent-module__mock-theme-component___1xZXm{color:#fff;color:var(--terra-theme-provider-mock-color, #fff);display:inline;display:var(--terra-theme-provider-mock-display, inline)}[dir] .MockThemeComponent-module__mock-theme-component___1xZXm{background-color:#000;background-color:var(--terra-theme-provider-mock-background-color, #000)}

.cerner-mock-theme{--terra-base-font-size: 20px;--terra-base-background-color: #f00;--terra-base-color: #0f0;--terra-theme-provider-mock-background-color: #f00;--terra-theme-provider-mock-color: #00f;--terra-theme-provider-mock-display: inline-block}

[dir] .DefaultThemeProvider-module__theme-switcher-wrapper___21M11{margin-bottom:1rem}

