.SizeLargePopup-test-module__test-popup-area___79g4B{height:300px;width:1000px}[dir] .SizeLargePopup-test-module__test-popup-area___79g4B{background:#f0f8ff}.SizeLargePopup-test-module__content-wrapper___2HUtB{height:100%;overflow:scroll;position:relative;width:100%}

