.MyInitialLoadingIndicator-module__indicator___3GFWh{display:block;height:100%;position:relative;width:100%}[dir] .MyInitialLoadingIndicator-module__indicator___3GFWh{background-color:#282828}

.InfiniteListDocExampleCommon-module__placeholder___1F6cs{height:50px}.InfiniteListDocExampleCommon-module__item-content___1EwQg{height:50px;width:100%}.InfiniteListDocExampleCommon-module__main-content___3YhfB{height:300px;position:relative;width:100%}[dir] .InfiniteListDocExampleCommon-module__main-content___3YhfB{border:1px solid #000}

.MyProgressiveLoadingIndicator-module__indicator___3tBAh{display:block;height:80px;width:100%}[dir] .MyProgressiveLoadingIndicator-module__indicator___3tBAh{background-color:#282828}

