[dir=ltr] .ApplicationHeaderUtilityExample-module__container___3RKDz{padding-left:4px}[dir=rtl] .ApplicationHeaderUtilityExample-module__container___3RKDz{padding-right:4px}.ApplicationHeaderUtilityExample-module__content-wrapper___2Ma2Z{height:60px;position:relative;width:150px}[dir] .ApplicationHeaderUtilityExample-module__content-wrapper___2Ma2Z{background-color:#0079be}

.ApplicationMenuUtilityExample-module__content-wrapper___1NdUk{height:60px;width:300px}[dir=ltr] .ApplicationMenuUtilityExample-module__content-wrapper___1NdUk{padding-left:4px}[dir=rtl] .ApplicationMenuUtilityExample-module__content-wrapper___1NdUk{padding-right:4px}

.MenuUtilityMenuExample-module__avatar___2nMcZ{height:1.857rem;width:1.857rem}.MenuUtilityMenuExample-module__content-wrapper___3pylM{height:300px;width:300px}

