// Themes
@import '../orion-fusion-theme/ColumnResizeHandle.module';
@import '../clinical-lowlight-theme/ColumnResizeHandle.module';

:local {
  .resize-handle {
    border-right: 4px solid transparent;
    cursor: col-resize;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    z-index: 1;
    
    &:focus {
      border-color: var(--terra-data-grid-resize-handle-focus-border-color, #007cc3) !important;
      outline: 0 !important;
    }

    &:hover {
      border-color: var(--terra-data-grid-resize-handle-hover-border-color, #909496);
    }
  }
}
