// Themes
@import '../orion-fusion-theme/Row.module';
@import '../clinical-lowlight-theme/Row.module';

:local {
  .worklist-data-grid-row {
    &.selectable:hover {
      background-color: var(--terra-worklist-data-grid-row-hover-background-color, #e2f2fc);
      cursor: pointer;
    }

    &:nth-child(even) {
      background-color: var(--terra-worklist-data-grid-row-striped-even-background-color, #f0f0f0);
    }

    &:nth-child(odd) {
      background-color: var(--terra-worklist-data-grid-row-striped-odd-background-color, #fff);
    }

    &.selected {
      background-color: var(--terra-worklist-data-grid-row-selected-background-color, #cbe7fa);
      border-right: 1px solid #0092e0;

      // Add bottom border to cells in a selected row
      td,
      th {
        border-bottom: var(--terra-worklist-data-grid-row-highlight-border-bottom, 1px solid #0092e0);
      }
    }
  }

  // Add top border for first selected row or when not adjacent to a selected row
  /* stylelint-disable selector-max-compound-selectors */
  .worklist-data-grid-row.selected:first-child,
  .worklist-data-grid-row:not(.selected) + .worklist-data-grid-row.selected {
    td,
    th {
      border-top: var(--terra-worklist-data-grid-row-highlight-border-top, 1px solid #0092e0);
    }
  }
  /* stylelint-enable selector-max-compound-selectors */
}
