:local {
    .example-container { 
      position: relative;
    }

    .panel-container > div:first-child {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .header-content {
      background-color: #d3d3d3;

      p {
        width: auto;
        display: inline-block;
        margin: 0 !important;
      }
    }

    .header-content > :not(:last-child){
      margin-right: 5px;
    }
  
    .header-content h3 {
      display: inline-block;
      margin: 0;
      padding: 5px;
    }
  
    .content-wrapper {
      margin: 5px;
    }
    
    .custom-button {
      display: inline-block;
    }
  }