:local {
  .content-wrapper {
    height: 200px;
    overflow: auto;
  }

  .content-wrapper-large {
    height: 100vh;
  }

  .main-content {
    background-color: #f04769;
    height: 100%;
    width: 100%;
  }

  .panel-content {
    background-color: #00f;
    height: 100%;
    width: 100%;
  }

  .content-wrapper-toggle {
    border: 1px #d3d3d3 solid;
    height: 768px;
    position: relative;
    width: 100%;
  }

  .button {
    background-color: #008a00;
  }
}
