:local {
  .orion-fusion-theme{
    --terra-brand-footer-margin-bottom: 0;
    --terra-brand-footer-margin-left: 0;
    --terra-brand-footer-margin-right: 0;
    --terra-brand-footer-margin-top: 0;
    --terra-brand-footer-nav-background-color: #004c76;
    --terra-brand-footer-nav-color: #a6d9f4;
    --terra-brand-footer-nav-padding-bottom: 1rem;
    --terra-brand-footer-nav-padding-left: 1rem;
    --terra-brand-footer-nav-padding-right: 1rem;
    --terra-brand-footer-nav-padding-top: 1rem;
    --terra-brand-footer-vertical-nav-link-group-min-width: 240px;
    --terra-brand-footer-vertical-nav-link-group-padding-right: 1rem;
    --terra-brand-footer-vertical-nav-link-padding-bottom: 0.5rem;
    --terra-brand-footer-vertical-nav-link-padding-top: 0.5rem;
    --terra-brand-footer-vertical-nav-header-padding-bottom: 0.5rem;
    --terra-brand-footer-vertical-nav-header-padding-top: 0.5rem;
    --terra-brand-footer-horizontal-nav-first-link-before-padding-right: 1rem;
    --terra-brand-footer-horizontal-nav-link-separator-color: #a6d9f4;
    --terra-brand-footer-horizontal-nav-link-separator-padding-bottom: 0.5rem;
    --terra-brand-footer-horizontal-nav-link-separator-padding-top: 0.5rem;
    --terra-brand-footer-horizontal-nav-link-separator-padding-left: 0.5rem;
    --terra-brand-footer-horizontal-nav-link-separator-padding-right: 0.5rem;
    --terra-brand-footer-link-group-margin-bottom: 0;
    --terra-brand-footer-link-group-margin-top: 0;
    --terra-brand-footer-link-group-margin-left: 0;
    --terra-brand-footer-link-group-margin-right: 0;
    --terra-brand-footer-nav-header-color: #a6d9f4;
    --terra-brand-footer-nav-header-font-size: 1rem;
    --terra-brand-footer-nav-header-font-weight: 700;
    --terra-brand-footer-nav-header-line-height: 1.45;
    --terra-brand-footer-nav-header-text-transform: uppercase;
    --terra-brand-footer-link-color: #fff;
    --terra-brand-footer-nav-link-font-size: 1rem;
    --terra-brand-footer-nav-link-font-weight: 400;
    --terra-brand-footer-nav-link-line-height: 1.6;
    --terra-brand-footer-link-text-decoration: none;
    --terra-brand-footer-link-hover-color: #fff;
    --terra-brand-footer-link-hover-text-decoration: underline;
    --terra-brand-footer-link-active-color: #fff;
    --terra-brand-footer-link-active-text-decoration: underline;
    --terra-brand-footer-link-focus-color: #fff;
    --terra-brand-footer-link-focus-text-decoration: underline;
    --terra-brand-footer-footer-content-background-color: #004c76;
    --terra-brand-footer-footer-content-color: #a6d9f4;
    --terra-brand-footer-footer-content-padding-bottom: 1rem;
    --terra-brand-footer-footer-content-padding-top: 1rem;
    --terra-brand-footer-footer-content-padding-left: 1rem;
    --terra-brand-footer-footer-content-padding-right: 1rem;
    --terra-brand-footer-floating-content-margin-bottom: 0.5rem;
    --terra-brand-footer-content-bottom-margin-top: 0.5rem;
  }
}
