:local {
  .placeholder {
    height: 50px;
  }

  .item-content {
    height: 50px;
    width: 100%;
  }

  .main-content {
    border: 1px solid #000;
    height: 300px;
    position: relative;
    width: 100%;
  }
}
