:local {
  .orion-fusion-theme {
    --terra-compact-interactive-list-cell-focus-outline: 3px dashed #000;
    --terra-compact-interactive-list-cell-focus-outline-offset: -2px;
    --terra-compact-interactive-list-hover-background-color: #e0f2fb;
    --terra-compact-interactive-list-cell-selected-background-color: #cbe7fa;
  }
}
