:local {
  .orion-fusion-theme {
    --terra-compact-interactive-list-cell-focus-outline: 3px dashed #000;
    --terra-compact-interactive-list-cell-focus-outline-offset: -2px;
    
    --terra-compact-interactive-list-row-background-color: #fefffe;
    --terra-compact-interactive-list-row-border-top: 1px solid #c8cacb;
    --terra-compact-interactive-list-row-border-bottom: 1px solid #c8cacb;
    --terra-compact-interactive-list-row-border-left: 1px solid #c8cacb;
    --terra-compact-interactive-list-row-border-right: 1px solid #c8cacb;
  }
}
