:local {
  .orion-fusion-theme {  
    --terra-compact-interactive-list-row-background-color: #fefffe;
    --terra-compact-interactive-list-row-border-top: 1px solid #c8cacb;
    --terra-compact-interactive-list-row-border-bottom: 1px solid #c8cacb;
    --terra-compact-interactive-list-row-border-left: 1px solid #c8cacb;
    --terra-compact-interactive-list-row-border-right: 1px solid #c8cacb;
  }
}
