:local {
  .aggregator-disclosure-component-content-container-header {
    border-bottom: 1px solid #000;
    margin: 0;
  }

  .aggregator-disclosure-component-content-container-child {
    padding: 0.7rem;
  }
}
