:local {
  .content-wrapper {
    height: 100%;
  }

  .disclosure-accessory {
    background-color: #add8e6;
    padding: 1rem;
  }

  .disclosure-container {
    background-color: #b899f0;
    height: 100%;
    padding: 1rem;
  }
}
