:local {
  .content-left-graphics {
    border: 0;
    height: 40px;
    vertical-align: top;
    width: 92px;
  }

  .content-right-graphics {
    border: 0;
    height: 40px;
    vertical-align: top;
    width: 147px;
  }
}
