:local {
  .container {
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 400px;
  }

  .slide {
    background-color: #add8e6;
    height: 100%;
    padding: 5px;
  }

  .content-wrapper {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 400px;
  }

  .button {
    background-color: #d3d3d3;
  }

  .custom-slide {
    height: 200px !important;
  }
}
