:local {
  .container-style {
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 400px;
  }

  .slide-style {
    background-color: #add8e6;
    height: 100%;
    padding: 5px;
  }
}
