:local {
  .slide-panel {
    overflow: hidden;
    position: relative;
  }

  .main,
  .panel {
    box-sizing: border-box;

    height: 100%;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;

    width: 100%;
  }

  .main {
    background-color: var(--terra-slide-panel-main-background-color, #fff);
    position: relative;
    z-index: 0;
  }

  .panel {
    background-color: var(--terra-slide-panel-panel-background-color, #fff);
    position: absolute;
    z-index: 500; // z-index used to set master above detail in visual stacking context.
  }

  // Prevent z-index issues with nesting
  /* stylelint-disable selector-max-compound-selectors */
  .slide-panel .slide-panel > .panel {
    z-index: 499;
  }
  /* stylelint-enable selector-max-compound-selectors */

  [data-slide-panel-panel-position='start'] {
    > .main {
      float: right;
    }

    > .panel {
      transform: translate3d(-100%, 0, 0);
    }
  }

  [data-slide-panel-panel-position='end'] {
    > .main {
      float: left;
    }

    > .panel {
      right: 0;
      transform: translate3d(100%, 0, 0);
    }
  }

  // Move the slider back to its origin when its on-screen.
  .is-open > .panel {
    transform: translate3d(0, 0, 0);
  }

  @media all and (min-width: 768px) {
    // Set explicit width on larger screens
    [data-slide-panel-panel-size='small'] > .panel {
      width: var(--terra-slide-panel-panel-small-width, 320px);
    }

    [data-slide-panel-panel-size='large'] > .panel {
      width: calc(100% * var(--terra-slide-panel-panel-width-large-scalar, 0.6));
    }
  }

  // Overlay
  /* stylelint-disable max-nesting-depth */
  .is-open[data-slide-panel-panel-behavior='overlay'] {
    @media (min-width: 768px), print {
      &[data-slide-panel-panel-position='start'] > .panel {
        /* stylelint-disable selector-max-compound-selectors */
        [dir=ltr] & {
          box-shadow: var(--terra-slide-panel-panel-overlay-position-start-box-shadow, 1px 0 0 0 #cdced0, -16px 0 16px 14px rgba(77, 87, 92, 0.45), -12px 0 24px 18px rgba(100, 105, 108, 0.06), 0 0 100px 20px rgba(28, 31, 33, 0.04));
        }

        [dir=rtl] & {
          box-shadow: var(--terra-slide-panel-panel-overlay-position-end-box-shadow, -1px 0 0 0 #cdced0, 16px 0 16px 14px rgba(77, 87, 92, 0.45), 12px 0 24px 18px rgba(100, 105, 108, 0.06), 0 0 100px 20px rgba(28, 31, 33, 0.04));
        }
        /* stylelint-enable selector-max-compound-selectors */
      }

      &[data-slide-panel-panel-position='end'] > .panel {
        /* stylelint-disable selector-max-compound-selectors */
        [dir=ltr] & {
          box-shadow: var(--terra-slide-panel-panel-overlay-position-end-box-shadow, -1px 0 0 0 #cdced0, 16px 0 16px 14px rgba(77, 87, 92, 0.45), 12px 0 24px 18px rgba(100, 105, 108, 0.06), 0 0 100px 20px rgba(28, 31, 33, 0.04));
        }

        [dir=rtl] & {
          box-shadow: var(--terra-slide-panel-panel-overlay-position-start-box-shadow, 1px 0 0 0 #cdced0, -16px 0 16px 14px rgba(77, 87, 92, 0.45), -12px 0 24px 18px rgba(100, 105, 108, 0.06), 0 0 100px 20px rgba(28, 31, 33, 0.04));
        }
        /* stylelint-enable selector-max-compound-selectors */
      }
    }
  }
  /* stylelint-enable max-nesting-depth */

  // Squish
  .is-open[data-slide-panel-panel-behavior='squish'] {
    @media (min-width: 768px), print {
      > .main {
        background-color: var(--terra-slide-panel-main-squish-background-color, #fff);
      }

      &[data-slide-panel-panel-size='small'] > .main {
        width: calc(100% - #{var(--terra-slide-panel-panel-squish-width-small, 320px)});
      }

      &[data-slide-panel-panel-size='large'] > .main {
        width: calc(100% * (1 - #{var(--terra-slide-panel-panel-squish-width-large-scalar, 0.6)}));
      }

      > .panel {
        background-color: var(--terra-slide-panel-panel-squish-background-color, #fff);
      }

      &[data-slide-panel-panel-position='start'] > .panel {
        border-right: 1px solid transparent;
        border-right-color: var(--terra-slide-panel-panel-squish-border-right-color, #d3d4d5);
      }

      &[data-slide-panel-panel-position='end'] > .panel {
        border-left: 1px solid transparent;
        border-left-color: var(--terra-slide-panel-panel-squish-border-left-color, #d3d4d5);
      }
    }
  }

  // Fullscreen
  .is-fullscreen[data-slide-panel-panel-size] > .panel {
    width: 100%;
  }

  // Fill
  .fill {
    height: 100%;
    width: 100%;
  }

  .panel[aria-hidden='true'] {
    visibility: hidden;
  }
}
