@import '~terra-mixins/lib/Mixins';

:local {
  .date-input {
    display: flex;
  }

  .date-input-month-wrapper {
    background-color: #fff;
    display: inline-block;
    position: relative;

    &::after {
      background: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: inline-block; // IE 10
      height: 0.715rem;
      margin-top: -0.3rem;
      pointer-events: none;
      position: absolute;
      right: 0.7em;
      top: 50%;
      width: 1rem;
    }

    select {
      appearance: none;
      background: rgba(0, 0, 0, 0);
      border: 1px solid #dedfe0;
      border-radius: 3px;
      cursor: pointer;
      font-size: 1.143rem; // 16px allows correct zoom on iOS
      height: 2.143rem; // 30px
      margin: 0 2rem 0 0;
      outline: 0;
      padding: 0 0.3571rem;
      width: 100%;

      // Undo the Firefox inner focus ring
      &:focus:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }

      // .is-focused needed for Safari Mobile
      /* stylelint-disable selector-no-qualifying-type */
      &:focus,
      &.is-focused {
        border: 1px solid #4cb2e9;
      }
      /* stylelint-enable selector-no-qualifying-type */

      // Hide the arrow in IE 10 and IE 11
      &::-ms-expand {
        display: none;
      }
    }
  }

  .date-input-month {
    max-width: 24rem;
  }

  .date-input-day {
    max-width: 2.5rem;
  }

  .date-input-year {
    max-width: 3.8rem;
  }

  // Gutters
  .date-input-day ~ .date-input-month-wrapper,
  .date-input-month-wrapper ~ .date-input-day,
  .date-input-year {
    margin-left: 0.3571rem;
  }
}
