@import './clinical-lowlight-theme/MenuItem.module';
@import './orion-fusion-theme/MenuItem.module';

:local {
  .item {
    color: var(--terra-menu-item-color, #1c1f21); // Sets fill color for consumer provided themeable icons, plus checkmark and eIFU icons.
    cursor: default;
    margin: var(--terra-menu-item-margin, 0);
    padding: var(--terra-menu-item-padding, 0.286rem 0);

    &:not(.is-disabled) {
      cursor: pointer;

      /* stylelint-disable max-nesting-depth */
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--terra-menu-item-hover-background-color, #f4fefe);
          background-image: var(--terra-menu-item-hover-background-image, linear-gradient(to bottom, #e1f2fd 2%, #ebf6fe 30%, #f4fafe 80%));
          box-shadow: var(--terra-menu-item-hover-box-shadow, inset 0 0 0 1px #e1f2fd);
        }

        &.is-highlighted:hover {
          background-color: var(--terra-menu-item-highlighted-hover-background-color, #d1ebfb);
          background-image: var(--terra-menu-item-highlighted-hover-background-image, linear-gradient(to bottom, #b3ddf8 2%, #c8e9fe 30%, #d1ebfb 80%));
          box-shadow: var(--terra-menu-item-highlighted-hover-box-shadow, inset 0 0 0 1px #e1f3fd);
        }

        &:hover .chevron {
          color: var(--terra-menu-item-chevron-hover-icon-color, rgba(28, 31, 33, 0.7));
        }
      }

      /* stylelint-enable max-nesting-depth */
      &:focus {
        background-color: var(--terra-menu-item-focus-background-color, #ebf6fd);
        box-shadow: var(--terra-menu-item-focus-box-shadow, none);
        outline: var(--terra-menu-item-focus-outline, 2px dashed #000);
        outline-offset: var(--terra-menu-item-focus-outline-offset, -2px);
      }

      &:focus .chevron {
        color: var(--terra-menu-item-chevron-focus-icon-color, rgba(28, 31, 33, 1));
      }
    }
  }

  .item:active:not(.is-disabled),
  .active {
    background-color: var(--terra-menu-item-active-background-color, #ebf6fd);

    .text {
      color: var(--terra-menu-item-active-text-color, #1c1f21);
    }
  }

  .is-disabled {
    .text {
      opacity: var(--terra-menu-item-disabled-text-opacity, 0.25);
    }

    .chevron {
      color: var(--terra-menu-item-disabled-chevron-icon-color, rgba(155, 159, 161, 0.3));
    }

    .start-icon {
      opacity: var(--terra-menu-item-disabled-start-icon-opacity, 0.25);
    }

    &:focus {
      box-shadow: var(--terra-menu-item-focus-box-shadow, none);
      outline: var(--terra-menu-item-focus-outline, 2px dashed #000);
      outline-offset: var(--terra-menu-item-focus-outline-offset, -2px);
    }
  }

  .is-top-level .text {
    margin-right: var(--terra-menu-item-top-level-text-margin-right, 0);
  }

  .text {
    color: var(--terra-menu-item-text-color, #1c1f21);
    font-size: var(--terra-menu-item-text-font-size, 0.928571429rem);
    font-weight: var(--terra-menu-item-text-font-weight, normal);
    line-height: 1.538;
    margin-left: var(--terra-menu-item-text-margin-left, 0.714285714rem);
    margin-right: var(--terra-menu-item-text-margin-right, 1.714285714rem);
    user-select: none;
  }

  .checkmark {
    visibility: hidden;
  }

  .is-toggled {
    .checkmark {
      visibility: visible;
    }
  }

  .chevron {
    color: var(--terra-menu-item-chevron-icon-color, rgba(28, 31, 33, 0.53));
    font-size: var(--terra-menu-item-chevron-icon-font-size, 0.714285714rem);
    margin-left: var(--terra-menu-item-chevron-icon-margin-left, 0.714285714rem);
    margin-right: var(--terra-menu-item-chevron-icon-margin-right, 0.714285714rem);
  }

  .start-icon {
    font-size: var(--terra-menu-item-start-icon-font-size, 0.85714rem);
    margin-left: var(--terra-menu-item-start-icon-margin-left, 0.71428rem);
    margin-right: var(--terra-menu-item-start-icon-margin-right, 0);
  }

  .is-highlighted {
    background-color: var(--terra-menu-item-highlighted-background-color, #e1f3fd);
  }
}
