@import './clinical-lowlight-theme/Menu.module';
@import './orion-fusion-theme/Menu.module';

:local {
  .submenu.arrow[data-align-arrow='bottom']::after {
    border-top-color: var(--terra-menu-submenu-arrow-after-border-top-color, #f9f9f9);
  }

  .divider {
    border-color: var(--terra-menu-divider-border-color, #dedfe0);
    border-style: solid;
    border-width: 1px 0 0;
    margin-top: var(--terra-menu-divider-margin-top, 2px);
    width: 100%;

    &::after {
      border-color: var(--terra-menu-divider-after-border-color, #f9f9f9);
      border-style: solid;
      border-width: var(--terra-menu-divider-after-border-width, 3px 0 0);
      content: '';
      display: block;
      margin-bottom: var(--terra-menu-divider-after-margin-bottom, 4px);
    }
  }

  .submenu .divider::after {
    border-color: var(--terra-menu-submenu-divider-after-border-color, #fff);
    border-width: var(--terra-menu-submenu-divider-after-border-width);
    margin-bottom: var(--terra-menu-submenu-divider-after-margin-bottom);
  }

  .header {
    background-color: var(--terra-menu-submenu-header-background-color, #fff);
    border-bottom: var(--terra-menu-submenu-header-border-bottom, 1px solid #dedfe0);
    height: var(--terra-menu-submenu-header-height);
    width: 100%;

    *[role='button'] {
      outline-offset: var(--terra-menu-submenu-header-button-outline-offset, -2px);
    }

    .header-title {
      align-self: center;
      color: var(--terra-menu-submenu-header-title-color, #1c1f21);
      flex: 1; //Needed for IE 11
      font-size: var(--terra-menu-submenu-header-title-font-size, 12px);
      font-weight: var(--terra-menu-submenu-header-title-font-weight, normal);
      line-height: var(--terra-menu-submenu-header-title-line-height, 1.1667);
      margin: var(--terra-menu-submenu-header-title-margin, 7px 7px 7px 0);
      min-width: 0;
      overflow: hidden;
      white-space: normal;
      word-break: normal;
      word-wrap: break-word;
    }

    .main-header-title {
      margin-left: var(--terra-menu-header-title-margin-left, 10px);
    }

    .header-button {
      align-self: center;
      background-color: transparent;
      border: 0;
      color: var(--terra-menu-submenu-header-buttons-icon-color, #1c1f21);
      cursor: pointer;
      font-size: var(--terra-menu-submenu-header-buttons-icon-font-size, 12px);
      font-weight: bold;
      margin: var(--terra-menu-submenu-header-buttons-margin, 0);
      padding: var(--terra-menu-submenu-header-buttons-padding, 8px);

      &:hover {
        color: var(--terra-menu-submenu-header-buttons-hover-color, #111);
      }

      &:focus {
        box-shadow: var(--terra-menu-back-button-focus-box-shadow, none);
        outline: var(--terra-menu-back-button-focus-outline, #000 dashed 2px);
        outline-offset: var(--terra-menu-back-button-focus-outline-offset, -3px);
      }
    }
  }

  .fullscreen {
    .header {
      background-color: var(--terra-menu-fullscreen-header-background-color, #fff);
      border-bottom: var(--terra-menu-fullscreen-header-border-bottom, 1px solid #dedfe0);
    }

    .header-title {
      color: var(--terra-menu-fullscreen-header-title-color, #1c1f21);
      font-size: var(--terra-menu-fullscreen-header-title-font-size, 1rem);
      line-height: var(--terra-menu-fullscreen-header-title-line-height, 1.2);
      margin: var(--terra-menu-fullscreen-header-title-margin, 0.5714rem 0 0.5714rem 0.3571rem);
    }

    .header-button {
      font-size: var(--terra-menu-fullscreen-header-buttons-icon-font-size, 1.45rem);
      margin: var(--terra-menu-fullscreen-header-buttons-margin, 0.3571rem 0);
      padding: var(--terra-menu-fullscreen-header-buttons-padding, 4px);
    }

    .header-button:first-child {
      margin: 0;
    }
  }

  .list {
    padding: var(--terra-menu-list-padding, 6px 0);
  }

  .content {
    background-color: var(--terra-menu-background-color, #fff);
    background-image: var(--terra-menu-background-image);
    color: var(--terra-menu-foreground-color, #1c1f21);
    outline: 0;
  }

  .content.submenu {
    background-color: var(--terra-menu-submenu-background-color, #f9f9f9);
    background-image: var(--terra-menu-submenu-background-image);
    color: var(--terra-menu-submenu-foreground-color, #1c1f21);
  }

  .hidden-page {
    display: none;
  }

  .header-container {
    display: flex;
  }
}
