:local {
  .form-content-wrapper {
    border: 1px solid #d3d3d3;
    padding: 10px;
  }

  .example-content-wrapper {
    padding: 10px;
  }

  .title {
    font-weight: bold;
  }

  .input-text-box {
    font-size: 16px;
    width: 100%;
  }

  .prompt-text-wrapper {
    font-style: italic;
    padding-left: 5px;
  }

  .input-content-wrapper,
  .content-wrapper {
    padding-bottom: 10px;
  }
}
