:local {
  .divider {
    border-bottom-width: var(--terra-application-utility-menu-divider-border-bottom-width, 0);
    border-left-width: var(--terra-application-utility-menu-divider-border-left-width, 0);
    border-right-width: var(--terra-application-utility-menu-divider-border-right-right, 0);
    border-top: var(--terra-application-utility-menu-divider-border-top, 1px solid #dedfe0);
    height: var(--terra-application-utility-menu-divider-height, 0.2143rem);
    width: 100%;

    &::after {
      border-bottom-width: var(--terra-application-utility-menu-divider-after-border-bottom-width, 0);
      border-left-width: var(--terra-application-utility-menu-divider-after-border-left-width, 0);
      border-right-width: var(--terra-application-utility-menu-divider-after-border-right-right, 0);
      border-top: var(--terra-application-utility-menu-divider-border-after-top, 1px solid #dedfe0);
      content: '';
      display: block;
      height: var(--terra-application-utility-menu-divider-after-height, 0.2143rem);
    }
  }

  .divider.is-bottom {
    margin-bottom: var(--terra-application-utility-menu-divider-is-footer-margin-bottom, 0.7143rem);
  }

  .divider.is-top {
    margin-bottom: var(--terra-application-utility-menu-divider-is-header-margin-bottom, 0);
  }
}

