:local {
  .header-utility-button {
    align-items: center;
    background-color: var(--terra-application-header-utility-background-color, transparent);
    border-radius: var(--terra-application-header-utility-border-radius);
    border-width: var(--terra-application-header-utility-border-width, 0);
    color: var(--terra-application-header-utility-color, #fff);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    height: 100%;
    justify-content: var(--terra-application-header-utility-justify-content, space-between);
    padding-left: var(--terra-application-header-utility-padding-left, 0.5714rem);
    padding-right: var(--terra-application-header-utility-padding-right, 0.5714rem);
    width: 100%;

    &:hover {
      background-color: var(--terra-application-header-utility-hover-background-color);

      .icon {
        color: var(--terra-application-header-utility-hover-icon-color);
      }
    }

    &:focus {
      background-color: var(--terra-application-header-utility-focus-background-color);
      box-shadow: var(--terra-application-header-utility-focus-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
      outline: 0;

      .icon {
        color: var(--terra-application-header-utility-focus-icon-color);
      }
    }

    .icon {
      min-width: var(--terra-application-header-utility-icon-min-width, 1.857rem);
    }

    .accessory {
      height: var(--terra-application-header-utility-accessory-height, 1.875rem);
      margin-right: var(--terra-application-header-utility-accessory-margin-right, 0.2143rem);
      width: var(--terra-application-header-utility-accessory-width, 1.857rem);
    }

    .title {
      font-size: var(--terra-application-header-utility-title-font-size, 1rem);
      font-weight: var(--terra-application-header-utility-title-font-weight, normal);
      margin-right: var(--terra-application-header-utility-title-margin-right, 0.2143rem);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .menu-utility-button {
    align-items: center;
    background-color: var(--terra-application-menu-utility-background-color, transparent);
    border-bottom-width: var(--terra-application-menu-utility-border-bottom-width, 0);
    border-left-width: var(--terra-application-menu-utility-border-left-width, 0);
    border-radius: var(--terra-application-menu-utility-border-radius, 0);
    border-right-width: var(--terra-application-menu-utility-border-right-width, 0);
    border-top: var(--terra-application-menu-utility-border-top, 1px solid #a9a9a9);
    color: var(--terra-application-menu-utility-color, #000);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    height: 100%;
    justify-content: space-between;
    padding-bottom: var(--terra-application-menu-utility-padding-bottom, 0.5714rem);
    padding-top: var(--terra-application-menu-utility-padding-top, 0.5714rem);
    width: 100%;

    &:hover {
      background-color: var(--terra-application-menu-utility-hover-background-color);

      .icon {
        color: var(--terra-application-menu-utility-hover-icon-color);
      }
    }

    &:focus {
      background-color: var(--terra-application-menu-utility-focus-background-color);
      box-shadow: var(--terra-application-menu-utility-focus-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
      outline: 0;

      .icon {
        color: var(--terra-application-menu-utility-focus-icon-color);
      }
    }

    /* stylelint-disable selector-max-compound-selectors*/
    .content-container {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      .accessory {
        height: var(--terra-application-menu-utility-accessory-height, 1.857rem);
        margin-right: var(--terra-application-menu-accessory-photo-margin-right, 0.2143rem);
        width: var(--terra-application-menu-utility-accessory-width, 1.857rem);
      }

      .title {
        font-size: var(--terra-application-menu-utility-title-font-size, 1rem);
        font-weight: var(--terra-application-menu-utility-title-font-weight, normal);
        margin-right: var(--terra-application-menu-utility-title-margin-right, 0.2143rem);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .icon {
      min-width: var(--terra-application-menu-utility-icon-min-width, 1.857rem);
    }
    /* stylelint-enable selector-max-compound-selectors*/
  }
}
