:local {
  .utility-menu {
    font-family: inherit;
    width: 100%;
  }

  .header-utility-menu {
    background-color: var(--terra-application-utility-header-type-menu-background-color);
  }

  .menu-utility-menu {
    background-color: var(--terra-application-utility-menu-type-menu-background-color);
  }

  .utility-menu-header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .header-utility-menu-header {
    color: var(--terra-application-utility-header-type-menu-header-color);
    font-size: var(--terra-application-utility-header-type-menu-header-font-size, 1rem);
    font-weight: var(--terra-application-utility-header-type-menu-header-font-weight, normal);
    line-height: var(--terra-application-utility-header-type-menu-header-line-height, 1.2);
    margin-top: var(--terra-application-utility-header-type-menu-header-margin-top, 0.7143rem);
  }

  .menu-utility-menu-header {
    color: var(--terra-application-utility-menu-type-menu-header-color);
    font-size: var(--terra-application-utility-menu-type-menu-header-font-size, 1rem);
    font-weight: var(--terra-application-utility-menu-type-menu-header-font-weight, normal);
    line-height: var(--terra-application-utility-menu-type-menu-header-line-height, 1.2);
    margin-top: var(--terra-application-utility-menu-type-menu-header-margin-top, 0.7143rem);
  }

  .utility-menu-content-container {
    display: flex;
    justify-content: space-between;
    min-height: var(--terra-application-utility-header-type-menu-header-min-height);
  }

  .header-utility-menu-content-container {
    margin-bottom: var(--terra-application-utility-header-type-menu-header-margin-bottom, 0.7143rem);
  }

  .menu-utility-menu-content-container {
    margin-bottom: var(--terra-application-utility-menu-type-menu-header-margin-bottom, 0.7143rem);
  }

  .utility-menu-left-content-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }

  .header-utility-menu-initial-page-header-text {
    margin-left: var(--terra-application-utility-header-type-menu-initial-page-header-text-margin-left, 0.7143rem);
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .menu-utility-menu-initial-page-header-text {
    margin-left: var(--terra-application-utility-menu-type-menu-initial-page-header-text-margin-left, 0.7143rem);
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .header-utility-menu-noninitial-page-header-text {
    margin-left: var(--terra-application-utility-header-type-menu-noninitial-page-header-text-margin-left, 0);
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .menu-utility-menu-noninitial-page-header-text {
    margin-left: var(--terra-application-utility-menu-type-menu-noninitial-page-header-text-margin-left, 0);
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .utility-menu-icon-left {
    flex-shrink: 0;
  }

  .header-utility-menu-icon-left {
    width: var(--terra-application-utility-header-type-menu-back-icon-width, 0.7143rem);
  }

  .menu-utility-menu-icon-left {
    width: var(--terra-application-utility-menu-type-menu-back-icon-width, 0.7143rem);
  }

  .utility-menu-right-content-container {
    display: flex;
    justify-content: flex-end;
  }

  .header-utility-menu-button-close {
    display: var(--terra-application-utility-header-type-menu-button-close-display);
  }

  .utility-menu-icon-close {
    flex-shrink: 0;
  }

  .header-utility-menu-icon-close {
    display: var(--terra-application-utility-header-type-menu-page-display);
    width: var(--terra-application-utility-header-type-menu-page-close-icon-width, 1rem);
  }

  .menu-utility-menu-icon-close {
    width: var(--terra-application-utility-menu-type-menu-page-close-icon-width, 1rem);
  }

  .utility-menu-body {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .utility-menu-footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: var(--terra-application-utility-menu-margin-bottom);
  }
}
