:local {
  .header-utility {
    align-items: center;
    background-color: var(--terra-application-header-utility-background-color, transparent);
    border-width: var(--terra-application-header-utility-border-width, 0);
    color: var(--terra-application-header-utility-color, #fff);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    height: 100%;
    justify-content: space-between;
    padding-left: var(--terra-application-header-utility-padding-left, 0.5714rem);
    padding-right: var(--terra-application-header-utility-padding-right, 0.5714rem);
    width: 100%;

    &:hover {
      background-color: var(--terra-application-header-utility-hover-background-color, #a9a9a9);
    }

    &:focus {
      outline-color: var(--terra-application-header-utility-focus-outline-color, #c6dafd);
      outline-width: var(--terra-application-header-utility-focus-outline-width, 2px);
    }

    .icon {
      min-width: var(--terra-application-header-utility-icon-min-width, 1.857rem);
    }

    .user-photo {
      margin-right: var(--terra-application-header-utility-photo-margin-right, 0.2143rem);
      width: var(--terra-application-header-utility-photo-width, 1.857rem);
    }

    .user-name {
      font-size: var(--terra-application-header-utility-user-name-font-size, 1rem);
      font-weight: var(--terra-application-header-utility-user-name-font-size, normal);
      margin-right: var(--terra-application-header-utility-user-name-margin-right, 0.2143rem);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
