
:local {
  .list-item {
    color: var(--terra-application-list-color, #1c1f21);
    display: block;
    font-size: var(--terra-application-list-font-size, 1.071rem);
    padding-bottom: var(--terra-application-list-padding-bottom, 0.8225rem);
    padding-left: var(--terra-application-list-padding-left, 1.2143rem);
    padding-right: var(--terra-application-list-padding-right, 0.7143rem);
    padding-top: var(--terra-application-list-padding-top, 0.8225rem);
    text-decoration: none;
    
    &:focus,
    &.is-focused,
    &:hover,
    &.is-hovered,
    &:visited,
    &.is-visited {
      border-radius: 0;
      color: var(--terra-application-list-color, #1c1f21);
    }

    &:hover,
    &.is-hovered {
      background: var(--terra-application-list-background-hover, linear-gradient(-90deg, #fff, #f1f1f2));
    }

    &[aria-current='true'] {
      background-image: var(--terra-application-list-selected-background-image, linear-gradient(-270deg, #fff, #e8e9ea));
      border-left: var(--terra-application-list-selected-border-left, 0.5rem solid #007cc3);
      padding-left: var(--terra-application-list-selected-padding-left, 0.7143rem);
    }
  }
}
