:local {
  .orion-fusion-theme {
    --terra-dialog-modal-background-color: #fff;
    --terra-dialog-modal-border-radius: 0;
    --terra-dialog-modal-box-shadow: none;
    --terra-dialog-modal-small-horizontal-inset: 10px;
    --terra-dialog-modal-body-background-color: #fff;
    --terra-dialog-modal-body-padding: 0.25rem;
  }
}
