:local {
  .content-wrapper {
    background-color: #f00;
    height: 40px;
    width: 200px;
  }

  .bounded-parent-node-wrapper {
    background-color: #f0f8ff;
    height: 200px;
    overflow: auto;
    position: relative;
    width: 400px;
  }

  .coords-parent-node-wrapper {
    background-color: #f0f8ff;
    border: 1px dashed #000;
    height: 300px;
    width: 100%;
  }

  .select-wrapper {
    height: 30px;
    width: 200px;
  }

  .heading-wrapper {
    height: 25px;
  }

  .label {
    font-weight: bold;
  }

  .input-wrapper {
    width: 200px;
  }

  .button-wrapper {
    height: 600px;
    position: relative;
    width: 1200px;
  }

  .custom-button {
    left: 600px;
    position: absolute;
    top: 300px;
  }
}
