:local {
  .orion-fusion-theme {
    --terra-layout-slide-panel-overlay-panel-ltr-box-shadow: 1px 0 0 0 #1c1f21, 0 0 5px 1px #000, 0 0 12px 2px rgba(0, 0, 0, 0.8);
    --terra-layout-slide-panel-overlay-panel-rtl-box-shadow: -1px 0 0 0 #1c1f21, 0 0 5px 1px #000, 0 0 12px 2px rgba(0, 0, 0, 0.8);
    --terra-layout-slide-panel-panel-background-color: #fff;

    --terra-layout-slide-panel-squish-panel-background-color: #fff;
    --terra-layout-slide-panel-squish-panel-border-right-color: #d3d4d5;
    --terra-layout-slide-panel-squish-panel-ltr-box-shadow: none;
    --terra-layout-slide-panel-squish-panel-rtl-box-shadow: none;

    --terra-layout-slide-panel-panel-width: 18.571rem;
    --terra-layout-slide-panel-tiny-panel-width: calc(100% - 3.571rem);
    --terra-layout-slide-panel-small-panel-width: 22.857rem;
    --terra-layout-slide-panel-squish-panel-border-right-width: 1px;
  }
}
