:local {
  .content-wrapper1 {
    border: 4px dashed #d3d3d3;
    display: flex;
    height: 60px;
    margin: 5px;
    position: relative;
    width: calc(100% - 10px);
  }

  .content-wrapper2 {
    color: #808080;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .content-wrapper2 h2 {
    color: #808080;
    display: inline;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .link {
    padding: 5px;
  }
  
  .button {
    border: 1px dashed #d3d3d3;
    display: inline-block;
    height: 25px;
    margin-left: 5px;
  }
}
