:local {
  .content-wrapper1 {
    border: 4px dashed #d3d3d3;
    height: calc(100% - 10px);
    margin: 5px;
    position: relative;
    width: calc(100% - 10px);
  }

  .content-wrapper2 {
    color: #808080;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .button {
    border: 1px dashed #d3d3d3;
    display: inline-block;
    height: 25px;
    margin-left: 5px;
  }

  .content-wrapper h2 {
    margin: 0;
  }

  .example-menu {
    height: 400px;
    width: 100%;
  }
}
