:local {
  .orion-fusion-theme {
    --terra-application-utility-header-background-color: transparent;
    --terra-application-utility-header-body-item-background-color: transparent;
    --terra-application-utility-header-body-item-checkmark-color: #1c1f21;
    --terra-application-utility-header-body-item-checkmark-focus-color: #1c1f21;
    --terra-application-utility-header-body-item-checkmark-hover-color: #1c1f21;
    --terra-application-utility-header-body-item-chevron-color: #1c1f21;
    --terra-application-utility-header-body-item-chevron-focus-color: #1c1f21;
    --terra-application-utility-header-body-item-chevron-hover-color: #1c1f21;
    --terra-application-utility-header-body-item-focus-background-color: transparent;
    --terra-application-utility-header-body-item-focus-box-shadow: 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35);
    --terra-application-utility-header-body-item-font-color: #1c1f21;
    --terra-application-utility-header-body-item-hover-background-color: #ebf6fd;
    --terra-application-utility-header-footer-item-font-color: #1c1f21;
    --terra-application-utility-header-body-item-font-size: 1rem;
    --terra-application-utility-header-body-item-margin-bottom: 0.3571rem;
    --terra-application-utility-header-body-item-margin-top: 0.3571rem;
    --terra-application-utility-header-body-item-padding-bottom: 0.3571rem;
    --terra-application-utility-header-body-item-padding-left: 0.2143rem;
    --terra-application-utility-header-body-item-padding-top: 0.3571rem;
    --terra-application-utility-header-body-item-margin-left: 0.6429rem;
    --terra-application-utility-header-body-item-margin-right: 0.6429rem;
    --terra-application-utility-header-body-item-checkmark-margin-left: 0.2857rem;
    --terra-application-utility-header-body-item-checkmark-margin-right: 0.6rem;
    --terra-application-utility-header-body-item-checkmark-width: 0.7143rem;
    --terra-application-utility-header-body-item-chevron-margin-right: 0.2143rem;
    --terra-application-utility-header-body-item-chevron-width: 0.7143rem;
    --terra-application-utility-header-footer-item-background-color: #dedfe0;
    --terra-application-utility-header-footer-item-font-size: 1rem;
    --terra-application-utility-header-footer-item-margin-bottom: 0.7143rem;
    --terra-application-utility-header-footer-item-margin-left: 0.7143rem;
    --terra-application-utility-header-footer-item-margin-right: 0.7143rem;
    --terra-application-utility-header-footer-item-margin-top: 0;

    --terra-application-utility-menu-body-item-background-color: transparent;
    --terra-application-utility-menu-body-item-checkmark-color: #1c1f21;
    --terra-application-utility-menu-body-item-checkmark-focus-color: #1c1f21;
    --terra-application-utility-menu-body-item-checkmark-hover-color: #1c1f21;
    --terra-application-utility-menu-body-item-chevron-color: #1c1f21;
    --terra-application-utility-menu-body-item-chevron-focus-color: #1c1f21;
    --terra-application-utility-menu-body-item-chevron-hover-color: #1c1f21;
    --terra-application-utility-menu-body-item-focus-background-color: transparent;
    --terra-application-utility-menu-body-item-focus-box-shadow: 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35);
    --terra-application-utility-menu-body-item-font-color: #1c1f21;
    --terra-application-utility-menu-body-item-hover-background-color: #ebf6fd;
    --terra-application-utility-menu-footer-item-background-color: #dedfe0;
    --terra-application-utility-menu-footer-item-font-color: #1c1f21;
    --terra-application-utility-menu-body-item-font-size: 1rem;
    --terra-application-utility-menu-body-item-margin-bottom: 0.3571rem;
    --terra-application-utility-menu-body-item-margin-top: 0.3571rem;
    --terra-application-utility-menu-body-item-padding-bottom: 0.3571rem;
    --terra-application-utility-menu-body-item-padding-left: 0.2143rem;
    --terra-application-utility-menu-body-item-padding-top: 0.3571rem;
    --terra-application-utility-menu-body-item-margin-left: 0.6429rem;
    --terra-application-utility-menu-body-item-margin-right: 0.6429rem;
    --terra-application-utility-menu-body-item-checkmark-margin-left: 0.2857rem;
    --terra-application-utility-menu-body-item-checkmark-margin-right: 0.5rem;
    --terra-application-utility-menu-body-item-checkmark-width: 0.7143rem;
    --terra-application-utility-menu-body-item-chevron-margin-right: 0.2143rem;
    --terra-application-utility-menu-body-item-chevron-width: 0.7143rem;
    --terra-application-utility-menu-footer-item-font-size: 1rem;
    --terra-application-utility-menu-footer-item-margin-bottom: 0.7143rem;
    --terra-application-utility-menu-footer-item-margin-left: 0.7143rem;
    --terra-application-utility-menu-footer-item-margin-right: 0.7143rem;
    --terra-application-utility-menu-footer-item-margin-top: 0;
  }
}
