:local {
  .orion-fusion-theme {
    --terra-application-utility-header-background-color: transparent;
    --terra-application-utility-header-border-radius: 0;
    --terra-application-utility-header-border-width: 0;
    --terra-application-utility-header-color: #fff;
    --terra-application-utility-header-height: 100%;
    --terra-application-utility-header-justify-content: space-between;
    --terra-application-utility-header-padding-left: 0.5714rem;
    --terra-application-utility-header-padding-right: 0.5714rem;
    --terra-application-utility-header-hover-background-color: transparent;
    --terra-application-utility-header-hover-icon-color: transparent;
    --terra-application-utility-header-focus-background-color: transparent;
    --terra-application-utility-header-focus-box-shadow: 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35);
    --terra-application-utility-header-focus-icon-color: transparent;
    --terra-application-utility-header-icon-color: transparent;
    --terra-application-utility-header-icon-width: 1.857rem;
    --terra-application-utility-header-accessory-height: 1.875rem;
    --terra-application-utility-header-accessory-margin-right: 0.2143rem;
    --terra-application-utility-header-accessory-width: 1.857rem;
    --terra-application-utility-header-title-font-size: 1rem;
    --terra-application-utility-header-title-font-weight: normal;
    --terra-application-utility-header-title-margin-right: 0.2143rem;

    --terra-application-utility-menu-background-color: transparent;
    --terra-application-utility-menu-border-bottom-width: 0;
    --terra-application-utility-menu-border-left-width: 0;
    --terra-application-utility-menu-border-radius: 0;
    --terra-application-utility-menu-border-right-width: 0;
    --terra-application-utility-menu-border-top: 1px solid #a9a9a9;
    --terra-application-utility-menu-color: #000;
    --terra-application-utility-menu-padding-bottom: 0.5714rem;
    --terra-application-utility-menu-padding-left: 0.4286rem;
    --terra-application-utility-menu-padding-right: 0.4286rem;
    --terra-application-utility-menu-padding-top: 0.5714rem;
    --terra-application-utility-menu-hover-background-color: transparent;
    --terra-application-utility-menu-hover-icon-color: #000;
    --terra-application-utility-menu-focus-background-color: transparent;
    --terra-application-utility-menu-focus-box-shadow: 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35);
    --terra-application-utility-menu-focus-icon-color: #000;
    --terra-application-utility-menu-accessory-height: 1.857rem;
    --terra-application-utility-menu-accessory-photo-margin-right: 0.2143rem;
    --terra-application-utility-menu-accessory-width: 1.857rem;
    --terra-application-utility-menu-title-font-size: 1rem;
    --terra-application-utility-menu-title-font-weight: normal;
    --terra-application-utility-menu-title-margin-right: 0.2143rem;
    --terra-application-utility-menu-icon-color: #000;
    --terra-application-utility-menu-icon-width: 1.857rem;
  }
}
