:local {
  .brand-footer {
    margin: none;
  }

  .nav {
    background: #f4f4f4;
    color: #868a8c;
    display: block;
    padding: 0.7142857142857143rem 1.4285714285714286rem;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .list-item {
    display: inline;
  }


  .list-item:first-child::before {
    content: '';
    padding: 0;
  }

  .list-item::before {
    content: '/';
    padding: 0.7142857142857143rem;
  }


  .link {
    background-color: transparent;
    color: #0065a3;
    text-decoration: none;
  }

  .footer-content {
    background: #007cc3;
    color: #f4f4f4;
    padding: 1.4285714285714286rem;
  }
}
