:local {
  .brand-footer {
    margin-bottom: var(--terra-brand-footer-margin-bottom, 0);
    margin-left: var(--terra-brand-footer-margin-left, 0);
    margin-right: var(--terra-brand-footer-margin-right, 0);
    margin-top: var(--terra-brand-footer-margin-top, 0);
  }

  .nav {
    background-color: var(--terra-brand-footer-nav-background-color, #153d70);
    color: var(--terra-brand-footer-nav-color, #8baaca);

    display: flex;
    flex-wrap: wrap;
    padding-bottom: var(--terra-brand-footer-nav-padding-bottom, 0.7142857142857143rem);
    padding-left: var(--terra-brand-footer-nav-padding-left, 1.4285714285714286rem);
    padding-right: var(--terra-brand-footer-nav-padding-right, 1.4285714285714286rem);
    padding-top: var(--terra-brand-footer-nav-padding-top, 0.7142857142857143rem);
    width: 100%;
  }

  .nav-vertical {
    align-content: stretch;
    flex-direction: row;

    .navigation-section {
      flex: 1 1 0%;
      min-width: var(--terra-brand-footer-vertical-nav-link-group-min-width, 240px);
      padding-right: var(--terra-brand-footer-vertical-nav-link-group-padding-right, 1.4285714286rem);
    }

    .menu {
      flex: 1 1 0%;
      margin-bottom: 0;
      margin-top: 0;
      width: 100%;
    }

    .list-item {
      display: block;
      padding-bottom: var(--terra-brand-footer-vertical-nav-link-padding-bottom, 0.357142857142857rem);
      padding-top: var(--terra-brand-footer-vertical-nav-link-padding-top, 0.357142857142857rem);
    }

    .list-header {
      display: block;
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: var(--terra-brand-footer-vertical-nav-header-padding-bottom, 0.7142857143rem);
      padding-top: var(--terra-brand-footer-vertical-nav-header-padding-top, 1.4285714286rem);
    }
  }

  .nav-horizontal {
    flex-direction: column;

    .navigation-section {
      width: 100%;
    }

    .menu {
      display: inline;
    }

    .list-item {
      display: inline-block;
    }

    .list-header {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
    }

    // If there isn't a section header nothing is needed before the link
    .list-item:first-child::before {
      content: '';
      padding: 0;
    }

    /* stylelint-disable selector-max-compound-selectors */
    // A '/' isn't needed to separate an item from the header it follows
    .list-header + .menu::before {
      content: '';
      padding-left: 0;
      padding-right: var(--terra-brand-footer-horizontal-nav-first-link-padding-before-right, 0.7142857142857143rem);
    }
    /* stylelint-enable selector-max-compound-selectors */

    .list-item::before {
      content: '/';
      padding-bottom: var(--terra-brand-footer-horizontal-nav-link-padding-before-bottom, 0.7142857142857143rem);
      padding-left: var(--terra-brand-footer-horizontal-nav-link-padding-before-top, 0.7142857142857143rem);
      padding-right: var(--terra-brand-footer-horizontal-nav-link-padding-before-left, 0.7142857142857143rem);
      padding-top: var(--terra-brand-footer-horizontal-nav-link-padding-before-right, 0.7142857142857143rem);
    }
  }

  .navigation-section {
    margin-bottom: var(--terra-brand-footer-link-group-margin-bottom, 0);
    margin-left: var(--terra-brand-footer-link-group-margin-top, 0);
    margin-right: var(--terra-brand-footer-link-group-margin-left, 0);
    margin-top: var(--terra-brand-footer-link-group-margin-right, 0);
  }

  .menu {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
  }

  .list-header {
    color: var(--terra-brand-footer-nav-header-color, #4bb8ef);
    font-size: var(--terra-brand-footer-nav-header-font-size, 0.7857rem);
    font-weight: var(--terra-brand-footer-nav-header-font-weight, 600);
    line-height: var(--terra-brand-footer-nav-header-line-height, 1.45);
    text-transform: var(--terra-brand-footer-nav-header-text-transform, uppercase);
  }

  .link {
    color: var(--terra-brand-footer-link-color, #fff);
    font-size: var(--terra-brand-footer-nav-link-font-size, 1rem);
    font-weight: var(--terra-brand-footer-nav-link-font-weight, 300);
    line-height: var(--terra-brand-footer-nav-link-line-height, 1.6);
    text-decoration: var(--terra-brand-footer-link-text-decoration, none);
  }

  .link:hover {
    color: var(--terra-brand-footer-link-hover-color, #fff);
    text-decoration: var(--terra-brand-footer-link-hover-text-decoration, underline);
  }

  .link:active {
    color: var(--terra-brand-footer-link-active-color, #fff);
    text-decoration: var(--terra-brand-footer-link-active-text-decoration, underline);
  }

  .link:focus {
    color: var(--terra-brand-footer-link-focus-color, #fff);
    text-decoration: var(--terra-brand-footer-link-focus-text-decoration, underline);
  }

  .footer-content {
    background-color: var(--terra-brand-footer-footer-content-background-color, #153d70);
    color: var(--terra-brand-footer-footer-content-color, #fff);
    padding-bottom: var(--terra-brand-footer-footer-content-padding-bottom, 1.4285714285714286rem);
    padding-left: var(--terra-brand-footer-footer-content-padding-top, 1.4285714285714286rem);
    padding-right: var(--terra-brand-footer-footer-content-padding-left, 1.4285714285714286rem);
    padding-top: var(--terra-brand-footer-footer-content-padding-right, 1.4285714285714286rem);
  }

  .content-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: var(--terra-brand-footer-floating-content-margin-bottom, 0.7142857142857143rem);
  }

  .content-bottom {
    margin-top: var(--terra-brand-footer-content-bottom-margin-top, 0.7142857142857143rem);
  }
}
