:global {

  // ---------------------- Shared ----------------------- //

  --terra-dialog-modal-background-color: #1e2427;
  --terra-dialog-modal-body-background-color: #222a2e;

  // -------------------- Version 2.x -------------------- //

  --terra-dialog-modal-box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 7px 4px rgba(0, 0, 0, 0.5);
}
