:local {
  .clinical-lowlight-theme {
    // Default
    --terra-date-picker-input-background-color: #222a2e;
    --terra-date-picker-input-border-color: #181b1d;
    --terra-date-picker-input-border-radius: 3px;
    --terra-date-picker-input-border-style: solid;
    --terra-date-picker-input-border-width: 1px;
    --terra-date-picker-input-color: #b2b5b6;
    --terra-date-picker-input-padding: 0.2857142858rem;
    --terra-date-picker-input-date-component-background-color: transparent;
    --terra-date-picker-input-date-component-border-color: transparent;
    --terra-date-picker-input-date-component-border-radius: 2px;
    --terra-date-picker-input-date-component-border-style: none;
    --terra-date-picker-input-date-component-border-width: 0;
    --terra-date-picker-input-date-component-caret-color: #b2b5b6;
    --terra-date-picker-input-date-component-height: 1.4285714286rem;
    --terra-date-picker-input-date-component-padding: 0;
    --terra-date-picker-input-date-spacer-margin-left: 0.14285714rem;
    --terra-date-picker-input-date-spacer-margin-right: 0.14285714rem;
    --terra-date-picker-button-border: 1px solid #000;
    --terra-date-picker-button-border-bottom-right-radius: 0.25em;
    --terra-date-picker-button-border-top-right-radius: 0.25em;
    --terra-date-picker-button-box-shadow: none;

    // Default - Hover
    --terra-date-picker-input-date-component-hover-background-color: transparent;
    --terra-date-picker-input-date-component-hover-border: 0 none transparent;
    --terra-date-picker-button-hover-border-color: #000;

    // Default - Focus
    --terra-date-picker-input-focus-border-color: #000;
    --terra-date-picker-input-focus-box-shadow: none;
    --terra-date-picker-input-date-component-focus-background-color: transparent;
    --terra-date-picker-input-date-component-focus-border: 0;
    --terra-date-picker-input-date-component-focus-box-shadow: none;
    --terra-date-picker-input-date-component-initial-focus-border: 2px dashed #fff;
    --terra-date-picker-button-focus-border-color: #000;
    --terra-date-picker-button-focus-box-shadow: none;
    --terra-date-picker-input-date-component-focused-input-background-color: rgba(139, 194, 249, 0.3);
    --terra-date-picker-input-focus-border-outline: 2px dashed #b2b5b6;
    --terra-date-picker-input-focus-background-color: #1e3a49;

    // Default - Disabled
    --terra-date-picker-input-disabled-background-color: #1d2529;
    --terra-date-picker-input-disabled-border: 1px solid #242b2b;
    --terra-date-picker-input-disabled-color: #404344;
    --terra-date-picker-input-disabled-opacity: 0.25;
    --terra-date-picker-input-date-component-disabled-background-color: transparent;
    --terra-date-picker-input-date-component-disabled-border: 0;
    --terra-date-picker-button-disabled-border-color: #000;

    // Invalid
    --terra-date-picker-input-invalid-border-color: #fb4c4c;
    --terra-date-picker-input-invalid-box-shadow: 0 0 0 1px #fb4c4c;
    --terra-date-picker-button-invalid-border-color: #fb4c4c;
    --terra-date-picker-button-invalid-box-shadow: 0 0 0 1px #fb4c4c;

    // Invalid - Disabled
    --terra-date-picker-input-invalid-disabled-border-color: #fb4c4c;
    --terra-date-picker-input-invalid-disabled-box-shadow: 0 0 0 1px #fb4c4c;

    // Invalid - Hover
    --terra-date-picker-input-invalid-hover-border-color: #fb4c4c;
    --terra-date-picker-input-invalid-hover-box-shadow: 0 0 0 1px #fb4c4c;

    // Invalid - Focus
    --terra-date-picker-input-invalid-focus-border-color: #fb4c4c;
    --terra-date-picker-input-invalid-focus-box-shadow: 0 0 0 1px #fb4c4c, 0 0 0 1px #fb4c4c;
    --terra-date-picker-button-invalid-focus-border-color: #fb4c4c;
    --terra-date-picker-button-invalid-focus-box-shadow: 0 0 0 1px #fb4c4c, 0 0 0 1px #fb4c4c;

    // Incomplete
    --terra-date-picker-input-incomplete-background-color: #464232;
    --terra-date-picker-input-incomplete-hover-background-color: #464232;
    --terra-date-picker-input-incomplete-focus-background-color: #464232;
    --terra-date-picker-input-incomplete-disabled-background-color: #464232;

    // format text
    --terra-date-picker-format-text-color: #6f7477;
    --terra-date-picker-format-text-font-size: 0.857rem;
    --terra-date-picker-format-text-font-weight: normal;
    --terra-date-picker-format-text-margin-top: 0.357em;
  }
}
