:local {
  .example-wrapper {
    border: 1px solid #d3d3d3;
    height: 35rem;
  }

  .content-wrapper {
    padding: 0.7rem;
  }

  .disclosure-accessory {
    background-color: #add8e6;
    padding: 1rem;
  }

  .form-select {
    margin-left: 1rem;
    max-width: 300px;
  }
}
