:local {
  .panel-content,
  .layout-slide-panel-content,
  .content-wrapper {
    position: relative;
    width: 100%;
  }

  .panel-content {
    background-color: #f00;
    height: 100%;
  }

  .layout-slide-panel-content {
    background-color: #00f;
    height: 100%;
  }

  .layout-test,
  .content-wrapper {
    height: 768px;
  }
}
