@import 'variables';
@import 'mixins';

:local {
  .react-datepicker {
    background-color: #fff;
    color: $datepicker-text-color;
    display: inline-block;
    font-family: $datepicker-font-family;
    font-size: $datepicker-font-size;
    position: relative;
  }

  .react-datepicker-arrow[data-align-arrow='top']::after {
    border-bottom-color: $datepicker-background-color;
  }

  .react-datepicker-arrow[data-align-arrow='bottom']::after {
    border-top-color: $datepicker-background-color;
  }

  .react-datepicker-header {
    background-color: $datepicker-background-color;
    border-bottom: 1px solid $datepicker-border-color;
    padding-top: 8px;
    position: relative;
    text-align: center;

    &--time {
      padding-bottom: 8px;
    }
  }

  .react-datepicker-year-dropdown-container--select,
  .react-datepicker-month-dropdown-container--select,
  .react-datepicker-year-dropdown-container--scroll,
  .react-datepicker-month-dropdown-container--scroll {
    display: inline-block;
    margin: 0 2px;
  }

  .react-datepicker-current-month,
  .react-datepicker-time-header {
    color: $datepicker-header-color;
    font-size: $datepicker-font-size * 1.18;
    font-weight: bold;
    margin-top: 0;
  }

  .react-datepicker-navigation {
    border: $datepicker-navigation-size solid transparent;
    cursor: pointer;
    line-height: $datepicker-item-size;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 0;
    z-index: 1;

    &--previous {
      border-right-color: $datepicker-muted-color;
      left: 10px;

      &:hover {
        border-right-color: darken($datepicker-muted-color, 10%);
      }
    }

    &--next {
      border-left-color: $datepicker-muted-color;
      right: 10px;

      &--with-time:not(&--with-today-button) {
        right: 80px;
      }

      &:hover {
        border-left-color: darken($datepicker-muted-color, 10%);
      }
    }

    &--years {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 0;

      &-previous {
        border-top-color: $datepicker-muted-color;
        top: 4px;
      }

      &-upcoming {
        border-bottom-color: $datepicker-muted-color;
        top: -4px;
      }
    }
  }

  .react-datepicker-navigation--years-previous,
  .react-datepicker-navigation--years-upcoming {
    &:hover {
      border-top-color: darken($datepicker-muted-color, 10%);
    }
  }

  .react-datepicker-month-container {
    float: left;
  }

  .react-datepicker-month {
    margin: $datepicker-margin;
    outline: 0;
    text-align: center;
  }

  .react-datepicker-time-container {
    border-left: 1px solid $datepicker-border-color;
    float: right;

    &--with-today-button {
      border: 1px solid #aeaeae;
      border-radius: $datepicker-border-radius;
      display: inline;
      position: absolute;
      right: -72px;
      top: 0;
    }

    .react-datepicker-time {
      background: #fff;
      position: relative;
    }
  }



  .react-datepicker-time {
    background: #fff;
    position: relative;

    .react-datepicker-time-box {
      overflow-x: hidden;
      width: 70px;
    }
  }

  .react-datepicker-time-box {
    .react-datepicker-time-list {
      height: calc(195px + (#{$datepicker-item-size} / 2));
      list-style: none;
      margin: 0;
      overflow-y: scroll;
      padding-right: 30px;
      width: 100%;
    }
  }

  .react-datepicker-time-list {
    .react-datepicker-time-list-item {
      padding: 5px 10px;

      &:hover {
        background-color: $datepicker-background-color;
        cursor: pointer;
      }

      &--selected {
        background-color: $datepicker-selected-color;
        color: #fff;
        font-weight: bold;
      }

      &--disabled {
        color: $datepicker-muted-color;
      }
    }
  }

  .react-datepicker-time-list-item--selected {
    &:hover {
      background-color: $datepicker-selected-color;
    }

  }

  .react-datepicker-time-list-item--disabled {
    &:hover {
      background-color: transparent;
      cursor: default;
    }

  }


  .react-datepicker-week-number {
    color: $datepicker-muted-color;
    display: inline-block;
    line-height: $datepicker-item-size;
    margin: $datepicker-day-margin;
    text-align: center;
    width: $datepicker-item-size;

    &.react-datepicker-week-number--clickable {
      cursor: pointer;

      &:hover {
        background-color: $datepicker-background-color;
        border-radius: $datepicker-border-radius;
      }
    }
  }

  .react-datepicker-day-names,
  .react-datepicker-week {
    white-space: nowrap;
  }

  .react-datepicker-day-name,
  .react-datepicker-day,
  .react-datepicker-time-name {
    color: $datepicker-text-color;
    display: inline-block;
    line-height: $datepicker-item-size;
    margin: $datepicker-day-margin;
    text-align: center;
    width: $datepicker-item-size;
  }

  .react-datepicker-day {
    cursor: pointer;

    &:hover {
      background-color: $datepicker-background-color;
      border-radius: $datepicker-border-radius;
    }

    &--today {
      font-weight: bold;
    }

    &--highlighted {
      background-color: $datepicker-highlighted-color;
      border-radius: $datepicker-border-radius;
      color: #fff;

      &:hover {
        background-color: darken($datepicker-highlighted-color, 5%);
      }

      &-custom-1 {
        color: #f0f;
      }

      &-custom-2 {
        color: #080;
      }
    }

    &--selected,
    &--in-selecting-range,
    &--in-range {
      background-color: $datepicker-selected-color;
      border-radius: $datepicker-border-radius;
      color: #fff;

      &:hover {
        background-color: darken($datepicker-selected-color, 5%);
      }
    }

    &--keyboard-selected {
      background-color: lighten($datepicker-selected-color, 10%);
      border-radius: $datepicker-border-radius;
      color: #fff;

      &:hover {
        background-color: darken($datepicker-selected-color, 5%);
      }
    }

    &--in-selecting-range:not(&--in-range) {
      background-color: rgba($datepicker-selected-color, 0.5);
    }

    &--in-range:not(&--in-selecting-range) {
      .react-datepicker-month--selecting-range & {
        background-color: $datepicker-background-color;
        color: $datepicker-text-color;
      }
    }

    &--disabled {
      color: $datepicker-muted-color;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .react-datepicker-input-container {
    display: inline-block;
    position: relative;
  }

  .react-datepicker-year-read-view,
  .react-datepicker-month-read-view {
    border: 1px solid transparent;
    border-radius: $datepicker-border-radius;

    &:hover {
      cursor: pointer;

      .react-datepicker-year-read-view--down-arrow,
      .react-datepicker-month-read-view--down-arrow {
        border-top-color: darken($datepicker-muted-color, 10%);
      }
    }

    &--down-arrow {
      @extend %triangle-arrow-down;
      border-top-color: $datepicker-muted-color;
      border-width: $datepicker-navigation-size;
      float: right;
      margin-left: 20px;
      position: relative;
      top: 8px;
    }

  }

  .react-datepicker-year-dropdown,
  .react-datepicker-month-dropdown {
    background-color: $datepicker-background-color;
    border: 1px solid $datepicker-border-color;
    border-radius: $datepicker-border-radius;
    left: 25%;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 50%;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &--scrollable {
      height: 150px;
      overflow-y: scroll;
    }
  }

  .react-datepicker-year-option,
  .react-datepicker-month-option {
    display: block;
    line-height: $datepicker-font-size * 1.78571;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &:first-of-type {
      border-top-left-radius: $datepicker-border-radius;
      border-top-right-radius: $datepicker-border-radius;
    }

    &:last-of-type {
      border-bottom-left-radius: $datepicker-border-radius;
      border-bottom-right-radius: $datepicker-border-radius;
      user-select: none;
    }

    &:hover {
      background-color: $datepicker-muted-color;

      .react-datepicker-navigation--years-upcoming {
        border-bottom-color: darken($datepicker-muted-color, 10%);
      }

      .react-datepicker-navigation--years-previous {
        border-top-color: darken($datepicker-muted-color, 10%);
      }
    }

    &--selected {
      left: 15px;
      position: absolute;
    }
  }

  .react-datepicker-close-icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 0;
    outline: 0;
    padding: 0;
    vertical-align: middle;

    &::after {
      background-color: $datepicker-selected-color;
      border-radius: 50%;
      bottom: 0;
      box-sizing: border-box;
      color: #fff;
      content: '\00d7';
      cursor: pointer;
      font-size: 12px;
      height: 16px;
      line-height: 1;
      margin: -8px auto 0;
      padding: 2px;
      position: absolute;
      right: 7px;
      text-align: center;
      top: 50%;
      width: 16px;
    }
  }

  .react-datepicker-today-button {
    background: $datepicker-background-color;
    border-top: 1px solid $datepicker-border-color;
    clear: left;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
  }

  .react-datepicker-portal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    outline: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2147483647;

    .react-datepicker {
      border: 1px solid $datepicker-border-color;
      border-radius: $datepicker-border-radius;
    }

    .react-datepicker-header {
      border-top-left-radius: $datepicker-border-radius;
      border-top-right-radius: $datepicker-border-radius;
    }

    .react-datepicker-day-name,
    .react-datepicker-day,
    .react-datepicker-time-name {
      line-height: $datepicker-item-size * 1.76471;
      width: $datepicker-item-size * 1.76471;
    }

    // Resize for small screens
    @media (max-width: 400px), (max-height: 550px) {
      .react-datepicker-day-name,
      .react-datepicker-day,
      .react-datepicker-time-name {
        line-height: $datepicker-item-size * 1.17647;
        width: $datepicker-item-size * 1.17647;
      }
    }

    .react-datepicker-current-month,
    .react-datepicker-time-header {
      font-size: $datepicker-font-size * 1.8;
    }

    .react-datepicker-navigation {
      border: 1.8 * $datepicker-navigation-size solid transparent;
    }

    .react-datepicker-navigation--previous {
      border-right-color: $datepicker-muted-color;

      &:hover {
        border-right-color: darken($datepicker-muted-color, 10%);
      }
    }

    .react-datepicker-navigation--next {
      border-left-color: $datepicker-muted-color;

      &:hover {
        border-left-color: darken($datepicker-muted-color, 10%);
      }
    }
  }

  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap; /* Ensures words  are not read one at a time on screen readers*/
    width: 1px;
  }
}
