@import '../../../clinical-lowlight-theme/demoStyles.module';
@import '../../../orion-fusion-theme/demoStyles.module';

:local {
  .demo-background-color {
    background-color: var(--terra-application-name-demo-background-color, #008000);
  }

  .demo-truncate-width {
    width: 150px;
  }

  .demo-image-container {
    height: 26px;
    width: 26px;
  }

  .content-wrapper {
    width: 100%;
  }
}
