:local {
  .header-content {
    background-color: #d3d3d3;
  }

  .header-content h3 {
    display: inline-block;
    margin: 0;
    padding: 5px;
  }

  .content-wrapper {
    margin: 5px;
  }
  
  .custom-button {
    display: inline-block;
  }

  .container {
    padding: 5px;
  }

  .container-attributes {
    border: 1px #d3d3d3 solid; 
  }
}
