@import './clinical-lowlight-theme/Table.module';
@import './orion-fusion-theme/Table.module';

:local {
  .table-container {
    height: 100%;
    overflow: auto;
    width: 100%;


    &:focus {
      outline: var(--terra-table-focus-outline, 3px dashed #000);
      outline-offset: 1px;
    }
  }

  .table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 1px;

    &.auto-layout {
      table-layout: auto;
      width: 100%;
    }
  }

  /* stylelint-disable selector-max-compound-selectors */
  .headerless {
    tr:first-child {
      td,
      th {
        border-top: var(--terra-table-headerless-first-row-border-top, 1px solid #dedfe0);
      }
    }
  }
  /* stylelint-enable selector-max-compound-selectors */
}
