:root {
  --rw-palette-neutral-rgb-0: 255, 255, 255;
  --rw-palette-neutral-rgb-10: 251, 249, 248;
  --rw-palette-neutral-rgb-20: 245, 244, 242;
  --rw-palette-neutral-rgb-30: 241, 239, 237;
  --rw-palette-neutral-rgb-40: 228, 225, 221;
  --rw-palette-neutral-rgb-50: 212, 207, 202;
  --rw-palette-neutral-rgb-60: 188, 182, 177;
  --rw-palette-neutral-rgb-70: 174, 168, 162;
  --rw-palette-neutral-rgb-80: 158, 152, 146;
  --rw-palette-neutral-rgb-90: 139, 133, 128;
  --rw-palette-neutral-rgb-100: 122, 115, 110;
  --rw-palette-neutral-rgb-110: 111, 105, 100;
  --rw-palette-neutral-rgb-120: 102, 95, 91;
  --rw-palette-neutral-rgb-130: 92, 86, 81;
  --rw-palette-neutral-rgb-140: 81, 76, 71;
  --rw-palette-neutral-rgb-150: 71, 66, 62;
  --rw-palette-neutral-rgb-160: 58, 54, 50;
  --rw-palette-neutral-rgb-170: 49, 45, 42;
  --rw-palette-neutral-rgb-180: 32, 30, 28;
  --rw-palette-neutral-rgb-190: 22, 21, 19;
  --rw-palette-neutral-rgb-200: 0, 0, 0;
  --rw-palette-neutral-texture-size: 350px 350px;
  --rw-palette-oraclered-rgb-0: 255, 255, 255;
  --rw-palette-oraclered-rgb-10: 255, 248, 247;
  --rw-palette-oraclered-rgb-20: 255, 235, 232;
  --rw-palette-oraclered-rgb-30: 255, 223, 219;
  --rw-palette-oraclered-rgb-40: 252, 208, 202;
  --rw-palette-oraclered-rgb-50: 247, 191, 184;
  --rw-palette-oraclered-rgb-60: 238, 165, 156;
  --rw-palette-oraclered-rgb-70: 229, 140, 129;
  --rw-palette-oraclered-rgb-80: 222, 122, 109;
  --rw-palette-oraclered-rgb-90: 214, 105, 89;
  --rw-palette-oraclered-rgb-100: 202, 77, 60;
  --rw-palette-oraclered-rgb-110: 189, 67, 50;
  --rw-palette-oraclered-rgb-120: 172, 62, 46;
  --rw-palette-oraclered-rgb-130: 155, 56, 42;
  --rw-palette-oraclered-rgb-140: 134, 49, 37;
  --rw-palette-oraclered-rgb-150: 116, 42, 32;
  --rw-palette-oraclered-rgb-160: 96, 35, 26;
  --rw-palette-oraclered-rgb-170: 73, 27, 20;
  --rw-palette-oraclered-rgb-180: 56, 20, 15;
  --rw-palette-oraclered-rgb-190: 39, 14, 11;
  --rw-palette-oraclered-rgb-200: 0, 0, 0;
  --rw-palette-brandlight-rgb-0: 255, 255, 255;
  --rw-palette-brandlight-rgb-10: 247, 252, 243;
  --rw-palette-brandlight-rgb-20: 237, 248, 230;
  --rw-palette-brandlight-rgb-30: 229, 244, 220;
  --rw-palette-brandlight-rgb-40: 208, 234, 193;
  --rw-palette-brandlight-rgb-50: 189, 217, 174;
  --rw-palette-brandlight-rgb-60: 163, 193, 148;
  --rw-palette-brandlight-rgb-70: 148, 179, 130;
  --rw-palette-brandlight-rgb-80: 130, 163, 114;
  --rw-palette-brandlight-rgb-90: 111, 145, 93;
  --rw-palette-brandlight-rgb-100: 95, 125, 79;
  --rw-palette-brandlight-rgb-110: 87, 115, 70;
  --rw-palette-brandlight-rgb-120: 79, 105, 63;
  --rw-palette-brandlight-rgb-130: 70, 95, 56;
  --rw-palette-brandlight-rgb-140: 61, 84, 49;
  --rw-palette-brandlight-rgb-150: 53, 72, 42;
  --rw-palette-brandlight-rgb-160: 43, 58, 33;
  --rw-palette-brandlight-rgb-170: 37, 51, 29;
  --rw-palette-brandlight-rgb-180: 25, 35, 21;
  --rw-palette-brandlight-rgb-190: 18, 23, 13;
  --rw-palette-brandlight-rgb-200: 0, 0, 0;
  --rw-palette-branddark-rgb-0: 255, 255, 255;
  --rw-palette-branddark-rgb-10: 254, 249, 233;
  --rw-palette-branddark-rgb-20: 253, 244, 223;
  --rw-palette-branddark-rgb-30: 252, 239, 203;
  --rw-palette-branddark-rgb-40: 247, 224, 161;
  --rw-palette-branddark-rgb-50: 240, 204, 113;
  --rw-palette-branddark-rgb-60: 213, 179, 100;
  --rw-palette-branddark-rgb-70: 199, 165, 93;
  --rw-palette-branddark-rgb-80: 179, 149, 84;
  --rw-palette-branddark-rgb-90: 157, 130, 73;
  --rw-palette-branddark-rgb-100: 137, 114, 63;
  --rw-palette-branddark-rgb-110: 124, 103, 56;
  --rw-palette-branddark-rgb-120: 113, 94, 52;
  --rw-palette-branddark-rgb-130: 102, 85, 47;
  --rw-palette-branddark-rgb-140: 91, 74, 41;
  --rw-palette-branddark-rgb-150: 79, 66, 36;
  --rw-palette-branddark-rgb-160: 64, 54, 29;
  --rw-palette-branddark-rgb-170: 55, 44, 24;
  --rw-palette-branddark-rgb-180: 36, 30, 16;
  --rw-palette-branddark-rgb-190: 24, 22, 10;
  --rw-palette-branddark-rgb-200: 0, 0, 0;
  --rw-palette-sienna-rgb-0: 255, 255, 255;
  --rw-palette-sienna-rgb-10: 254, 249, 242;
  --rw-palette-sienna-rgb-20: 253, 243, 228;
  --rw-palette-sienna-rgb-30: 252, 237, 217;
  --rw-palette-sienna-rgb-40: 245, 222, 189;
  --rw-palette-sienna-rgb-50: 236, 203, 152;
  --rw-palette-sienna-rgb-60: 222, 176, 104;
  --rw-palette-sienna-rgb-70: 211, 159, 93;
  --rw-palette-sienna-rgb-80: 197, 140, 82;
  --rw-palette-sienna-rgb-90: 182, 119, 69;
  --rw-palette-sienna-rgb-100: 170, 100, 59;
  --rw-palette-sienna-rgb-110: 155, 87, 52;
  --rw-palette-sienna-rgb-120: 141, 79, 46;
  --rw-palette-sienna-rgb-130: 127, 72, 44;
  --rw-palette-sienna-rgb-140: 113, 63, 37;
  --rw-palette-sienna-rgb-150: 98, 55, 31;
  --rw-palette-sienna-rgb-160: 81, 44, 27;
  --rw-palette-sienna-rgb-170: 68, 38, 22;
  --rw-palette-sienna-rgb-180: 47, 26, 15;
  --rw-palette-sienna-rgb-190: 32, 19, 10;
  --rw-palette-sienna-rgb-200: 0, 0, 0;
  --rw-palette-sienna-texture-size: 300px 300px;
  --rw-palette-pine-rgb-0: 255, 255, 255;
  --rw-palette-pine-rgb-10: 243, 252, 247;
  --rw-palette-pine-rgb-20: 233, 249, 238;
  --rw-palette-pine-rgb-30: 224, 245, 231;
  --rw-palette-pine-rgb-40: 203, 233, 214;
  --rw-palette-pine-rgb-50: 183, 217, 194;
  --rw-palette-pine-rgb-60: 153, 194, 166;
  --rw-palette-pine-rgb-70: 134, 181, 150;
  --rw-palette-pine-rgb-80: 116, 166, 131;
  --rw-palette-pine-rgb-90: 92, 146, 109;
  --rw-palette-pine-rgb-100: 76, 130, 92;
  --rw-palette-pine-rgb-110: 70, 117, 83;
  --rw-palette-pine-rgb-120: 63, 107, 75;
  --rw-palette-pine-rgb-130: 58, 97, 69;
  --rw-palette-pine-rgb-140: 51, 85, 60;
  --rw-palette-pine-rgb-150: 44, 74, 53;
  --rw-palette-pine-rgb-160: 37, 61, 44;
  --rw-palette-pine-rgb-170: 30, 50, 36;
  --rw-palette-pine-rgb-180: 19, 35, 24;
  --rw-palette-pine-rgb-190: 13, 23, 15;
  --rw-palette-pine-rgb-200: 0, 0, 0;
  --rw-palette-pine-texture-size: 350px 350px;
  --rw-palette-teal-rgb-0: 255, 255, 255;
  --rw-palette-teal-rgb-10: 248, 250, 250;
  --rw-palette-teal-rgb-20: 240, 246, 245;
  --rw-palette-teal-rgb-30: 232, 241, 240;
  --rw-palette-teal-rgb-40: 214, 229, 229;
  --rw-palette-teal-rgb-50: 188, 213, 213;
  --rw-palette-teal-rgb-60: 154, 191, 191;
  --rw-palette-teal-rgb-70: 137, 178, 176;
  --rw-palette-teal-rgb-80: 118, 162, 160;
  --rw-palette-teal-rgb-90: 98, 143, 141;
  --rw-palette-teal-rgb-100: 79, 125, 123;
  --rw-palette-teal-rgb-110: 70, 113, 115;
  --rw-palette-teal-rgb-120: 62, 104, 108;
  --rw-palette-teal-rgb-130: 55, 93, 97;
  --rw-palette-teal-rgb-140: 49, 83, 87;
  --rw-palette-teal-rgb-150: 43, 72, 75;
  --rw-palette-teal-rgb-160: 35, 59, 63;
  --rw-palette-teal-rgb-170: 30, 49, 51;
  --rw-palette-teal-rgb-180: 19, 33, 35;
  --rw-palette-teal-rgb-190: 13, 23, 24;
  --rw-palette-teal-rgb-200: 0, 0, 0;
  --rw-palette-teal-texture-size: 300px 300px;
  --rw-palette-ocean-rgb-0: 255, 255, 255;
  --rw-palette-ocean-rgb-10: 245, 250, 252;
  --rw-palette-ocean-rgb-20: 237, 246, 249;
  --rw-palette-ocean-rgb-30: 231, 242, 245;
  --rw-palette-ocean-rgb-40: 208, 229, 237;
  --rw-palette-ocean-rgb-50: 181, 213, 224;
  --rw-palette-ocean-rgb-60: 148, 191, 206;
  --rw-palette-ocean-rgb-70: 129, 178, 195;
  --rw-palette-ocean-rgb-80: 107, 161, 182;
  --rw-palette-ocean-rgb-90: 85, 142, 164;
  --rw-palette-ocean-rgb-100: 67, 124, 148;
  --rw-palette-ocean-rgb-110: 59, 112, 135;
  --rw-palette-ocean-rgb-120: 54, 103, 125;
  --rw-palette-ocean-rgb-130: 50, 92, 114;
  --rw-palette-ocean-rgb-140: 44, 82, 102;
  --rw-palette-ocean-rgb-150: 38, 71, 89;
  --rw-palette-ocean-rgb-160: 31, 58, 75;
  --rw-palette-ocean-rgb-170: 26, 47, 63;
  --rw-palette-ocean-rgb-180: 19, 33, 44;
  --rw-palette-ocean-rgb-190: 11, 23, 31;
  --rw-palette-ocean-rgb-200: 0, 0, 0;
  --rw-palette-ocean-texture-size: 475px 475px;
  --rw-palette-fog-rgb-0: 255, 255, 255;
  --rw-palette-fog-rgb-10: 245, 251, 251;
  --rw-palette-fog-rgb-20: 233, 247, 247;
  --rw-palette-fog-rgb-30: 226, 243, 243;
  --rw-palette-fog-rgb-40: 212, 229, 235;
  --rw-palette-fog-rgb-50: 191, 211, 220;
  --rw-palette-fog-rgb-60: 162, 188, 198;
  --rw-palette-fog-rgb-70: 146, 174, 185;
  --rw-palette-fog-rgb-80: 125, 159, 170;
  --rw-palette-fog-rgb-90: 105, 140, 153;
  --rw-palette-fog-rgb-100: 88, 123, 134;
  --rw-palette-fog-rgb-110: 76, 112, 123;
  --rw-palette-fog-rgb-120: 68, 102, 114;
  --rw-palette-fog-rgb-130: 59, 92, 105;
  --rw-palette-fog-rgb-140: 50, 81, 94;
  --rw-palette-fog-rgb-150: 44, 71, 82;
  --rw-palette-fog-rgb-160: 36, 58, 67;
  --rw-palette-fog-rgb-170: 30, 49, 56;
  --rw-palette-fog-rgb-180: 20, 33, 38;
  --rw-palette-fog-rgb-190: 13, 23, 26;
  --rw-palette-fog-rgb-200: 0, 0, 0;
  --rw-palette-lilac-rgb-0: 255, 255, 255;
  --rw-palette-lilac-rgb-10: 248, 249, 255;
  --rw-palette-lilac-rgb-20: 242, 244, 254;
  --rw-palette-lilac-rgb-30: 235, 239, 254;
  --rw-palette-lilac-rgb-40: 219, 225, 245;
  --rw-palette-lilac-rgb-50: 198, 207, 235;
  --rw-palette-lilac-rgb-60: 173, 182, 210;
  --rw-palette-lilac-rgb-70: 160, 169, 197;
  --rw-palette-lilac-rgb-80: 143, 152, 183;
  --rw-palette-lilac-rgb-90: 124, 133, 164;
  --rw-palette-lilac-rgb-100: 107, 116, 148;
  --rw-palette-lilac-rgb-110: 96, 105, 136;
  --rw-palette-lilac-rgb-120: 88, 95, 128;
  --rw-palette-lilac-rgb-130: 79, 85, 115;
  --rw-palette-lilac-rgb-140: 70, 76, 104;
  --rw-palette-lilac-rgb-150: 60, 66, 91;
  --rw-palette-lilac-rgb-160: 48, 54, 76;
  --rw-palette-lilac-rgb-170: 42, 45, 63;
  --rw-palette-lilac-rgb-180: 27, 31, 43;
  --rw-palette-lilac-rgb-190: 19, 21, 29;
  --rw-palette-lilac-rgb-200: 0, 0, 0;
  --rw-palette-lilac-texture-size: 650px 650px;
  --rw-palette-plum-rgb-0: 255, 255, 255;
  --rw-palette-plum-rgb-10: 252, 248, 255;
  --rw-palette-plum-rgb-20: 248, 241, 252;
  --rw-palette-plum-rgb-30: 245, 236, 251;
  --rw-palette-plum-rgb-40: 234, 221, 244;
  --rw-palette-plum-rgb-50: 219, 201, 229;
  --rw-palette-plum-rgb-60: 196, 176, 209;
  --rw-palette-plum-rgb-70: 183, 161, 196;
  --rw-palette-plum-rgb-80: 168, 144, 182;
  --rw-palette-plum-rgb-90: 149, 124, 164;
  --rw-palette-plum-rgb-100: 132, 106, 146;
  --rw-palette-plum-rgb-110: 121, 96, 135;
  --rw-palette-plum-rgb-120: 111, 87, 123;
  --rw-palette-plum-rgb-130: 99, 78, 113;
  --rw-palette-plum-rgb-140: 89, 69, 100;
  --rw-palette-plum-rgb-150: 77, 60, 87;
  --rw-palette-plum-rgb-160: 63, 48, 72;
  --rw-palette-plum-rgb-170: 54, 41, 60;
  --rw-palette-plum-rgb-180: 36, 27, 41;
  --rw-palette-plum-rgb-190: 25, 19, 28;
  --rw-palette-plum-rgb-200: 0, 0, 0;
  --rw-palette-plum-texture-size: 300px 300px;
  --rw-palette-rose-rgb-0: 255, 255, 255;
  --rw-palette-rose-rgb-10: 253, 248, 250;
  --rw-palette-rose-rgb-20: 250, 242, 244;
  --rw-palette-rose-rgb-30: 251, 236, 239;
  --rw-palette-rose-rgb-40: 246, 218, 225;
  --rw-palette-rose-rgb-50: 234, 198, 207;
  --rw-palette-rose-rgb-60: 217, 171, 182;
  --rw-palette-rose-rgb-70: 206, 155, 167;
  --rw-palette-rose-rgb-80: 194, 136, 151;
  --rw-palette-rose-rgb-90: 180, 114, 130;
  --rw-palette-rose-rgb-100: 163, 100, 114;
  --rw-palette-rose-rgb-110: 146, 88, 101;
  --rw-palette-rose-rgb-120: 134, 80, 92;
  --rw-palette-rose-rgb-130: 122, 71, 83;
  --rw-palette-rose-rgb-140: 108, 63, 73;
  --rw-palette-rose-rgb-150: 95, 54, 63;
  --rw-palette-rose-rgb-160: 79, 43, 51;
  --rw-palette-rose-rgb-170: 65, 36, 43;
  --rw-palette-rose-rgb-180: 45, 25, 29;
  --rw-palette-rose-rgb-190: 32, 18, 20;
  --rw-palette-rose-rgb-200: 0, 0, 0;
  --rw-palette-rose-texture-size: 550px 550px;
  --rw-palette-slate-rgb-0: 255, 255, 255;
  --rw-palette-slate-rgb-10: 246, 250, 250;
  --rw-palette-slate-rgb-20: 237, 246, 246;
  --rw-palette-slate-rgb-30: 231, 242, 242;
  --rw-palette-slate-rgb-40: 215, 229, 229;
  --rw-palette-slate-rgb-50: 194, 212, 212;
  --rw-palette-slate-rgb-60: 169, 187, 188;
  --rw-palette-slate-rgb-70: 153, 173, 174;
  --rw-palette-slate-rgb-80: 139, 157, 158;
  --rw-palette-slate-rgb-90: 121, 139, 138;
  --rw-palette-slate-rgb-100: 105, 119, 120;
  --rw-palette-slate-rgb-110: 96, 108, 109;
  --rw-palette-slate-rgb-120: 88, 99, 99;
  --rw-palette-slate-rgb-130: 79, 90, 90;
  --rw-palette-slate-rgb-140: 70, 79, 79;
  --rw-palette-slate-rgb-150: 60, 69, 69;
  --rw-palette-slate-rgb-160: 50, 57, 57;
  --rw-palette-slate-rgb-170: 42, 47, 47;
  --rw-palette-slate-rgb-180: 28, 32, 32;
  --rw-palette-slate-rgb-190: 19, 21, 21;
  --rw-palette-slate-rgb-200: 0, 0, 0;
  --rw-palette-slate-texture-size: 480px 480px;
  --rw-palette-pebble-rgb-0: 255, 255, 255;
  --rw-palette-pebble-rgb-10: 246, 250, 255;
  --rw-palette-pebble-rgb-20: 238, 245, 255;
  --rw-palette-pebble-rgb-30: 231, 240, 253;
  --rw-palette-pebble-rgb-40: 218, 226, 239;
  --rw-palette-pebble-rgb-50: 200, 208, 221;
  --rw-palette-pebble-rgb-60: 176, 184, 196;
  --rw-palette-pebble-rgb-70: 162, 170, 182;
  --rw-palette-pebble-rgb-80: 146, 153, 166;
  --rw-palette-pebble-rgb-90: 128, 135, 146;
  --rw-palette-pebble-rgb-100: 111, 117, 126;
  --rw-palette-pebble-rgb-110: 100, 106, 115;
  --rw-palette-pebble-rgb-120: 92, 97, 105;
  --rw-palette-pebble-rgb-130: 83, 87, 95;
  --rw-palette-pebble-rgb-140: 73, 77, 83;
  --rw-palette-pebble-rgb-150: 63, 66, 72;
  --rw-palette-pebble-rgb-160: 52, 54, 59;
  --rw-palette-pebble-rgb-170: 43, 46, 50;
  --rw-palette-pebble-rgb-180: 30, 31, 34;
  --rw-palette-pebble-rgb-190: 21, 22, 23;
  --rw-palette-pebble-rgb-200: 0, 0, 0;
  --rw-palette-pebble-texture-size: 450px 450px;
  --rw-palette-blue-rgb-0: 255, 255, 255;
  --rw-palette-blue-rgb-10: 246, 250, 252;
  --rw-palette-blue-rgb-20: 237, 246, 249;
  --rw-palette-blue-rgb-30: 228, 241, 247;
  --rw-palette-blue-rgb-40: 208, 229, 238;
  --rw-palette-blue-rgb-50: 180, 213, 225;
  --rw-palette-blue-rgb-60: 143, 191, 208;
  --rw-palette-blue-rgb-70: 121, 177, 198;
  --rw-palette-blue-rgb-80: 95, 162, 186;
  --rw-palette-blue-rgb-90: 65, 144, 172;
  --rw-palette-blue-rgb-100: 34, 126, 158;
  --rw-palette-blue-rgb-110: 14, 114, 149;
  --rw-palette-blue-rgb-120: 0, 104, 140;
  --rw-palette-blue-rgb-130: 2, 94, 126;
  --rw-palette-blue-rgb-140: 4, 83, 111;
  --rw-palette-blue-rgb-150: 6, 72, 95;
  --rw-palette-blue-rgb-160: 6, 60, 78;
  --rw-palette-blue-rgb-170: 5, 50, 66;
  --rw-palette-blue-rgb-180: 4, 35, 45;
  --rw-palette-blue-rgb-190: 2, 24, 31;
  --rw-palette-blue-rgb-200: 0, 0, 0;
  --rw-palette-red-rgb-0: 255, 255, 255;
  --rw-palette-red-rgb-10: 255, 248, 247;
  --rw-palette-red-rgb-20: 255, 241, 239;
  --rw-palette-red-rgb-30: 255, 235, 232;
  --rw-palette-red-rgb-40: 255, 217, 211;
  --rw-palette-red-rgb-50: 255, 193, 184;
  --rw-palette-red-rgb-60: 255, 157, 144;
  --rw-palette-red-rgb-70: 255, 134, 117;
  --rw-palette-red-rgb-80: 254, 105, 84;
  --rw-palette-red-rgb-90: 236, 79, 58;
  --rw-palette-red-rgb-100: 214, 59, 37;
  --rw-palette-red-rgb-110: 195, 53, 34;
  --rw-palette-red-rgb-120: 179, 49, 31;
  --rw-palette-red-rgb-130: 162, 44, 28;
  --rw-palette-red-rgb-140: 143, 39, 25;
  --rw-palette-red-rgb-150: 124, 34, 22;
  --rw-palette-red-rgb-160: 102, 28, 18;
  --rw-palette-red-rgb-170: 86, 24, 15;
  --rw-palette-red-rgb-180: 60, 17, 11;
  --rw-palette-red-rgb-190: 42, 12, 7;
  --rw-palette-red-rgb-200: 0, 0, 0;
  --rw-palette-orange-rgb-0: 255, 255, 255;
  --rw-palette-orange-rgb-10: 254, 249, 242;
  --rw-palette-orange-rgb-20: 253, 242, 229;
  --rw-palette-orange-rgb-30: 252, 237, 220;
  --rw-palette-orange-rgb-40: 249, 221, 188;
  --rw-palette-orange-rgb-50: 246, 199, 146;
  --rw-palette-orange-rgb-60: 240, 169, 87;
  --rw-palette-orange-rgb-70: 235, 150, 50;
  --rw-palette-orange-rgb-80: 225, 130, 18;
  --rw-palette-orange-rgb-90: 198, 113, 14;
  --rw-palette-orange-rgb-100: 172, 99, 12;
  --rw-palette-orange-rgb-110: 156, 89, 11;
  --rw-palette-orange-rgb-120: 143, 82, 10;
  --rw-palette-orange-rgb-130: 129, 73, 9;
  --rw-palette-orange-rgb-140: 114, 65, 8;
  --rw-palette-orange-rgb-150: 99, 56, 7;
  --rw-palette-orange-rgb-160: 81, 47, 6;
  --rw-palette-orange-rgb-170: 69, 39, 5;
  --rw-palette-orange-rgb-180: 46, 26, 3;
  --rw-palette-orange-rgb-190: 32, 18, 2;
  --rw-palette-orange-rgb-200: 0, 0, 0;
  --rw-palette-green-rgb-0: 255, 255, 255;
  --rw-palette-green-rgb-10: 244, 252, 235;
  --rw-palette-green-rgb-20: 235, 248, 222;
  --rw-palette-green-rgb-30: 228, 245, 211;
  --rw-palette-green-rgb-40: 207, 235, 179;
  --rw-palette-green-rgb-50: 177, 221, 136;
  --rw-palette-green-rgb-60: 138, 201, 79;
  --rw-palette-green-rgb-70: 125, 186, 69;
  --rw-palette-green-rgb-80: 111, 169, 57;
  --rw-palette-green-rgb-90: 94, 148, 43;
  --rw-palette-green-rgb-100: 80, 130, 35;
  --rw-palette-green-rgb-110: 73, 118, 32;
  --rw-palette-green-rgb-120: 67, 107, 29;
  --rw-palette-green-rgb-130: 60, 96, 26;
  --rw-palette-green-rgb-140: 53, 86, 23;
  --rw-palette-green-rgb-150: 46, 73, 20;
  --rw-palette-green-rgb-160: 38, 61, 16;
  --rw-palette-green-rgb-170: 31, 51, 14;
  --rw-palette-green-rgb-180: 21, 35, 9;
  --rw-palette-green-rgb-190: 15, 23, 6;
  --rw-palette-green-rgb-200: 0, 0, 0;
  --rw-palette-sky-rgb-0: 255, 255, 255;
  --rw-palette-sky-rgb-10: 246, 250, 252;
  --rw-palette-sky-rgb-20: 237, 246, 249;
  --rw-palette-sky-rgb-30: 228, 241, 247;
  --rw-palette-sky-rgb-40: 208, 229, 238;
  --rw-palette-sky-rgb-50: 180, 213, 225;
  --rw-palette-sky-rgb-60: 143, 191, 208;
  --rw-palette-sky-rgb-70: 121, 177, 198;
  --rw-palette-sky-rgb-80: 95, 162, 186;
  --rw-palette-sky-rgb-90: 65, 144, 172;
  --rw-palette-sky-rgb-100: 34, 126, 158;
  --rw-palette-sky-rgb-110: 14, 114, 149;
  --rw-palette-sky-rgb-120: 0, 104, 140;
  --rw-palette-sky-rgb-130: 2, 94, 126;
  --rw-palette-sky-rgb-140: 4, 83, 111;
  --rw-palette-sky-rgb-150: 6, 72, 95;
  --rw-palette-sky-rgb-160: 6, 60, 78;
  --rw-palette-sky-rgb-170: 5, 50, 66;
  --rw-palette-sky-rgb-180: 4, 35, 45;
  --rw-palette-sky-rgb-190: 2, 24, 31;
  --rw-palette-sky-rgb-200: 0, 0, 0;
}
