/* stylelint-disable */
.redwood-theme {
  // Badge Colors
  // ---------------------------------------
  --badge-neutral-subtle-background-color: var(--rds-color-ui-light-surface-neutral-subtle);
  --badge-neutral-subtle-text-icon-color: var(--rds-color-ui-light-text-icon-secondary);
  --badge-neutral-strong-background-color: var(--rds-color-ui-dark-surface-neutral-strong);
  --badge-neutral-strong-text-icon-color: var(--rds-color-ui-dark-text-icon-primary);
  --badge-positive-strong-background-color: var(--rds-color-ui-dark-surface-success-strong);
  --badge-positive-strong-text-icon-color: var(--rds-color-ui-dark-text-icon-primary);
  --badge-positive-subtle-background-color: var(--rds-color-ui-dark-surface-success-subtle);
  --badge-positive-subtle-text-icon-color: var(--rds-color-ui-light-text-icon-success);
  --badge-negative-strong-background-color: var(--rds-color-ui-dark-surface-danger-strong);
  --badge-negative-strong-text-icon-color: var(--rds-color-ui-dark-text-icon-primary);
  --badge-negative-subtle-background-color: var(--rds-color-ui-dark-surface-danger-subtle);
  --badge-negative-subtle-text-icon-color: var(--rds-color-ui-light-text-icon-danger);
  --badge-warning-strong-background-color: var(--rds-color-ui-dark-surface-warning-strong);
  --badge-warning-strong-text-icon-color: var(--rds-color-ui-dark-text-icon-primary);
  --badge-warning-subtle-background-color: var(--rds-color-ui-dark-surface-warning-subtle);
  --badge-warning-subtle-text-icon-color: var(--rds-color-ui-light-text-icon-warning);
  --badge-information-strong-background-color: var(--rds-color-ui-dark-surface-info-strong);
  --badge-information-strong-text-icon-color: var(--rds-color-ui-dark-text-icon-primary);
  --badge-information-subtle-background-color: var(--rds-color-ui-dark-surface-info-subtle);
  --badge-information-subtle-text-icon-color: var(--rds-color-ui-light-text-icon-info);

  // Base Colors
  // ---------------------------------------
  --text-icon-color: var(--rds-color-ui-light-text-icon-primary);
  --application-background-color: var(--rds-color-ui-light-page-background-neutral-0);

  // Base Font Details
  // ---------------------------------------

  // This is for Terra size 14pt, need method for MPage 12pt sixe and Redwood 16pt size
  --base-font-size: 87.5%;

  // This is for Terra size 14pt, need method for MPage 12pt sixe and Redwood 16pt size
  --base-line-height: 1.14285714285714286;

  // Card Colors
  // ---------------------------------------
  --card-background-color: var(--rds-color-ui-light-surface-neutral-0);
  --card-border-color: var(--rds-color-ui-light-border-divider);

  // Card Corner Radius
  // ---------------------------------------
  --card-border-radius: var(--rds-border-radius-lg); //** new **

  // Divider Color
  // ---------------------------------------
  --divider-color: var(--rds-color-ui-light-border-divider);
  --divider-text-color: var(--rds-color-ui-light-text-icon-secondary);

  // Focus Style
  // ---------------------------------------
  --focus-border-color: var(--rds-color-ui-light-text-icon-primary);

  // Hyperlink Colors
  // ---------------------------------------
  --link-enabled-text-color: var(--rds-color-ui-light-text-icon-link);
  --link-hover-text-color: var(--rds-color-alert-information-150);
  --link-active-text-color: var(--rds-color-alert-information-170);
  --link-focus-text-color: var(--rds-color-alert-information-170);
  --link-disabled-text-color: var(--rds-color-ui-light-text-icon-link);
  --link-visited-enabled-text-color: var(--rds-color-plum-130);
  --link-visited-focus-text-color: var(--rds-color-plum-130);

  // Label Color
  // ---------------------------------------
  --label-text-color: var(--rds-color-ui-light-text-icon-primary);

  // Overlay Colors
  // ---------------------------------------
  --overlay-subtle-background-color: var(--rds-color-ui-light-overlay-scrim-subtle);
  --overlay-strong-background-color: var(--rds-color-ui-light-overlay-scrim);
  --overlay-subtle-text-icon-color: var(--rds-color-ui-light-text-icon-primary);
  --overlay-strong-text-icon-color: var(--rds-color-ui-light-text-icon-inverse);

  // Paginator Colors
  // ---------------------------------------
  --pagination-selected-text-color: var(--rds-color-ui-light-text-icon-link);

  // Signature Line color
  // ---------------------------------------
  --drawing-line-color: var(--rds-color-ui-light-text-icon-primary);

  // Tag Colors
  // ---------------------------------------
  --tag-background-color: none;
  --tag-border-color: var(--rds-color-ui-light-border-enabled);
  --tag-static-text-color: var(--rds-color-ui-light-text-icon-link);
  --tag-enabled-text-color: var(--link-enabled-text-color);
  --tag-hover-text-color: var(--link-hover-text-color);
  --tag-active-text-color: var(--link-active-text-color);
  --tag-focus-text-color: var(--link-disabled-text-color);

  // Toolbar Colors
  // ---------------------------------------
  --toolbar-background-color: var(--rds-color-ui-light-surface-neutral-10);
  --toolbar-border-color: var(--rds-color-ui-light-border-divider);
}
/* stylelint-enable */
