:local {
  .clinical-lowlight-theme {
    --terra-application-name-header-color: #b2b5b6;
    --terra-application-name-header-title-text-shadow: none;
    --terra-application-name-header-align-items: center;
    --terra-application-name-header-font-size: 1.0714285714rem;
    --terra-application-name-header-letter-spacing: normal;
    --terra-application-name-header-line-height: 1.53061429rem;
    --terra-application-name-header-padding-bottom: 0.35714rem;
    --terra-application-name-header-padding-left: 0.35714rem;
    --terra-application-name-header-padding-right: 0.35714rem;
    --terra-application-name-header-padding-top: 0.35714rem;
    --terra-application-name-header-accessory-display: block;
    --terra-application-name-header-accessory-padding-right: 0.35714rem;
    --terra-application-name-header-title-font-weight: bold;
    --terra-application-name-header-title-overflow: hidden;
    --terra-application-name-header-title-padding-left: 0;
    --terra-application-name-header-title-padding-right: 0;
    --terra-application-name-header-title-text-overflow: ellipsis;
    --terra-application-name-header-title-white-space: nowrap;
    --terra-application-name-header-title-word-break: normal;
    --terra-application-name-header-title-word-wrap: normal;
  }
}
