:local {
  .orion-fusion-theme {
    // Default
    --terra-date-picker-input-background-color: #fff;
    --terra-date-picker-input-border-color: #dedfe0;
    --terra-date-picker-input-border-radius: 3px;
    --terra-date-picker-input-border-style: solid;
    --terra-date-picker-input-border-width: 1px;
    --terra-date-picker-input-color: #1c1f21;
    --terra-date-picker-input-padding: 0.25rem;
    --terra-date-picker-input-date-component-background-color: transparent;
    --terra-date-picker-input-date-component-border-color: transparent;
    --terra-date-picker-input-date-component-border-radius: 2px;
    --terra-date-picker-input-date-component-border-style: none;
    --terra-date-picker-input-date-component-border-width: 0;
    --terra-date-picker-input-date-component-caret-color: #1c1f21;
    --terra-date-picker-input-date-component-height: 1.5rem;
    --terra-date-picker-input-date-component-padding: 0;
    --terra-date-picker-input-date-spacer-margin-left: 0.125rem;
    --terra-date-picker-input-date-spacer-margin-right: 0.125rem;
    --terra-date-picker-button-border: 1px solid #dedfe0;
    --terra-date-picker-button-border-bottom-right-radius: 3px;
    --terra-date-picker-button-border-top-right-radius: 3px;
    --terra-date-picker-button-box-shadow: inset 0 3rem 1.5rem -2rem #dedfe0;

    // Default - Hover
    --terra-date-picker-input-date-component-hover-background-color: transparent;
    --terra-date-picker-input-date-component-hover-border: 0 none transparent;
    --terra-date-picker-button-hover-border-color: #dedfe0;

    // Default - Focus
    --terra-date-picker-input-focus-border-color: #4cb2e9;
    --terra-date-picker-input-focus-box-shadow: 0 0 0 1px rgba(76, 178, 233, 0.5), 0 0 4px 3px rgba(76, 178, 233, 0.35);
    --terra-date-picker-input-date-component-focus-background-color: transparent;
    --terra-date-picker-input-date-component-focus-border: 0;
    --terra-date-picker-input-date-component-focus-box-shadow: none;
    --terra-date-picker-input-date-component-initial-focus-border: none;
    --terra-date-picker-button-focus-border-color: #26a2e5;
    --terra-date-picker-button-focus-box-shadow: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);
    --terra-date-picker-input-date-component-focused-input-background-color: rgba(139, 194, 249, 0.3);
    --terra-date-picker-input-focus-border-outline: none;
    --terra-date-picker-input-focus-background-color: #fff;

    // Default - Disabled
    --terra-date-picker-input-disabled-background-color: #f4f4f4;
    --terra-date-picker-input-disabled-border: 1px solid #b2b5b6;
    --terra-date-picker-input-disabled-color: #9b9fa1;
    --terra-date-picker-input-disabled-opacity: 1;
    --terra-date-picker-input-date-component-disabled-background-color: transparent;
    --terra-date-picker-input-date-component-disabled-border: 0;
    --terra-date-picker-button-disabled-border-color: #dedfe0;

    // Invalid
    --terra-date-picker-input-invalid-border-color: #dedfe0;
    --terra-date-picker-input-invalid-box-shadow: none;
    --terra-date-picker-button-invalid-border-color: #dedfe0;
    --terra-date-picker-button-invalid-box-shadow: none;

    // Invalid - Disabled
    --terra-date-picker-input-invalid-disabled-border-color: #dedfe0;
    --terra-date-picker-input-invalid-disabled-box-shadow: none;

    // Invalid - Hover
    --terra-date-picker-input-invalid-hover-border-color: #dedfe0;
    --terra-date-picker-input-invalid-hover-box-shadow: none;

    // Invalid - Focus
    --terra-date-picker-input-invalid-focus-border-color: #4cb2e9;
    --terra-date-picker-input-invalid-focus-box-shadow: 0 0 8px #a6d9f4;
    --terra-date-picker-button-invalid-focus-border-color: #4cb2e9;
    --terra-date-picker-button-invalid-focus-box-shadow: inset 0 3rem 1.5rem -2rem #f4f4f4, 0 0 1px 1px rgba(255, 255, 255, 0.65), 0 0 2px 3px rgba(76, 178, 233, 0.5), 0 0 6px 4px rgba(76, 178, 233, 0.3);

    // Incomplete
    --terra-date-picker-input-incomplete-background-color: #fefd9a;
    --terra-date-picker-input-incomplete-hover-background-color: #fefd9a;
    --terra-date-picker-input-incomplete-focus-background-color: #fefd9a;
    --terra-date-picker-input-incomplete-disabled-background-color: #f4f4f4;

    // format text
    --terra-date-picker-format-text-color: rgba(28, 31, 33, 0.65);
    --terra-date-picker-format-text-font-size: 0.855rem;
    --terra-date-picker-format-text-font-weight: normal;
    --terra-date-picker-format-text-margin-top: 0.25em;
  }
}
