:local {
  .orion-fusion-theme {
    --terra-navigation-side-menu-list-item-background-color: transparent;
    --terra-navigation-side-menu-list-item-border-bottom: none;
    --terra-navigation-side-menu-list-item-border-left: none;
    --terra-navigation-side-menu-list-item-border-right: none;
    --terra-navigation-side-menu-list-item-border-top: none;
    
    --terra-navigation-side-menu-item-active-background-color: #f4fafe;
    --terra-navigation-side-menu-item-active-chevron-color: #bcbfc0;
    --terra-navigation-side-menu-item-border-bottom: none;
    --terra-navigation-side-menu-item-border-left: none;
    --terra-navigation-side-menu-item-border-right: none;
    --terra-navigation-side-menu-item-border-top: none;
    --terra-navigation-side-menu-item-chevron-color: #bcbfc0;
    --terra-navigation-side-menu-item-chevron-height: 0.8em;
    --terra-navigation-side-menu-item-chevron-padding-left: 0.7143rem;
    --terra-navigation-side-menu-item-chevron-width: 0.8em;
    --terra-navigation-side-menu-item-color: #1c1f21;
    --terra-navigation-side-menu-item-focus-background-color: transparent;
    --terra-navigation-side-menu-item-focus-box-shadow: inset 0 0 0 1px #26a2e5, inset 0 0 0 4px rgba(76, 178, 233, 0.2);
    --terra-navigation-side-menu-item-font-size: 1.071rem;
    --terra-navigation-side-menu-item-font-weight: normal;
    --terra-navigation-side-menu-item-line-height: 1.42857;
    --terra-navigation-side-menu-item-focus-chevron-color: #bcbfc0;
    --terra-navigation-side-menu-item-hover-background-color: #f5fafe;
    --terra-navigation-side-menu-item-hover-chevron-color: #bcbfc0;
    --terra-navigation-side-menu-item-hover-color: #1c1f21;
    --terra-navigation-side-menu-item-padding-bottom: 0.8225rem;
    --terra-navigation-side-menu-item-padding-left: 1.2143rem;
    --terra-navigation-side-menu-item-padding-right: 0.7143rem;
    --terra-navigation-side-menu-item-padding-top: 0.8225rem;
    --terra-navigation-side-menu-item-selected-background-attachment: none;
    --terra-navigation-side-menu-item-selected-background-color: #e2f2fc;
    --terra-navigation-side-menu-item-selected-background-image: none;
    --terra-navigation-side-menu-item-selected-before-background-image: none;
    --terra-navigation-side-menu-item-selected-background-size: auto;
    --terra-navigation-side-menu-item-selected-border-left: 0.5rem solid #007cc3;
    --terra-navigation-side-menu-item-selected-chevron-color: #909496;
    --terra-navigation-side-menu-item-selected-color: #1c1f21;
    --terra-navigation-side-menu-item-selected-focus-background-color: #f4f4f4;
    --terra-navigation-side-menu-item-selected-focus-chevron-color: #909496;
    --terra-navigation-side-menu-item-selected-focus-color: #1c1f21;
    --terra-navigation-side-menu-item-selected-font-weight: 600;
    --terra-navigation-side-menu-item-selected-padding-left: 0.7143rem;
    --terra-navigation-side-menu-item-selected-hover-background-color: #f4fafe;
    --terra-navigation-side-menu-item-selected-hover-chevron-color: #909496;
    --terra-navigation-side-menu-item-selected-hover-color: #1c1f21;
    --terra-navigation-side-menu-item-text-transform: none;
    --terra-navigation-side-menu-focus-outline: none;
    --terra-navigation-side-menu-focus-outline-offset: 0;
    --terra-navigation-side-menu-item-focus-box-shadow: 0 0 0 1px rgba(76, 178, 233, 0.5), 0 0 4px 3px rgba(76, 178, 233, 0.35);
  }
}
