:global {
  --terra-tabs-keyboard-focus-ltr-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;
  --terra-tabs-keyboard-focus-rtl-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;

  --terra-tabs-modular-active-color: #000;
  --terra-tabs-modular-background-color: #fff;
  --terra-tabs-modular-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
  --terra-tabs-modular-color: #007ee0;
  --terra-tabs-modular-focus-background-color: #fff;
  --terra-tabs-modular-hover-background-image: linear-gradient(to bottom, #c8cacb, #c8cacb);
  --terra-tabs-modular-hover-color: #000;

  --terra-tabs-structural-background-color: #222a2e;
  --terra-tabs-structural-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
  --terra-tabs-structural-before-content-background: none;
  --terra-tabs-structural-border-color: #181b1d;
  --terra-tabs-structural-box-shadow: none;
  --terra-tabs-structural-color: #007ee0;
  --terra-tabs-structural-container-background-color: #222a2e;
  --terra-tabs-structural-content-background-color: #222a2e;
  --terra-tabs-structural-content-box-shadow: 0;
  --terra-tabs-structural-disabled-label-opacity: 1;

  --terra-tabs-structural-active-background-color: #222a2e;
  --terra-tabs-structural-active-box-shadow: none;
  --terra-tabs-structural-active-color: #b2b5b6;
  --terra-tabs-structural-active-focus-background-color: #222a2e;
  --terra-tabs-structural-active-focus-color: #b2b5b6;
  --terra-tabs-structural-active-hover-background-color: #222a2e;
  --terra-tabs-structural-active-hover-background-image: linear-gradient(to bottom, #111212, #111212);
  --terra-tabs-structural-active-hover-color: #b2b5b6;

  --terra-tabs-structural-focus-background-color: #222a2e;
  --terra-tabs-structural-focus-color: initial;

  --terra-tabs-structural-hover-background-color: #222a2e;
  --terra-tabs-structural-hover-background-image: linear-gradient(to bottom, #111212, #111212);
  --terra-tabs-structural-hover-color: #b2b5b6;

  --terra-tabs-active-focus-ltr-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;
  --terra-tabs-active-focus-rtl-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;

  --terra-tabs-collapsed-modular-tab-bar-border-bottom-color: #dddedf;

  --terra-tabs-keyboard-active-focus-ltr-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;
  --terra-tabs-keyboard-active-focus-rtl-box-shadow: 0 0 1px 3px #4a90e2, 0 0 7px 4px #4a90e2;

  --terra-tabs-modular-active-focus-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
  --terra-tabs-modular-disabled-hover-color: #c8cacb;
  --terra-tabs-modular-selection-bar-background-color: #fff;
  --terra-tabs-modular-tab-bar-border-bottom-color: #dddedf;

  --terra-tabs-structural-active-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
  --terra-tabs-structural-active-focus-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
  --terra-tabs-structural-collapsed-before-content-background: #141719;
  --terra-tabs-structural-collapsed-border-bottom-color: #181b1d;
  --terra-tabs-structural-collapsed-menu-bar-focus-border-bottom-color: none;
  --terra-tabs-structural-content-background-image: linear-gradient(to bottom, #222a2e, #222a2e);
  --terra-tabs-structural-disabled-hover-background-color: #222a2e;
  --terra-tabs-structural-disabled-hover-color: #404344;
  --terra-tabs-structural-disabled-hover-opacity: 1;
  --terra-tabs-structural-focus-background-image: linear-gradient(to bottom, #141719, #141719);
  --terra-tabs-structural-tab-bar-border-bottom-color: #181b1d;

  --terra-tabs-modular-active-focus-background-color: #fff;
}
