@import '../clinical-lowlight-theme/FolderTree.module';
@import '../orion-fusion-theme/FolderTree.module';

:local {
  .folder-tree-item {
    align-items: center;
    background: var(--terra-folder-tree-item-background, #fff);
    border-bottom: var(--terra-folder-tree-item-border-bottom, 1px solid #dedfe0);
    display: flex;
    margin: 0;
    min-height: var(--terra-folder-tree-item-min-height, 2.92857rem);
    overflow-wrap: anywhere;
    padding: 0;
    width: 100%;
  
    &:hover {
      background-color: var(--terra-folder-tree-item-hover-background-color, #f4fafe);
      cursor: pointer;
    }

    &:focus {
      box-shadow: var(--terra-folder-tree-focus-box-shadow, none);
      outline: var(--terra-folder-tree-focus-outline, 2px dashed #000);
      outline-offset: var(--terra-folder-tree-focus-outline-offset, -4px);
    }
  }

  .selected {
    background-color: var(--terra-folder-tree-item-selected-background-color, darken(#ebf6fd, 2%));
  }
  
  .subfolder {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .radio {
    height: 14px;
    margin: 17px;
    width: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  .radio-container {
    height: 14px;
    margin: 17px;
    width: 14px;
  }
}
