@import '../clinical-lowlight-theme/FolderTree.module';
@import '../orion-fusion-theme/FolderTree.module';

:local {
  .folder-tree-item {
    align-items: center;
    background: var(--terra-folder-tree-item-background, #fff);
    border-bottom: var(--terra-folder-tree-item-border-bottom, 1px solid #dedfe0);
    display: flex;
    margin: 0;
    min-height: var(--terra-folder-tree-item-min-height, 48px);
    overflow-wrap: anywhere;
    padding: 0;
    width: 100%;
  
    &:hover {
      cursor: pointer;

      &:not(.hover-within) {
        background-color: var(--terra-folder-tree-item-hover-background-color,  rgb(203, 230, 247, 0.5));
      }      
    }

    &.hover-within {
      .radio-target::before {
        background-color: var(--terra-folder-tree-item-hover-before-background-color, rgb(203, 230, 247, 0.5));
        border-radius: 50%;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &:focus {
      box-shadow: var(--terra-folder-tree-focus-box-shadow, none);
      outline: var(--terra-folder-tree-focus-outline, 2px dashed #000);
      outline-offset: var(--terra-folder-tree-focus-outline-offset, -4px);
    }
  }

  .is-outlineview {
    &:focus {
      background-color: var(--terra-folder-tree-outline-view-item-focus-background-color, #F4FAFE);
    }

    &:hover {
      &:not(.hover-within){
        background-color: var(--terra-folder-tree-outline-view-item-hover-background-color, #F4FAFE);
      }
    }
  }

  .selected {
    background-color: var(--terra-folder-tree-item-selected-background-color, darken(#ebf6fd, 2%));
  }
  
  .is-disabled {
    cursor: default;
    opacity: 30%;
  }

  .subfolder {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .non-selectable {
    padding-left: 48px;
  }

  .radio,
  .radio-target {
    position: relative;
  }

  .radio:hover {
    cursor: pointer;
  }

  .radio-target:hover {
    cursor: pointer;
  }

  .radio-container {
    height: 14px;
    margin: 17px;
    width: 14px;
  }
}
