
  // Item Component
  // ========================================================
  .item {
    align-items: center;
    background-color: var(--terra-list-item-background-color);
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: var(--terra-list-item-last-divider-border-bottom, 1px solid #dedfe0);
    min-height: var(--terra-action-header-min-height, 2.92857rem); // TODO: use a variable

    &:hover {
      background-color: #f2f9fe; // TODO: use a variable
      cursor: pointer;
    }
  }

  .selected {
    background-color: var(--terra-list-item-selected-background-color, darken(#ebf6fd, 2%));
  }

  .disabled {
    opacity: 30%;
  }

  .subtree {
    list-style: none;
    margin: 0;
    padding: 0;
  }
