:local {
  .orion-fusion-theme {
    --terra-menu-item-color: #595f62;
    --terra-menu-item-margin: 0;
    --terra-menu-item-padding: 0.5rem 0.83333rem 0.5rem 2.33333rem;
    --terra-menu-item-hover-background-color: #f4fafe;
    --terra-menu-item-hover-background-image: none;
    --terra-menu-item-hover-box-shadow: none;
    --terra-menu-item-focus-box-shadow: 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35);
    --terra-menu-item-focus-background-color: #ebf6fd;
    --terra-menu-item-focus-outline: none;
    --terra-menu-item-focus-outline-offset: 0;
    --terra-menu-item-chevron-hover-icon-color: #1f1f21;
    --terra-menu-item-chevron-focus-icon-color: #1f1f21;
    --terra-menu-item-active-background-color: #e2f2fc;
    --terra-menu-item-active-text-color: #000;
    --terra-menu-item-disabled-text-opacity: 0.1;
    --terra-menu-item-disabled-chevron-icon-color: rgb(187, 188, 189, 0.25);
    --terra-menu-item-disabled-start-icon-opacity: 0.1;
    --terra-menu-item-text-color: #000;
    --terra-menu-item-text-font-size: 1rem;
    --terra-menu-item-text-margin-right: 2rem;
    --terra-menu-item-text-margin-left: 0.5rem;
    --terra-menu-item-top-level-text-margin-right: 0;
    --terra-menu-item-start-icon-font-size: 1.33333rem;
    --terra-menu-item-text-font-weight: normal;
    --terra-menu-item-start-icon-margin-left: -1.33333rem;
    --terra-menu-item-start-icon-margin-right: 0;
    --terra-menu-item-chevron-icon-color: #000;
    --terra-menu-item-chevron-icon-font-size: 1.33333rem;
    --terra-menu-item-chevron-icon-margin-left: 0.41667rem;
    --terra-menu-item-chevron-icon-margin-right: 0;
    --terra-menu-item-highlighted-background-color: #e2f2fc;
    --terra-menu-item-highlighted-hover-background-color: #cbe7fa;
    --terra-menu-item-highlighted-hover-background-image: none;
    --terra-menu-item-highlighted-hover-box-shadow: none;
  }
}
