:local {
  .orion-fusion-theme {
    --terra-menu-divider-border-color: #c8cacb;
    --terra-menu-divider-margin-top: 0;
    --terra-menu-divider-after-border-color: transparent;
    --terra-menu-divider-after-border-width: 0;
    --terra-menu-divider-after-margin-bottom: 0;
    --terra-menu-submenu-divider-after-border-color: transparent;
    --terra-menu-submenu-divider-after-border-width: 0;
    --terra-menu-submenu-divider-after-margin-bottom: 0;
    --terra-menu-submenu-header-background-color: #f4f4f4;
    --terra-menu-submenu-header-border-bottom: 2px solid #9b9fa1;
    --terra-menu-submenu-header-button-outline-offset: -4px;
    --terra-menu-back-button-focus-outline: none;
    --terra-menu-back-button-focus-box-shadow: inset 0 0 1px 3px rgba(76,178,233,0.5),inset 0 0 7px 4px rgba(76,178,233,0.35);
    --terra-menu-submenu-header-height: auto;
    --terra-menu-submenu-header-title-color: #1c1f21;
    --terra-menu-submenu-header-title-font-size: 1.16667rem;
    --terra-menu-submenu-header-title-font-weight: normal;
    --terra-menu-submenu-header-title-line-height: 1.57143;
    --terra-menu-submenu-header-title-margin: 0.25rem 0.25rem 0.25rem 0;
    --terra-menu-submenu-header-buttons-icon-color: #1c1f21;
    --terra-menu-submenu-header-buttons-icon-font-size: 1.16667rem;
    --terra-menu-submenu-header-buttons-margin: 0;
    --terra-menu-submenu-header-buttons-padding: 0.375rem 0.58333rem;
    --terra-menu-submenu-header-buttons-hover-color: #004c76;
    --terra-menu-header-title-margin-left: 2.33333rem;
    --terra-menu-fullscreen-header-background-color: #f4f4f4;
    --terra-menu-fullscreen-header-border-bottom: 2px solid #9b9fa1;
    --terra-menu-fullscreen-header-title-color: #1c1f21;
    --terra-menu-fullscreen-header-title-font-size: 1.16667rem;
    --terra-menu-fullscreen-header-title-line-height: 1.57143;
    --terra-menu-fullscreen-header-title-margin: 0.5rem 0 0.416667rem 0.25rem;
    --terra-menu-fullscreen-header-buttons-icon-font-size: 1.16667rem;
    --terra-menu-fullscreen-header-buttons-margin: 0;
    --terra-menu-fullscreen-header-buttons-padding: 0.375rem 0.58333rem;
    --terra-menu-list-padding: 0;
    --terra-menu-background-color: #fff;
    --terra-menu-background-image: none;
    --terra-menu-foreground-color: #1c1f21;
    --terra-menu-submenu-arrow-after-border-top-color: none;
    --terra-menu-submenu-background-color: #fff;
    --terra-menu-submenu-background-image: none;
    --terra-menu-submenu-foreground-color: #1c1f21;
  }
}
