:local {
  .orion-fusion-theme {
    --terra-menu-item-margin: 0;
    --terra-menu-item-padding: 0.5rem 0.83333rem 0.5rem 2.33333rem;
    --terra-menu-item-hover-background-color: #ebf6fd;
    --terra-menu-item-checkmark-hover-icon-color: #595f62;
    --terra-menu-item-chevron-hover-icon-color: #1f1f21;
    --terra-menu-item-checkmark-focus-icon-color: #595f62;
    --terra-menu-item-chevron-focus-icon-color: #1f1f21;
    --terra-menu-item-focus-background-color: #ebf6fd;
    --terra-menu-item-focus-outline: rgba(76, 178, 233, 0.5) auto 5px;
    --terra-menu-item-active-background-color: #027cc3;
    --terra-menu-item-active-text-color: #fff;
    --terra-menu-item-disabled-text-color: #bbbcbd;
    --terra-menu-item-disabled-chevron-icon-color: #bbbcbd;
    --terra-menu-item-text-color: #1c1f21;
    --terra-menu-item-text-font-size: 1rem;
    --terra-menu-item-text-margin-right: 2rem;
    --terra-menu-item-text-margin-left: 0.5rem;
    --terra-menu-item-top-level-text-margin-right: 0;
    --terra-menu-item-disabled-start-icon-color: #bbbcbd;
    --terra-menu-item-start-icon-color: #595f62;
    --terra-menu-item-start-icon-font-size: 1.33333rem;
    --terra-menu-item-text-font-weight: normal;
    --terra-menu-item-start-icon-margin-left: -1.33333rem;
    --terra-menu-item-start-icon-margin-right: 0;
    --terra-menu-item-chevron-icon-color: #1f1f21;
    --terra-menu-item-chevron-icon-font-size: 1.33333rem;
    --terra-menu-item-chevron-icon-margin-left: 0.41667rem;
    --terra-menu-item-chevron-icon-margin-right: 0;
  }
}
