/* stylelint-disable selector-class-pattern */
:local {
  .application-header-name {
    align-items: var(--terra-application-name-header-align-items, center);
    color: var(--terra-application-name-header-color, #fff);
    display: flex;
    flex: var(--terra-application-name-header-flex, 0 0 auto);
    font-size: var(--terra-application-name-header-font-size);
    max-width: 100%;
  }

  .accessory {
    flex: 0 0 auto;
    padding-left: var(--terra-application-name-header-accessory-padding-left, 0.3571rem);
  }

  .title {
    flex: 0 1 auto;
    font-weight: var(--terra-application-name-header-title-font-weight, bold);
    overflow: var(--terra-application-name-header-title-overflow, hidden);
    padding-left: var(--terra-application-name-header-title-padding-left, 0.3571rem);
    padding-right: var(--terra-application-name-header-title-padding-right, 0.3571rem);
    text-overflow: var(--terra-application-name-header-text-overflow, ellipsis);
    white-space: var(--terra-application-name-header-white-space, nowrap);
    word-break: var(--terra-application-name-header-word-break, normal);
    word-wrap: var(--terra-application-name-header-word-wrap, normal);
  }
}
