/* stylelint-disable selector-class-pattern */
:local {
  .application-menu-name {
    align-items: var(--terra-application-menu-name-align-items, center);
    border-bottom: var(--terra-application-menu-name-border-bottom, 1px solid #a9a9a9);
    color: var(--terra-application-menu-name-color, #fff);
    display: flex;
    flex: var(--terra-application-menu-name-flex, 0 0 auto);
    font-size: var(--terra-application-menu-name-font-size);
    height: var(--terra-application-menu-name-height, 3.5725rem);
    max-width: 100%;
    padding-bottom: var(--terra-application-menu-name-padding-bottom, 0.3571rem);
    padding-top: var(--terra-application-menu-name-padding-top, 0.3571rem);
    position: relative;
    width: 100%;
  }

  .accessory {
    flex: 0 0 auto;
    max-width: 100%;
    padding-left: var(--terra-application-menu-name-accessory-padding-left, 0.3571rem);
  }

  .title {
    flex: 0 1 auto;
    font-weight: var(--terra-application-header-name-title-font-weight, bold);
    overflow: var(--terra-application-menu-name-title-overflow, hidden);
    padding-left: var(--terra-application-menu-name-title-padding-left, 0.3571rem);
    padding-right: var(--terra-application-menu-name-title-padding-right, 0.3571rem);
    text-overflow: var(--terra-application-menu-name-text-overflow, ellipsis);
    white-space: var(--terra-application-menu-name-white-space, nowrap);
    word-break: var(--terra-application-menu-name-word-break, normal);
    word-wrap: var(--terra-application-menu-name-word-wrap, normal);
  }
}
