:global {

  // ---------------------- Shared ----------------------- //

  --terra-menu-background-color: #222a2e;
  --terra-menu-foreground-color: #b2b5b6;

  --terra-menu-fullscreen-header-background-color: #222a2e;
  --terra-menu-fullscreen-header-border-bottom: 1px solid #181b1d;
  --terra-menu-fullscreen-header-title-color: #b2b5b6;

  --terra-menu-submenu-background-color: #1c2326;
  --terra-menu-submenu-foreground-color: #b2b5b6;

  --terra-menu-submenu-header-background-color: #222a2e;
  --terra-menu-submenu-header-border-bottom: 1px solid #181b1d;
  --terra-menu-submenu-header-buttons-icon-color: #c5c5c6;
  --terra-menu-submenu-header-buttons-hover-color: #b2b5b6;
  --terra-menu-submenu-header-title-color: #b2b5b6;

  // ---------------------- Shared for 3.x and above ----------------------- //

  --terra-menu-item-active-background-color: #1e3a49;
  --terra-menu-item-active-text-color: #b2b5b6;
  --terra-menu-item-chevron-icon-color: #9b9fa1;
  --terra-menu-item-disabled-chevron-icon-color: #404344;
  --terra-menu-item-disabled-start-icon-color: #404344;
  --terra-menu-item-disabled-text-color: #404344;
  --terra-menu-item-start-icon-color: #c5c5c6;
  --terra-menu-item-text-color: #b2b5b6;
 
  // ------------------- < Version 6.13 -----------------//
  
  --terra-menu-item-checkmark-icon-color: #c5c5c6;

  // -------------------- Version 4.x, 5.x, 6.x -------------------- //

  --terra-menu-item-checkmark-focus-icon-color: #c5c5c6;
  --terra-menu-item-checkmark-hover-icon-color: #c5c5c6;
  --terra-menu-item-chevron-focus-icon-color: #c5c5c6;
  --terra-menu-item-chevron-hover-icon-color: #c5c5c6;
  --terra-menu-item-focus-background-color: #1e3a49;
  --terra-menu-item-focus-outline: #004c76;
  --terra-menu-item-hover-background-color: #1e3a49;

  // -------------------- Version 4.x -------------------- //

  --terra-menu-background-image: none;

  --terra-menu-divider-after-border-color: #282d31;
  --terra-menu-divider-border-color: #181b1d;

  --terra-menu-submenu-arrow-after-border-top-color: #1c2326;
  --terra-menu-submenu-background-image: none;
  --terra-menu-submenu-divider-after-border-color: #282d31;

  // -------------------- Version 3.x -------------------- //

  --terra-menu-divider-color: #181b1d;
  --terra-menu-divider-shadow-color: #282d31;

  --terra-menu-submenu-divider-shadow-color: #282d31;

  --terra-menu-item-hover-color: #1e3a49;
}
