:global {
  --terra-slide-panel-panel-background-color: #222a2e;

  --terra-slide-panel-main-background-color: #222a2e;
  --terra-slide-panel-panel-overlay-position-start-box-shadow: 1px 0 5px #181b1d;
  --terra-slide-panel-panel-overlay-position-end-box-shadow: -1px 0 5px #181b1d;

  --terra-slide-panel-main-squish-background-color: #222a2e;
  --terra-slide-panel-panel-squish-background-color: #222a2e;
  --terra-slide-panel-panel-squish-border-right-color: #181b1d;
  --terra-slide-panel-panel-squish-border-left-color: #181b1d;

  --terra-slide-panel-panel-width-large-scalar: 0.6;
  --terra-slide-panel-panel-small-width: 320px;
  --terra-slide-panel-panel-squish-width-small: 320px;
  --terra-slide-panel-panel-squish-width-large-scalar: 0.6;

}
