@import '~terra-mixins/lib/Mixins';

:global {
  --terra-collapsible-menu-view-menu-button-padding-left: 0.5rem;
  --terra-collapsible-menu-view-item-padding-left: 0.5rem;
  --terra-collapsible-menu-view-divider-border-right: 1px solid #868a8c;
  --terra-collapsible-menu-view-divider-height: 2rem;

  @include terra-inline-svg-var('--terra-collapsible-menu-view-menu-button-icon-background', '<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#1c1f21" d="M24 18.6a5.4 5.4 0 1 1-5.4 5.4 5.38 5.38 0 0 1 5.4-5.4zm18.6 0a5.4 5.4 0 1 1-5.4 5.4 5.38 5.38 0 0 1 5.4-5.4zm-37.2 0A5.4 5.4 0 1 1 0 24a5.38 5.38 0 0 1 5.4-5.4z"/></svg>');
}
