:local {
  .application-menu {
    background-color: #2a4b77;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

    .footer {
      background-color: #2a4b77;
      background-image: var(--terra-application-layout-menu-header-background-image);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: 0 -10px 10px 5px #1b2c40, 0 -1px 0 0 #485666;
      flex: 0 0 auto;
      height: 55px;
      padding: 10px;
      position: relative;
    }

    .vertical-overflow-container {
      background-color: rgba(17, 22, 25, 0.3);
      flex: 1 1 auto;
      height: 100%;
      min-height: 0;
      overflow: auto;
    }

    .header {
      background-color: #2a4b77;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navigation-list,
    .utility-list {
      list-style: none;
      margin: 0;
      padding: 0;  
    }

    .navigation-list-item {
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      display: flex;
      font-size: 16px;
      height: 44px;
      padding: 13px 20px 12px;
      position: relative;
    }

    .navigation-list-item.active {
      color: #fff;
      font-weight: 500;
    }

    .navigation-list-item:hover {
      background-color: rgba(17, 22, 25, 0.5);
    }

    .active-indicator {
      background-color: #599ffd;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }

    .utility-list-item {
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      display: flex;
      font-size: 16px;
      height: 44px;
      padding: 13px 20px 12px;
      position: relative;
    }

    .utility-list-item:hover {
      background-color: rgba(17, 22, 25, 0.5);
    }

    .utility-menu-icon {
      flex: 0 0 auto;
      margin-right: 10px;
    }
  }

  .padded-hero-container {
    padding: 20px 20px 0;
  }

  .padded-hero-container.pad-bottom {
    padding: 20px;
  }
}

