:local {
  .clinical-lowlight-theme {
    --terra-folder-tree-item-border-bottom: #181b1d;
    --terra-folder-tree-item-background: #1e3a49;
    --terra-folder-tree-item-hover-background-color: #232a2d;
    --terra-folder-tree-item-radio-button-hover-background-color: rgb(203, 230, 247, 0.25); // RGB equivalent for #CBE6F7 at 25% opacity
    --terra-folder-tree-item-selected-background-color: #232a2d;
    --terra-folder-tree-focus-outline: 2px dashed #fff;
  }
}
