:local {
  .utility-menu {
    font-family: inherit;
    width: 100%;

    .header {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      font-size: var(--terra-application-menu-utility-menu-header-font-size, 1rem);
      font-weight: var(--terra-application-menu-utility-menu-header-font-weight, bold);
      height: var(--terra-application-menu-utility-menu-header-height, 2rem);

      /* stylelint-disable selector-max-compound-selectors*/
      /* stylelint-disable max-nesting-depth*/
      .left-container {
        display: flex;
        justify-content: space-between;

        .inner-container {
          display: flex;
          justify-content: flex-start;

          .header-text {
            display: inline-block;
            margin-left: var(--terra-application-menu-utility-menu-header-text-margin-left, 0.4286rem);
          }

          .back-button {
            align-items: center;
            background-color: var(--terra-application-menu-utility-menu-header-back-button-background-color, transparent);
            border-width: var(--terra-application-menu-utility-menu-header-back-button-border-width, 0);
            cursor: pointer;
            display: flex;
            width: var(--terra-application-menu-utility-menu-header-back-button-width, 1.714rem);

            .icon-left {
              flex-shrink: 0;
              height: var(--terra-application-menu-utility-menu-chevron-height, 0.7143rem);
              width: var(--terra-application-menu-utility-menu-chevron-width, 0.7143rem);
            }
          }
        }
      }

      .right-container {
        display: flex;
        justify-content: flex-end;

        .close-button {
          align-items: center;
          background-color: var(--terra-application-menu-utility-menu-header-close-button-background-color, transparent);
          border-width: var(--terra-application-menu-utility-menu-header-close-button-border-width, 0);
          cursor: pointer;
          margin: 0;
          padding: 0;
          width: var(--terra-application-menu-utility-menu-header-close-button-width, 1.714rem);

          .icon-close {
            flex-shrink: 0;
            height: var(--terra-application-menu-utility-menu-page-chevron-height, 0.7143rem);
            width: var(--terra-application-menu-utility-menu-page-chevron-width, 0.7143rem);
          }
          /* stylelint-enable max-nesting-depth */
        }

      }
    }

    .body {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
    }

    .footer {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .footer-divider {
        margin-bottom: var(--terra-application-menu-utility-menu-footer-divider-margin-bottom, 0.2143rem);
      }
      /* stylelint-enable selector-max-compound-selectors*/
    }
  }

  .is-height-bounded {
    height: 100%;
  }
}
