:local {
  .body-item {
    cursor: pointer;
    font-size: var(--terra-application-menu-utility-menu-body-item-font-size, 1rem);
    list-style-type: none;
    margin-bottom: var(--terra-application-menu-utility-menu-body-item-margin-bottom, 0.2143rem);
    margin-top: var(--terra-application-menu-utility-menu-body-item-margin-top, 0.2143rem);
    max-width: 100%;
    padding-left: var(--terra-application-menu-utility-menu-body-item-padding-left, 0.2143rem);
    text-overflow: ellipsis;

    &:hover,
    &:focus {
      background-color: var(--terra-application-menu-utility-menu-body-item-hover-focus-color, #ebf6fd);
    }

    .checkmark {
      flex-shrink: 0;
      height: var(--terra-application-menu-utility-menu-body-item-checkmark-height, 0.8571rem);
      margin-right: var(--terra-application-menu-utility-menu-body-item-checkmark-margin-right, 0.2143rem);
      visibility: hidden;
      width: var(--terra-application-menu-utility-menu-body-item-checkmark-width, 0.8571rem);
    }

    .selected.checkmark {
      visibility: visible;
    }

    .chevron {
      flex-shrink: 0;
      height: var(--terra-application-menu-utility-menu-body-item-chevron-height, 0.8571rem);
      visibility: hidden;
      width: var(--terra-application-menu-utility-menu-body-item-chevron-width, 0.8571rem);
    }

    .chevron.has-chevron {
      visibility: visible;
    }
  }

  .body-custom-item {
    padding-left: 1.357rem;
  }


  .footer-item {
    background-color: var(--terra-application-menu-utility-menu-footer-item-background-color);
    border-radius: var(--terra-application-menu-utility-menu-footer-item-border-radius);
    cursor: pointer;
    font-size: var(--terra-application-menu-utility-menu-footer-item-font-size, 1rem);
    height: var(--terra-application-menu-utility-menu-footer-item-height, 2rem);
    margin-bottom: var(--terra-application-menu-utility-menu-footer-item-margin-bottom, 0.2857rem);
    margin-left: var(--terra-application-menu-utility-menu-footer-item-margin-left, 0.2857rem);
    margin-right: var(--terra-application-menu-utility-utility-menu-footer-item-margin-bottom, 0.4286rem);

    &:focus {
      background-color: var(--terra-application-menu-utility-menu-footer-item-focus-background-color);
      border-color: var(--terra-application-menu-utility-menu-footer-item-focus-border-color);
    }

    &:hover {
      background-color: var(--terra-application-menu-utility-menu-footer-item-focus-background-color);
      border-color: var(--terra-application-menu-utility-menu-footer-item-focus-border-color);
    }
  }
}
