:local {
  .header-utility {
    align-items: center;
    background-color: var(--terra-application-menu-utility-background-color, transparent);
    border-bottom-width: var(--terra-application-menu-utility-border-right-width, 0);
    border-left-width: var(--terra-application-menu-utility-border-left-width, 0);
    border-radius: var(--terra-application-menu-utility-border-radius, 0);
    border-right-width: var(--terra-application-menu-utility-border-right-width, 0);
    border-top: var(--terra-application-menu-utility-border-top, 1px solid #a9a9a9);
    color: var(--terra-application-menu-utility-color, #000);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    height: 100%;
    justify-content: space-between;
    padding-bottom: var(--terra-application-menu-utility-padding-bottom, 0.5714rem);
    padding-top: var(--terra-application-menu-utility-padding-top, 0.5714rem);
    width: 100%;

    &:hover {
      background-color: var(--terra-application-menu-utility-hover-background-color, #a9a9a9);
    }

    &:focus {
      outline-color: var(--terra-application-menu-utility-focus-outline-color, #c6dafd);
      outline-width: var(--terra-application-menu-utility-focus-outline-width, 2px);
    }

    /* stylelint-disable selector-max-compound-selectors*/
    .user-container {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      .user-photo {
        height: var(--terra-application-menu-utility-photo-height, 1.857rem);
        margin-right: var(--terra-application-menu-utility-photo-margin-right, 0.2143rem);
        width: var(--terra-application-menu-utility-photo-width, 1.857rem);
      }

      .user-name {
        font-size: var(--terra-application-menu-utility-user-name-font-size, 1rem);
        font-weight: var(--terra-application-menu-utility-user-name-font-size, normal);
        margin-right: var(--terra-application-menu-utility-user-name-margin-right, 0.2143rem);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .icon {
      min-width: var(--terra-application-menu-utility-icon-min-width, 1.857rem);
    }
    /* stylelint-enable selector-max-compound-selectors*/
  }
}
