:local {
  .readonly-modal-content {
    padding: 15px;
  }

  .header-arrange {
    background: #f4f4f4;
    font-size: 1.285rem;
    padding: 0.71429rem 0.5rem;
  }

  .header-arrange-content {
    margin-right: 0.7rem;
  }
}
