:local {
  .wrapper1-default {
    height: 100%;
    padding: 5px;
    position: relative;
    width: 100%;
  }
  
  .wrapper1-header-extensions {
    height: 100%;
    padding: 5px;
    position: relative;
    width: 100px;
  }

  .wrapper1-utiltities {
    height: 100%;
    padding: 5px;
    position: relative;
    width: 100px;
  }

  .wrapper1-menu-extensions {
    height: 50px;
    padding: 5px;
    position: relative;
    width: 100%;
  }

  .wrapper1-footer {
    height: 50px;
    padding: 5px;
    position: relative;
    width: 100%;
  }

  .wrapper2 {
    border: 3px dashed #d3d3d3;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .wrapper3 {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
