@import '~terra-mixins';

:local {
  .collapsed-tab {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(17, 22, 25, 0.75);
    cursor: pointer;
    display: block;
    font-size: var(--terra-application-navigation-tabs-collapsed-font-size, 1rem);
    outline: none;
    padding-bottom: var(--terra-application-navigation-tabs-collapsed-padding-bottom, 0.8225rem);
    padding-left: var(--terra-application-navigation-tabs-collapsed-padding-left, 0.7143rem);
    padding-right: var(--terra-application-navigation-tabs-collapsed-padding-right, 0.7143rem);
    padding-top: var(--terra-application-navigation-tabs-collapsed-padding-top, 0.8225rem);
    position: relative;
    text-align: left;
    text-decoration: none;
    text-overflow: unset;
    transition-duration: 0;
    white-space: normal;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
    z-index: 0;

    .collapsed-inner {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .collapsed-label {
      flex: 1 1 auto;
      width: 100%;
    }

    .collapsed-count,
    .collapsed-check {
      flex: 0 0 auto;
    }
  
    .collapsed-icon,
    .collapsed-check,
    .collapsed-label {
      margin-right: 7px;
    }

    .collapsed-check {
      height: 14px;
      width: 14px;
    }

    .is-active {
      background: var(--terra-application-navigation-tabs-collapsed-checked-background, inline-svg('<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M18.4 40.9L0 22.5l4.2-4.2 14.2 14.2L43.8 7.1l4.2 4.2z"/></svg>'));
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }

    &:active {
      background-color: rgba(255, 255, 255, 1);
    }

    &[data-item-show-focus='true']:focus {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
