:local {
  .tab.is-disabled {
    cursor: default;
  }

  .tab-rollup {
    .tab-inner {
      max-width: 100%;
    }

    .tab-rollup-label {
      align-items: center;
      display: inline-flex;
      max-width: 100%;
    }

    .tab-rollup-text {
      display: block;
      flex: 0 0 auto;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: normal;
      word-wrap: normal;
    }

    .tab-rollup-icon {
      flex: 0 0 auto;
      height: 0.7143rem;
      margin-left: 0.2857rem;
      width: 0.7143rem;
    }
  }

  .tab,
  .tab-rollup {
    background-size: 0 5px;
    background-position: top left;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .tab,
  .tab-rollup {
    background-color: transparent;
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.17);
    border-right: 1px solid rgba(0, 0, 0, 0.17);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    font-family: inherit;
    font-size: 0.9285714rem;
    margin: 0;
    outline: none;
    padding-bottom: 1.143rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1.143rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition-duration: 0s;
    transition-property: background-size;
    transition-timing-function: ease;

    .tab-inner {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex: 0 0 auto;
      height: 100%;
      justify-content: space-between;
      left: 2px;
      top: 0;
      transition-duration: 0s;
      transition-property: background-size;
      transition-timing-function: ease;
    }

    .tab-label {
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: normal;
      word-wrap: normal;
    }

    &:hover,
    &.is-hovered {
      background-color:rgba(0, 0, 0, 0.15);
    }

    &[aria-current='true'] {
      text-shadow: none;
      background-color:rgba(0, 0, 0, 0.15);
      background-image: linear-gradient(to bottom, #5cc2f9, #5cc2f9);
      background-size: 100% 6px;
      box-shadow: none;
    }

    &[data-focus-styles-enabled='true']:focus {
      z-index: 5;
      box-shadow: inset 0 0 0 4px rgba(118, 179, 209, 0.65);

      &[aria-current='true'] {
        background-color:rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 0 0 4px rgba(118, 179, 209, 0.65), inset 0 -15px 30px -5px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .is-placeholder {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 0;
    visibility: hidden;
  }

  .is-custom {
    padding: 0,
  }

  .has-count {
    padding-bottom: 0.2857142857rem;
    padding-top: 2rem;
  }

  .tab-count {
    position: absolute;
    right: 50%;
    top: 0.7143rem;
    transform: translate3d(50%, 0, 0);
  }
}
