@keyframes pulse {
  0%   {
    transform: scale(1.0);
  }
  25%  {
    transform: scale(1.1);
  }
  50%  {
    transform: scale(1.2);
  }
  50%  {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

[data-count-pulse='true'] {
  animation: pulse 0.5s 1;
}

:local {
  .count {
    background-color: #ffb200;
    border-radius: 30px; // todo: rems
    color: #000;
    flex: 0 0 auto;
    font-size: 10px; // todo: rems
    font-weight: bold;
    margin: 0;
    padding: 0 6px; // todo: rems
  }

  .is-inline {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px rgba(17, 22, 25, 0.5);
    color: rgba(17, 22, 25, 0.7);
    font-size: 12px; // todo: rems
    font-weight: normal;
    padding: 4px 7px; // todo: rems
    flex: 0 0 auto;
  }

  .is-rollup {
    height: 8px; // todo: rems
    padding: 0;
    width: 8px; // todo: rems
  }
}