:local {
  .tab-menu-list[role='menu'] {
    background-color: #77b1fd; // TODO REMOVE
    list-style: none;
    margin: 0;
    padding: 0;

    &.bounded-height {
      height: 100%;
    }

    &.bounded-width {
      width: 100%;
    }
  }
}