:local {
  .tabs-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .tabs-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    overflow: visible;
    width: 100%;  

    &:focus {
      outline: none;
    }
  }

  .tabs-container.is-calculating {
    visibility: hidden;
  }

  .divider-after-last-tab {
    cursor: default;
    pointer-events: none;
    // repeats the styling from the :before psuedo selector above
    width: var(--terra-application-navigation-tabs-tab-divider-before-width, 2px);

    &::before {
      background-color: var(--terra-application-navigation-tabs-tab-divider-before-background-color, #0079be);
      background-image: var(--terra-application-navigation-tabs-tab-divider-before-background-image);
      border-left: var(--terra-application-navigation-tabs-tab-divider-before-border-left, 1px solid rgba(0, 0, 0, 0.17));
      border-right: var(--terra-application-navigation-tabs-tab-divider-before-border-right, 1px solid rgba(255, 255, 255, 0.17));
      content: '';
      display: block;
      height: 100%;
      overflow: hidden;
      width: var(--terra-application-navigation-tabs-tab-divider-before-width, 2px);
    }
  }
}
