:local {
  .clinical-lowlight-theme {
    --terra-menu-background-color: #222a2e;
    --terra-menu-foreground-color: #b2b5b6;
    --terra-menu-fullscreen-header-background-color: #222a2e;
    --terra-menu-fullscreen-header-border-bottom: 1px solid #181b1d;
    --terra-menu-fullscreen-header-title-color: #b2b5b6;
    --terra-menu-submenu-background-color: #1c2326;
    --terra-menu-submenu-foreground-color: #b2b5b6;
    --terra-menu-submenu-header-background-color: #222a2e;
    --terra-menu-submenu-header-border-bottom: 1px solid #181b1d;
    --terra-menu-submenu-header-button-outline-offset: -3px;
    --terra-menu-back-button-focus-outline: #b2b5b6 dashed 2px;
    --terra-menu-back-button-focus-outline-offset: -3px;
    --terra-menu-submenu-header-buttons-icon-color: #c5c5c6;
    --terra-menu-submenu-header-buttons-hover-color: #b2b5b6;
    --terra-menu-submenu-header-title-color: #b2b5b6;
    --terra-menu-background-image: none;
    --terra-menu-divider-after-border-color: #282d31;
    --terra-menu-divider-border-color: #181b1d;
    --terra-menu-submenu-arrow-after-border-top-color: #1c2326;
    --terra-menu-submenu-background-image: none;
    --terra-menu-submenu-divider-after-border-color: #282d31;
    --terra-menu-divider-margin-top: 2px;
    --terra-menu-divider-after-border-width: 3px 0 0;
    --terra-menu-divider-after-margin-bottom: 4px;
    --terra-menu-submenu-divider-after-border-width: 0;
    --terra-menu-submenu-divider-after-margin-bottom: 0;
    --terra-menu-submenu-header-height: auto;
    --terra-menu-submenu-header-title-font-size: 12px;
    --terra-menu-submenu-header-title-font-weight: normal;
    --terra-menu-submenu-header-title-line-height: 1.1667;
    --terra-menu-submenu-header-title-margin: 7px 7px 7px 0;
    --terra-menu-header-title-margin-left: 10px;
    --terra-menu-submenu-header-buttons-icon-font-size: 12px;
    --terra-menu-submenu-header-buttons-margin: 0;
    --terra-menu-submenu-header-buttons-padding: 8px;
    --terra-menu-fullscreen-header-title-font-size: 1rem;
    --terra-menu-fullscreen-header-title-line-height: 1.2;
    --terra-menu-fullscreen-header-title-margin: 0.5714rem 0 0.5714rem 0.3571rem;
    --terra-menu-fullscreen-header-buttons-icon-font-size: 1.45rem;
    --terra-menu-fullscreen-header-buttons-margin: 0.3571rem 0;
    --terra-menu-fullscreen-header-buttons-padding: 4px;
    --terra-menu-list-padding: 6px 0;
  }
}
