:local {
  .application-tabs {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    padding-left: var(--terra-application-tabs-spacer-width, 2rem);
    padding-right: var(--terra-application-tabs-spacer-width, 2rem);
    position: relative;
    width: 100%;
  }

  .tabs-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: calc(100% - 2 * var(--terra-application-tabs-spacer-width, 2rem));

    &:focus {
      outline: none;
    }
  }

  .tabs-container.is-calculating {
    visibility: hidden;
  }

  .tab {
    text-align: center;

    span {
      display: inline-flex;
    }
  }

  .tab-menu-display {
    justify-content: center;

    .inner {
      align-items: center;
      display: inline-flex;
      max-width: 100%;
    }

    span {
      flex: 0 1 auto;
      min-width: 0;
    }

    svg {
      flex: 0 0 auto;
      font-size: 0.571rem;
      margin-left: var(--terra-application-tabs-menu-arrow-left-margin, 0.5rem);
    }
  }

  .tab,
  .tab-menu-display {
    align-items: center;
    background-color: transparent;
    background-image: var(--terra-application-tabs-background-image, linear-gradient(to bottom, #007ee0, #007ee0));
    background-position: var(--terra-application-tabs-background-position, top-left);
    background-repeat: no-repeat;
    background-size: var(--terra-application-tabs-background-size, 0 4px);
    border: 0;
    border-right: var(--terra-application-tabs-border-right, 1px solid #dedfe0);
    color: var(--terra-application-tabs-color, #fff);
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    font-size: var(--terra-application-tabs-font-size, 1rem);
    height: 100%;
    line-height: var(--terra-application-tabs-line-height, 1.4);
    max-width: 100%;
    padding-left: var(--terra-application-tabs-padding-horizontal, 1.0715rem);
    padding-right: var(--terra-application-tabs-padding-horizontal, 1.0715rem);
    position: relative;
    text-decoration: none;
    transition-duration: var(--terra-application-tabs-transition-duration, 0.35s);
    transition-property: background-size;
    transition-timing-function: var(--terra-application-tabs-transition-timing, ease);
    width: var(--terra-application-tab-width, 16.7145rem);

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      word-break: normal;
      word-wrap: normal;
    }

    &:focus,
    &.is-focused,
    &:visited,
    &.is-visited {
      border-radius: 0;
      color: var(--terra-application-tabs-focus-color, #fff);
    }

    &:hover,
    &.is-hovered {
      background-color: var(--terra-application-tabs-hover-background-color, rgba(0, 0, 0, 0.25));
      color: var(--terra-application-tabs-hover-color, #fff);
    }

    &[aria-current='true'] {
      background-color: var(--terra-application-tabs-active-background-color, #fff);
      background-size: var(--terra-application-tabs-active-background-size, 100% 4px);
      color: var(--terra-application-tabs-active-color, #000);
      font-weight: 600;

      &:hover {
        background-image: var(--terra-application-tabs-hover-background-image, linear-gradient(to bottom, #c8cacb, #c8cacb));
        background-size: var(--terra-application-tabs-hover-background-size, 100% 4px);
      }
    }

    &:first-child {
      border-left: var(--terra-application-tabs-border-left, 1px solid #dedfe0);
      border-width: var(--terra-application-tabs-border-width-first, 0 1px 0 1px);
    }
  }

  .tab-menu-display.is-hidden {
    display: none;
  }

  .collapsed-tab {
    background-color: transparent;
    border: 0;
    color: var(--terra-application-tabs-collapsed-color, #1c1f21);
    display: block;
    font-size: var(--terra-application-tabs-font-size, 1rem);
    padding-bottom: var(--terra-application-tabs-collapsed-padding-bottom, 0.8225rem);
    padding-left: var(--terra-application-tabs-collapsed-padding-left, 1.071rem);
    padding-right: var(--terra-application-tabs-collapsed-padding-right, 1.071rem);
    padding-top: var(--terra-application-tabs-collapsed-padding-top, 0.8225rem);
    text-align: left;
    text-decoration: none;
    text-overflow: unset;
    transition-duration: 0;
    white-space: normal;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
    
    &:focus,
    &.is-focused,
    &:hover,
    &.is-hovered,
    &:visited,
    &.is-visited {
      border-radius: 0;
      color: var(--terra-application-tabs-collapsed-color, #1c1f21);
    }

    &:hover,
    &.is-hovered {
      background: var(--terra-application-tabs-collapsed-hover-background, linear-gradient(-90deg, transparent, #f1f1f2));
    }

    &[aria-current='true'] {
      background-image: var(--terra-application-tabs-collapsed-selected-background-image, linear-gradient(-270deg, transparent, #e8e9ea));
      background-size: 100%;
      box-shadow: var(--terra-application-tabs-collapsed-selected-box-shadow, inset 0.5rem 0 0 0 #007cc3);
    }
  }

  .tab-menu-list {
    background-color: var(--terra-application-tabs-menu-content-background-color, transparent);
    color: var(--terra-application-tabs-menu-content-color, #1c1f21);
    font-weight: var(--terra-application-tabs-menu-content-font-weight, 600);

    &.bounded-height {
      height: 100%;
    }

    &.bounded-width {
      width: 100%;
    }
  }
}
