// Themes
@import '../orion-fusion-theme/Cell.module';
@import '../clinical-lowlight-theme/Cell.module';

:local {
  .cell {
    font-weight: normal;
    padding: var(--terra-compact-interactive-list-cell-content-padding, 7px);
    position: relative;
    display: flex;
    text-align: left;
    align-items: center;

    &:hover {
      background-color: var(--terra-compact-interactive-list-hover-background-color, #e0f2fb);
    }
  }
}
