// Themes
@import '../orion-fusion-theme/Cell.module';
@import '../clinical-lowlight-theme/Cell.module';

:local {
  .cell {
    align-items: center;
    display: flex;
    overflow: hidden;
    padding: var(--terra-compact-interactive-list-cell-content-padding, 7px);
    position: relative;

    &:focus {
      outline: var(--terra-compact-interactive-list-cell-focus-outline, 3px dashed #000);
      outline-offset: var(--terra-compact-interactive-list-cell-focus-outline-offset, -4px);
    }
  }

  .selectable:hover {
    background-color: var(--terra-compact-interactive-list-hover-background-color, #e0f2fb);
    cursor: pointer;
  }

  .selected {
    background-color: var(--terra-compact-interactive-list-cell-selected-background-color, #cbe7fa);
  }
}
