// Themes
@import '../orion-fusion-theme/CompactInteractiveList.module';
@import '../clinical-lowlight-theme/CompactInteractiveList.module';

:local {
  .row {
    position: relative;
    display: flex;
    box-sizing: border-box;

    border-bottom: var(--terra-compact-interactive-list-row-border, 1px solid #dedfe0);
    border-right: var(--terra-compact-interactive-list-row-border, 1px solid #dedfe0);
    background-color: var(--terra-compact-interactive-list-row-background-color, #fefffe);
  }
}
