// Themes
@import '../orion-fusion-theme/Row.module';
@import '../clinical-lowlight-theme/Row.module';

:local {
  .row {
    position: relative;
    display: flex;

    border-bottom: var(--terra-compact-interactive-list-row-border-bottom, 1px solid #dedfe0);
    border-right: var(--terra-compact-interactive-list-row-border-right, 1px solid #dedfe0);
    &:first-child {
      border-left: var(--terra-compact-interactive-list-row-border-left, 1px solid #dedfe0);
    }

    background-color: var(--terra-compact-interactive-list-row-background-color, #fefffe);
  }
}
