// stylelint-disable declaration-property-value-blacklist scss/at-mixin-pattern
// stylelint-disable scss/at-mixin-pattern
// Themes
@import './clinical-lowlight-theme/TimeInput.module';
@import './orion-fusion-theme/TimeInput.module';

:local {
  @mixin focus-styles {
    border-color: var(--terra-time-input-focus-border-color, #4cb2e9);
    border-style: var(--terra-time-input-focus-border-style, solid);
    border-width: var(--terra-time-input-focus-border-width, 1px);
    opacity: var(--terra-time-input-focus-opacity, 1);
    outline: none;
  }

  .time-input-container {
    display: inline-block;
  }

  // Note: These styles can conflict with form input so care should be taken when changing specificity
  .time-input {
    background-color: var(--terra-time-input-background-color, #fff);
    background-image: var(--terra-time-input-background-image, none);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: var(--terra-time-input-background-size, 0 0);
    border-color: var(--terra-time-input-border-color, #dedfe0);
    border-radius: var(--terra-time-input-border-radius, 3px);
    border-style: var(--terra-time-input-border-style, solid);
    border-width: var(--terra-time-input-border-width, 1px);
    box-sizing: content-box;
    color: var(--terra-time-input-color, #1c1f21);
    direction: ltr;
    display: inline-block;
    font-size: var(--terra-time-input-font-size, 1.14286rem);
    line-height: var(--terra-time-input-line-height, 1.375);
    margin: 0 0.5rem 0.5rem 0;
    padding-bottom: var(--terra-time-input-padding-bottom, 0.2142857143rem);
    padding-left: var(--terra-time-input-padding-left, 0.2142857143rem);
    padding-right: var(--terra-time-input-padding-right, 0.2142857143rem);
    padding-top: var(--terra-time-input-padding-top, 0.2142857143rem);
    transition-duration: var(--terra-time-input-transition-duration, 0.2s);
    transition-property: background-size;
    transition-timing-function: var(--terra-time-input-transition-timing-function, ease);
    vertical-align: top;

    &:hover {
      background-color: var(--terra-time-input-hover-background-color, #fff);
      border: var(--terra-time-input-hover-border, 1px solid #dedfe0);
      color: var(--terra-time-input-hover-color, #1c1f21);

      .time-input-hour,
      .time-input-minute,
      .time-input-second {
        color: var(--terra-time-input-time-component-hover-color, #1c1f21);
      }
    }

    &.is-focused {
      @include focus-styles;
      background-color: var(--terra-time-input-focus-background-color, #fff);
      background-size: var(--terra-time-input-focus-background-size, 0 0);
      color: var(--terra-time-input-focus-color, #1c1f21);

      [dir=ltr] & {
        box-shadow: var(--terra-time-input-focus-ltr-box-shadow, 0 0 8px #a6d9f4);
      }

      [dir=rtl] & {
        box-shadow: var(--terra-time-input-focus-rtl-box-shadow, 0 0 8px #a6d9f4);
      }

      .time-input-hour,
      .time-input-minute,
      .time-input-second {
        color: var(--terra-time-input-time-component-focus-color, #1c1f21);
      }
    }

    &.disabled {
      background-color: var(--terra-time-input-disabled-background-color, rgba(111, 116, 119, 0.2));
      border: var(--terra-time-input-disabled-border, 1px solid #868a8c);
      color: var(--terra-time-input-disabled-color, #1c1f21);
      cursor: default;
      opacity: var(--terra-time-input-disabled-opacity, 0.25);
      pointer-events: none;
    }

    &.is-invalid {
      background-color: var(--terra-time-input-invalid-background-color, #fff);
      border: var(--terra-time-input-invalid-border, 1px solid #e50000);
      box-shadow: var(--terra-time-input-invalid-box-shadow, 0 0 0 1px #e50000);

      &:hover {
        border: var(--terra-time-input-invalid-hover-border, 1px solid #e50000);
      }

      &:focus {
        border: var(--terra-time-input-invalid-focus-border, 1px solid #e50000);
      }

      &.disabled {
        background-color: var(--terra-time-input-invalid-disabled-background-color, rgba(111, 116, 119, 0.2));
        border: var(--terra-time-input-invalid-disabled-border, 1px solid #e50000);
        color: var(--terra-time-input-invalid-disabled-color, #1c1f21);
        opacity: var(--terra-time-input-invalid-disabled-opacity, 0.25);
      }
    }

    .time-input-hour,
    .time-input-minute,
    .time-input-second {
      background-color: var(--terra-time-input-time-component-background-color, transparent);
      background-image: var(--terra-time-input-time-component-background-image, none);
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: var(--terra-time-input-time-component-background-size, 0 0);
      border-color: var(--terra-time-input-time-component-border-color, transparent);
      border-radius: var(--terra-time-input-time-component-border-radius, 2px);
      border-style: var(--terra-time-input-time-component-border-style, none);
      border-width: var(--terra-time-input-time-component-border-width, 0);
      box-sizing: border-box;
      caret-color: var(--terra-time-input-time-component-caret-color, #1c1f21);
      color: var(--terra-time-input-time-component-color, #1c1f21);
      display: inline-block;
      height: var(--terra-time-input-time-component-height, 1.5714285714rem);
      line-height: var(--terra-time-input-time-component-line-height, 1.375);
      min-width: var(--terra-time-input-time-component-min-width, 4rem);
      padding-bottom: var(--terra-time-input-time-component-padding-bottom, 0);
      padding-left: var(--terra-time-input-time-component-padding-left, 0);
      padding-right: var(--terra-time-input-time-component-padding-right, 0);
      padding-top: var(--terra-time-input-time-component-padding-top, 0);
      transition-duration: var(--terra-time-input-time-component-transition-duration, 0.2s);
      transition-property: background-size;
      transition-timing-function: var(--terra-time-input-time-component-transition-timing-function, ease);
      width: 100%;

      &:hover {
        background-color: var(--terra-time-input-time-component-hover-background-color, transparent);
        border: var(--terra-time-input-time-component-hover-border, 0 none transparent);
        color: var(--terra-time-input-time-component-hover-color, #1c1f21);
      }

      &:focus {
        @include focus-styles;
        background-color: var(--terra-time-input-time-component-focus-background-color, transparent);
        background-size: var(--terra-time-input-time-component-focus-background-size, 0 0);
        border: 0;

        /* stylelint-disable max-nesting-depth */
        /* stylelint-disable-next-line selector-max-compound-selectors */
        [dir=ltr] & {
          box-shadow: var(--terra-time-input-time-component-focus-ltr-box-shadow, none);
        }

        /* stylelint-disable-next-line selector-max-compound-selectors */
        [dir=rtl] & {
          box-shadow: var(--terra-time-input-time-component-focus-rtl-box-shadow, none);
        }
        /* stylelint-enable max-nesting-depth */
      }

      &::selection {
        background-color: transparent;
      }

      &.initial-focus {
        background-color: var(--terra-time-input-time-component-focused-input-background-color, rgba(139, 194, 249, 0.3));
        background-size: 0 0;
        border: 0;
        box-shadow: none;
        color: var(--terra-time-input-time-component-focus-color, #1c1f21);
      }

      &[disabled] {
        background-color: transparent;
        border: 0;
        color: var(--terra-time-input-disabled-color, #1c1f21);
        opacity: 1;
      }
    }

    .time-input-hour {
      min-width: 1.7em;
      text-align: right;
      width: 1.7em;

      &.with-second {
        text-align: center;
      }
    }

    .time-input-minute {
      min-width: 1.8em;
      text-align: left;
      width: 1.8em;

      &.with-second {
        text-align: center;
      }
    }

    .time-input-second {
      min-width: 1.8em;
      text-align: center;
      width: 1.8em;
    }

    &.is-incomplete {
      background-color: var(--terra-time-input-incomplete-background-color, #ffc);

      &:hover {
        background-color: var(--terra-time-input-incomplete-hover-background-color, #ffc);
      }

      &:focus {
        background-color: var(--terra-time-input-incomplete-focus-background-color, #ffc);
      }

      .initial-focus {
        background-color: var(--terra-time-input-incomplete-focused-input-background-color, rgb(185, 215, 233));
      }

      &.disabled {
        background-color: var(--terra-time-input-incomplete-disabled-background-color, #ffc);
        border: var(--terra-time-input-incomplete-disabled-border, 1px solid #868a8c);
        color: var(--terra-time-input-incomplete-disabled-color, #1c1f21);
        opacity: var(--terra-time-input-incomplete-disabled-opacity, 0.25);
      }
    }
  }

  .time-spacer {
    line-height: var(--terra-time-input-time-spacer-line-height, 1.375);
    margin-bottom: var(--terra-time-input-time-spacer-margin-bottom, 0.3571428571rem);
    margin-left: var(--terra-time-input-time-spacer-margin-left, 0.14285714rem);
    margin-right: var(--terra-time-input-time-spacer-margin-right, 0.14285714rem);
    margin-top: var(--terra-time-input-time-spacer-margin-top, 0.3571428571rem);
  }

  .meridiem-button-group {
    margin-bottom: var(--terra-time-input-meridiem-button-group-margin-bottom, 0.5rem);
    margin-right: var(--terra-time-input-meridiem-button-group-margin-right, 0.5rem);
  }

  .meridiem-button {
    background-color: var(--terra-time-input-meridiem-button-background-color, transparent);
    border-color: var(--terra-time-input-meridiem-button-border-color, #c8cacb);
    color: var(--terra-time-input-meridiem-button-color, #1c1f21);
    font-size: var(--terra-time-input-meridiem-button-font-size, 1rem);
    height: var(--terra-time-input-meridiem-button-height, 2.1428571429rem);
    line-height: var(--terra-time-input-meridiem-button-line-height, 1);
    outline: none;
    padding-bottom: var(--terra-time-input-meridiem-button-padding-bottom, 0.286rem);
    padding-top: var(--terra-time-input-meridiem-button-padding-top, 0.286rem);

    &:hover {
      background-color: var(--terra-time-input-meridiem-button-hover-background-color, #b9bbbc);
      border-color: var(--terra-time-input-meridiem-button-hover-border-color, #c8cacb);
      color: var(--terra-time-input-meridiem-button-hover-color, #000);
    }

    &[aria-pressed='true'] {
      background-color: var(--terra-time-input-meridiem-button-selected-background-color, #52585b);
      border-color: var(--terra-time-input-meridiem-button-selected-border-color, #52585b);
      color: var(--terra-time-input-meridiem-button-selected-color, #fff);
    }

    &[aria-pressed='true']:hover {
      background-color: var(--terra-time-input-meridiem-button-selected-hover-background-color, #40474a);
      border-color: var(--terra-time-input-meridiem-button-selected-hover-border-color, #40474a);
      color: var(--terra-time-input-meridiem-button-selected-hover-color, #fff);
    }

    &.is-invalid {
      border: var(--terra-time-input-invalid-border, 1px solid #e50000);
      box-shadow: var(--terra-time-input-invalid-box-shadow, 0 0 0 1px #e50000);
      z-index: 1;

      &:focus {
        border: var(--terra-time-input-invalid-focus-border, 1px solid #e50000);
        box-shadow: var(--terra-time-input-invalid-focus-box-shadow, 0 0 0 1px #e50000, 0 0 4px 3px rgba(229, 0, 0, 0.35));
      }

      &:hover {
        border: var(--terra-time-input-invalid-hover-border, 1px solid #e50000);
        box-shadow: var(--terra-time-input-invalid-hover-box-shadow, 0 0 0 1px #e50000);
      }

      &.disabled {
        background-color: var(--terra-time-input-invalid-disabled-background-color, rgba(111, 116, 119, 0.2));
        border: var(--terra-time-input-invalid-disabled-border, 1px solid #e50000);
        color: var(--terra-time-input-invalid-disabled-color, #1c1f21);
        opacity: var(--terra-time-input-invalid-disabled-opacity, 0.25);
      }
    }
  }
}
