:local {
  .compact-header {
    align-content: center;
    align-items: center; // TODO THEME
    background-color:#0079be;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-height: 2.857rem;
    overflow: hidden;
    padding-left: 0.3571rem;
    padding-right: 0.3571rem;
    position: relative;
    z-index: 5001;
    
    &::before {
      background-color: transparent;
      background-image: none;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .menu-button {
    background-color: transparent;
    border: 0;  
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    outline: none;
    position: relative;
    width: 2.143rem;
    height: 2.143rem;
    padding: 0;
    flex: 0 0 auto;

    > svg {
      height: 1rem;
      width: 1rem;
    }
          
    &:hover {
      color: rgba(255, 255, 255, 1);
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus[data-focus-styles-enabled='true'] {
      background-color: rgba(89, 159, 253, 0.4);
      color: rgba(255, 255, 255, 1);
      border-radius: 50%;
    }

    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }    
  }

  .title-container {
    color: rgba(255, 255, 255, 1);
    flex: 1 1 auto;
    margin-left: 0.3571rem;
    overflow: hidden;
    position: relative;
    user-select: none;

    .headline,
    .subline,
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .headline,
    .subline {
      font-size: 0.8571rem;
    }

    .headline {
      margin-bottom: -0.2143rem;
    }

    .subline {
      margin-bottom: 0.07143rem;
      margin-top: -0.2143rem;
    }

    .title {
      font-size: 1rem;
    }
  }

  .extensions-container {
    flex: 0 0 auto;
    margin-left: 1.429rem;
  }

  .skip-content-button {
    background-color:#0079be;
    border: 1px solid #fff;
    border-radius: 0;
    clip: rect(1px, 1px, 1px, 1px);
    color: #fff;
    height: 1px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 1rem 2rem;
    position: absolute;
    width: 1px;

    &:focus {
      clip: auto;
      height: auto;
      left: 0;
      top: 0;
      width: auto;
      z-index: 20;
    }

    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
}
