:local {
  .compact-header {
    align-content: center;
    align-items: center;
    background-color: var(--terra-application-navigation-compact-header-background-color, rgb(25, 104, 166));
    background-image: var(--terra-application-navigation-compact-header-background-image,
    radial-gradient(100% 70% at 50% 0%, rgba(70, 121, 171, 0.7), rgba(70, 121, 171, 0)),
    radial-gradient(100% 100% at 0% 0%, rgba(25, 104, 166, 1), rgba(25, 104, 166, 0)),
    radial-gradient(100% 100% at 0% 100%, rgba(29, 95, 153, 1), rgba(29, 95, 153, 0)),
    radial-gradient(100% 100% at 100% 0%, rgba(95, 119, 172, 1), rgba(95, 119, 172, 0)),
    radial-gradient(100% 600% at 100% 100%, rgba(81, 94, 160, 1), rgba(81, 94, 160, 0)),
    radial-gradient(100% 70% at 50% 100%, rgba(81, 121, 172, 1), rgba(81, 121, 172, 0)),
    linear-gradient(rgba(25, 104, 166, 1), rgba(25, 104, 166, 1)));
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-height: 2.857rem;
    overflow: hidden;
    padding-left: 0.3571rem;
    padding-right: 0.3571rem;
    position: relative;
    z-index: 5001;
  }

  .menu-button {
    background-color: transparent;
    border: 0;
    color: var(--terra-application-navigation-compact-header-menu-button-color,rgba(255, 255, 255, 0.8));
    cursor: pointer;
    flex: 0 0 auto;
    height: 2.143rem;
    outline: none;
    padding: 0;
    position: relative;
    width: 2.143rem;

    > svg {
      height: 1rem;
      width: 1rem;
    }
          
    &:hover {
      color: var(--terra-application-navigation-compact-header-menu-button-hover-color, rgba(255, 255, 255, 1));
    }

    &:active {
      color: var(--terra-application-navigation-compact-header-menu-button-active-color,rgba(255, 255, 255, 0.5));
    }

    &:focus[data-focus-styles-enabled='true'] {
      background-color: var(--terra-application-navigation-compact-header-menu-button-focus-background-color, rgba(89, 159, 253, 0.4));
      border-radius: 50%;
      color: var(--terra-application-navigation-compact-header-menu-button-focus-color, rgba(255, 255, 255, 1));
    }

    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }    
  }

  .title-container {
    color: var(--terra-application-navigation-compact-header-title-color,rgba(255, 255, 255, 1));
    flex: 1 1 auto;
    margin-left: 0.3571rem;
    overflow: hidden;
    position: relative;
    user-select: none;

    .headline,
    .subline,
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .headline,
    .subline {
      font-size: 0.8571rem;
    }

    .headline {
      margin-bottom: -0.2143rem;
    }

    .subline {
      margin-bottom: 0.07143rem;
      margin-top: -0.2143rem;
    }

    .title {
      font-size: 1rem;
    }
  }

  .extensions-container {
    flex: 0 0 auto;
    margin-left: 1.429rem;
  }

  .skip-content-button {
    background-color: var(--terra-application-navigation-compact-header-skip-background-color, #0079be);
    border: var(--terra-application-navigation-compact-header-skip-border, 1px solid #fff);
    border-radius: 0;
    clip: rect(1px, 1px, 1px, 1px);
    color: var(--terra-application-navigation-compact-header-skip-color, #fff);
    height: 1px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 1rem 2rem;
    position: absolute;
    width: 1px;

    &:focus {
      clip: auto;
      height: auto;
      left: 0;
      top: 0;
      width: auto;
      z-index: 20;
    }

    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
}
