:local {
  .header {
    align-content: center;
    align-items: center; // TODO THEME
    background-color: #0079be;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 1.429rem;
    padding-right: 1.429rem;
    position: relative;
    z-index: 5001;

    &::before {
      background-color: transparent;
      background-image: none;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .title-container {
    color: rgba(255, 255, 255, 0.9);
    flex: 0 0 auto;
    max-width: 30%;
    position: relative;
    user-select: none;

    .headline,
    .subline,
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .headline,
    .subline {
      font-size: 1rem;
    }

    .title {
      font-size: 1.429rem;
    }
  }

  .main-navigation-container {
    flex: 1 1 auto;
    margin-left: 1.143rem;
    min-width: 10%;
    overflow: hidden;
    position: relative;
  }

  .extensions-container {
    flex: 0 1 auto;
    margin-left: 1.143rem;
    position: relative;
  }

  .utilities-container {
    flex: 0 0 auto;
    margin-left: 1.143rem;
    max-width: 30%;
    position: relative;
  }

  .skip-content-button {
    background-color: #0079be;
    border: 1px solid #fff;
    border-radius: 0;
    clip: rect(1px, 1px, 1px, 1px);
    color: #fff;
    height: 1px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 1rem 2rem;
    position: absolute;
    width: 1px;

    &:focus {
      clip: auto;
      height: auto;
      left: 0;
      top: 0;
      width: auto;
      z-index: 20;
    }

    // Remove the inner border and padding in Firefox.
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
}
