@keyframes pulse {
  0%   {
    transform: scale(1.0);
  }
  25%  {
    transform: scale(1.1);
  }
  50%  {
    transform: scale(1.2);
  }
  50%  {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

[data-count-pulse='true'] {
  animation: pulse 0.5s 1;
}

:local {
  .count {
    background-color: #ffb200;
    border-radius: 2.143rem;
    color: #000;
    flex: 0 0 auto;
    font-size: 0.7143rem;
    font-weight: bold;
    height: 0.5714rem;
    // line-height: 11px; // todo: investigate
    padding: 0;
    width: 0.5714rem;
  }
}
