:local {
  .content {
    background-color: #ffc0cb;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .content-wrapper {
    height: 768px;
    overflow: scroll;
    position: relative;
    max-width: 300px;
  }

  .toolbar {
    background: #303030;
    color: #fff;
    padding: 8px;
  }
}
