// Styles specific to development only
body {
  overflow: hidden;
}

// stylelint-disable-next-line selector-max-id
#root,
#site {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}

.base {
  height: 100%;
}
