:local {
  .spacing-wrapper {
    padding: 10px;
  }
  
  .container {
    box-sizing: content-box;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .show-border {
    border: 1px dashed #800080;
  }
  
  .width-50 {
    width: 50%;
  }

  .width-10 {
    width: 10%;
  }
  
  .hidden {
    visibility: hidden;
  }
}
