:global {
  --terra-application-name-header-color: #b2b5b6;
  --terra-application-name-header-title-text-shadow: none;
  --terra-application-name-menu-border-bottom: 1px solid #a9a9a9;
  --terra-application-name-menu-color: #b2b5b6;
  --terra-application-name-menu-title-text-shadow: none;
}
