/* stylelint-disable selector-class-pattern */
:local {
  .extension {
    align-items: center;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 3.5725rem;
    justify-content: center;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 3.5725rem;

    &:hover {
      background-color: red;
    }
  }

  .extension-row {
    align-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;
    display: flex;
    height: 3.5725rem;
    justify-content: space-between;
    outline: none;
    overflow: hidden;
    width: 100%;

    &:hover {
      background-color: red;
    }

    &:last-of-type {
      border: 0;
    }
  }

  .extension-image,
  .extension-row-count {
    flex: 0 0  auto;
    padding: 10px;
  }

  .extension-text {
    flex: 1 1 auto;
    width: 100%;
  }

  .extension-count {
    position: absolute;
    left: 70%;
    top: 10%;
  }
}
