@keyframes pulse {
  0%, 100%   {
    transform: scale(1);
  }
  50%  {
    transform: scale(1.2);
  }
}

[data-count-pulse="true"] {
  animation: pulse 0.5s 1;
}

:local {
  .count {
    background-image: linear-gradient(to bottom, #ffb200, #ff7e00);
    border: solid 1px rgba(89, 159, 253, 0.4);
    border-radius: 2.143rem;
    box-shadow: 0 1px 1px 0 rgba(17, 22, 25, 0.3);
    color: rgba(17, 22, 25, 1);
    flex: 0 0 auto;
    font-size: 0.6429rem;
    font-weight: bold;
    line-height: 1.4;
    margin-left: 0.3571rem;
    padding: 0.07143rem 0.2143rem;
  }

  .is-rollup {
    height: 0.6429rem;
    padding: 0;
    width: 0.6429rem;
  }
}