/* stylelint-disable selector-class-pattern */
:local {
  .extension-rollup {
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    outline: none;
    position: relative;

    &:hover {
      .extension-rollup-inner {
        color: #fff;
      }
    }
  }

  .extension-rollup-inner {
    padding: 0.5714rem;
    position: relative;
  }

  .extension-rollup-image {
    height: 1rem;
    overflow: hidden;
    width: 1rem;

    & > svg {
      vertical-align: top;
    }
  }

  .extension-rollup-image,
  .extension-rollup-row-count {
    flex: 0 0  auto;
  }

  .extension-rollup-text {
    flex: 1 1 auto;
    width: 100%;
  }

  .extension-rollup-count {
    margin-left: 0.7143rem;
    position: absolute;
    right: 0.2857rem;
    top: 0.2857rem;
  }

  .extension-rollup[data-item-show-focus='true']:focus {
    .extension-rollup-inner {
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 100%;
    }
  }

  .extension-rollup:active {
    .extension-rollup-inner {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
