/* stylelint-disable selector-class-pattern */
:local {
  .extension {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 3.5725rem;
    justify-content: center;
    outline: none;
    // overflow: hidden;
    position: relative;
    width: 3.5725rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  .extension-row {
    align-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;
    display: flex;
    height: 3.5725rem;
    justify-content: space-between;
    outline: none;
    overflow: hidden;
    padding: 10px;
    width: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }

    &:last-of-type {
      border: 0;
    }
  }

  .extension-image {
    padding-right: 10px;
  }

  .extension-image,
  .extension-row-count {
    flex: 0 0  auto;
  }

  .extension-text {
    flex: 1 1 auto;
    width: 100%;
  }

  .extension-count {
    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 10%;
  }
}
