:local {
  .application-base,
  .application-theme-provider {
    position: relative;
  }  
  
  .application-base.fill {
    height: 100%;
  }
  
  .application-theme-provider.fill {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  } 

  .root-fill {
    height: 100%;
  }

  .application-modal-manager-overflow {
    height: auto !important;
  }
}
