:local {
  .clinical-lowlight-theme {
    --terra-application-layout-menu-background-color: #222a2e;
    --terra-application-layout-menu-header-background-color: #034370;
    --terra-application-layout-menu-header-background-image: none;
  }
}
