:local {
  .clinical-lowlight-theme {
    --terra-application-layout-navbar-background-color: #004c76;
    --terra-application-layout-navbar-background-image: none;
    --terra-application-layout-navbar-before-background-color: transparent;
    --terra-application-layout-navbar-before-background-image: none;
    --terra-application-layout-navbar-border: none;
    --terra-application-layout-navbar-box-shadow: none;
    --terra-application-layout-navbar-toggle-border-right: 1px solid #0f699f;
    --terra-application-layout-navbar-toggle-box-shadow: inset -1px 0 0 0 #022b46;

    --terra-application-layout-menu-background-color: #222a2e;
    --terra-application-layout-menu-header-background-color: #034370;
    --terra-application-layout-menu-header-background-image: none;

    --terra-application-layout-toggle-button-background-color: transparent;
    --terra-application-layout-toggle-button-border: 0;
    --terra-application-layout-toggle-button-box-shadow: none;
    --terra-application-layout-toggle-button-color: #b2b5b6;
    --terra-application-layout-toggle-button-left: 0;

    --terra-application-layout-toggle-button-hover-background-color: #034370;
    --terra-application-layout-toggle-button-hover-border-color: transparent;
    --terra-application-layout-toggle-button-hover-box-shadow: none;
    --terra-application-layout-toggle-button-hover-color: #b2b5b6;

    --terra-application-layout-toggle-button-focus-background-color: #034370;
    --terra-application-layout-toggle-button-focus-border-color: transparent;
    --terra-application-layout-toggle-button-focus-box-shadow: none;
    --terra-application-layout-toggle-button-focus-color: #b2b5b6;
  }
}
