:local {
  .clinical-lowlight-theme {
    --terra-application-layout-navbar-background-color: #004c76;
    --terra-application-layout-navbar-background-image: none;
    --terra-application-layout-navbar-before-background-color: transparent;
    --terra-application-layout-navbar-before-background-image: none;
    --terra-application-layout-navbar-border: none;
    --terra-application-layout-navbar-box-shadow: none;
    --terra-application-layout-navbar-toggle-border-right: 1px solid #0f699f;
    --terra-application-layout-navbar-toggle-box-shadow: inset -1px 0 0 0 #022b46;
    --terra-application-layout-navbar-height: 3.5714285714rem;
    --terra-application-layout-navbar-padding-left: 0;
    --terra-application-layout-navbar-padding-right: 0;
    --terra-application-layout-navbar-with-icons-mobile-height: 3.5714285714rem;
    --terra-application-layout-navbar-with-icons-height: 5.142857143rem;
    --terra-application-layout-navbar-toggle-width: 3.6428571429rem;

    --terra-application-layout-menu-background-color: #222a2e;
    --terra-application-layout-menu-header-background-color: #034370;
    --terra-application-layout-menu-header-background-image: none;

    --terra-application-layout-toggle-button-background-color: transparent;
    --terra-application-layout-toggle-button-border: 0;
    --terra-application-layout-toggle-button-border-radius: 0;
    --terra-application-layout-toggle-button-box-shadow: none;
    --terra-application-layout-toggle-button-color: #b2b5b6;
    --terra-application-layout-toggle-button-left: 0;
    --terra-application-layout-toggle-button-icon-height: 1rem;
    --terra-application-layout-toggle-button-icon-width: 1rem;
    --terra-application-layout-toggle-button-padding: 1.2857142857rem;
    --terra-application-layout-toggle-button-height: 100%;
    --terra-application-layout-toggle-button-width: 100%;


    --terra-application-layout-toggle-button-hover-background-color: #034370;
    --terra-application-layout-toggle-button-hover-border-color: transparent;
    --terra-application-layout-toggle-button-hover-border-radius: 0;
    --terra-application-layout-toggle-button-hover-box-shadow: none;
    --terra-application-layout-toggle-button-hover-color: #b2b5b6;

    --terra-application-layout-toggle-button-focus-background-color: #034370;
    --terra-application-layout-toggle-button-focus-border-color: transparent;
    --terra-application-layout-toggle-button-focus-border-radius: 0;
    --terra-application-layout-toggle-button-focus-box-shadow: none;
    --terra-application-layout-toggle-button-focus-color: #b2b5b6;

    --terra-application-layout-user-data-photo-height: 3.571rem;
    --terra-application-layout-user-data-photo-margin-right: 0.5714rem;
    --terra-application-layout-user-data-photo-width: 3.571rem;
    --terra-application-layout-user-data-info-margin-right: 0;
    --terra-application-layout-user-data-name-font-size: 1.143rem;
    --terra-application-layout-user-data-name-font-weight: normal;
    --terra-application-layout-user-data-detail-font-size: 0.8571rem;





  }
}
