:local {
  .clinical-lowlight-theme {
    --terra-application-layout-user-data-photo-height: 3.571rem;
    --terra-application-layout-user-data-photo-margin-right: 0.5714rem;
    --terra-application-layout-user-data-photo-width: 3.571rem;
    --terra-application-layout-user-data-info-margin-right: 0;
    --terra-application-layout-user-data-name-font-size: 1.143rem;
    --terra-application-layout-user-data-name-font-weight: normal;
    --terra-application-layout-user-data-detail-font-size: 0.8571rem;
  }
}
