:local {
  .clinical-lowlight-theme {
    --terra-worklist-data-grid-column-header-text-color: #b2b5b6;
    --terra-worklist-data-grid-column-header-background-color: #6e6f71;
    --terra-worklist-data-grid-column-header-border: 1px solid #181b1d;
  }
}
