:local {
  .clinical-lowlight-theme {
    // Grid
    --terra-worklist-data-grid-border: 2px solid #020005;

    // Rows
    --terra-worklist-data-grid-row-striped-background-color: #2d3539;

    // Cells
    --terra-worklist-data-grid-cell-border: 1px solid #181b1d;
    --terra-worklist-data-grid-cell-focus-outline: 2px dashed #fff;
    --terra-worklist-data-grid-cell-focus-outline-offset: -2px;

    // Maksed Cell Pattern
    --terra-worklist-data-grid-mask-background: repeating-linear-gradient(-45deg, #434647, #434647 3px, transparent 3px, transparent 6px);
  }
}
