// Themes
@import '../orion-fusion-theme/Cell.module';
@import '../clinical-lowlight-theme/Cell.module';

:local {
  .worklist-data-grid-cell {
    border: var(--terra-worklist-data-grid-cell-border, 1px solid #dedfe0);
    font-weight: normal;
    padding: var(--terra-worklist-data-grid-cell-content-padding, 7px);
    position: relative;

    input {
      display: flex;
      height: 16px;
      margin: auto;
      width: 16px;
    }
  }

  .selected {
    background-color: var(--terra-worklist-data-grid-cell-selected-background-color, #cbe7fa);
    box-shadow: var(--terra-worklist-data-grid-cell-selected-box-shadow, inset 0 0 0 1px #0092e0);
  }

  // Create gradient background for masked cells
  .masked {
    background: var(--terra-worklist-data-grid-mask-background, repeating-linear-gradient(-45deg, #dedfe0, #dedfe0 3px, transparent 3px, transparent 6px));
  }

  .cell-content {
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: left;
  }

  .pinned {
    background-color: inherit;
    border:  var(--terra-worklist-data-grid-pinned-columns-cell-border-color, 1px solid #dedfe0);
    border-width: 1px 0;
    box-shadow:  var(--terra-worklist-data-grid-pinned-columns-cell-box-shadow, inset 1px 0 #dedfe0);
    position: sticky;
    z-index: 1;
  }

  // Hover state for selectable elements
  .selectable:hover {
    background-color: var(--terra-worklist-data-grid-hover-background-color, rgba(0, 146, 224, 0.12));

    // NOTE: Temporarily keeping the older background-color as changes breaks styling in multiple places.
    // It will be replaced once an update strategy is finalized with UX.
    // background-color: var(--terra-worklist-data-grid-hover-background-color, #d8e5ed);
    cursor: pointer;
  }
}
