:local {
  .clinical-lowlight-theme {
    --terra-modal-manager-background-color: #222a2e;
    --terra-modal-manager-border: none;
    --terra-modal-manager-border-radius: 5px;
    --terra-modal-manager-box-shadow: none;
    --terra-modal-manager-foreground-color: #b2b5b6;
  }
}
