:local {
  .large-user-layout {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1.857rem 1.4285714286rem 2rem; // TODO THEME

    .name,
    .detail {
      flex: 1 1 auto;
    }
  
    .avatar-container {
      align-items: center;
      display: flex;
      height: 5.714rem;
      justify-content: center;
      margin-bottom: 1.143rem; // TODO THEME
      position: relative;
      width: 5.714rem;
    }
  
    .avatar-outline {
      border: 0.1429rem solid rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .avatar {
      height: 5.429rem;
      width: 5.429rem;
    }

    .name {
      color: #fff;
      font-size: 1.2857142857rem;
      font-weight: 500;
      overflow-wrap: break-word;
      text-align: center;
      white-space: normal;
      word-break: break-word;
      word-wrap: break-word;
    }
  
    .detail {
      color: rgba(255, 255, 255, 0.7);
      font-size: 1rem;
      margin-top: 0.2142857143rem;
      overflow-wrap: break-word;
      text-align: center;
      white-space: normal;
      word-break: break-word;
      word-wrap: break-word;
    }  
  }

  .small-user-layout {
    align-items: top;
    display: flex;
    justify-content: flex-start;
    padding: 0.7142857143rem 1.4285714286rem; // TODO THEME

    .avatar-container {
      flex: 0 0 auto;
      height: 2.143rem; // TODO THEME
      margin-right: 0.5rem; // TODO THEME
      width: 2.143rem; // TODO THEME
    }

    .avatar {
      height: 2.143rem; // TODO THEME
      width: 2.143rem;  // TODO THEME
    }
  
    .info-container {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
    }
  
    .name {
      color: rgba(255, 255, 255, 1); // TODO THEME
      font-size: 1rem; // TODO THEME
      font-weight: 500; // TODO THEME
      overflow-wrap: break-word;
      white-space: normal;
      word-break: break-word;
      word-wrap: break-word;
    }
  
    .detail {
      color: rgba(255, 255, 255, 0.7); // TODO THEME
      font-size: 0.8571428571rem; // TODO THEME
      overflow-wrap: break-word;
      padding-top: 0.2142857143rem;
      white-space: normal;
      word-break: break-word;
      word-wrap: break-word;
    }  
  }
}

