:local {
  .orion-fusion-theme {
    --terra-popup-arrow-border-width: 11px;
    --terra-popup-arrow-after-border-width: 10px;
    --terra-popup-top-align-arrow-after-left: 10px;
    --terra-popup-top-align-arrow-after-top: 2px;
    --terra-popup-top-align-arrow-border-bottom-color: #b2b5b6;
    --terra-popup-top-align-arrow-after-border-bottom-color: #fff;
    --terra-popup-bottom-align-arrow-after-left: 10px;
    --terra-popup-bottom-align-arrow-after-bottom: 2px;
    --terra-popup-bottom-align-arrow-border-top-color: #b2b5b6;
    --terra-popup-bottom-align-arrow-after-border-top-color: #fff;
    --terra-popup-left-align-arrow-after-top: 10px;
    --terra-popup-left-align-arrow-after-left: 2px;
    --terra-popup-left-align-arrow-border-right-color: #b2b5b6;
    --terra-popup-left-align-arrow-after-border-right-color: #fff;
    --terra-popup-right-align-arrow-after-top: 10px;
    --terra-popup-right-align-arrow-after-right: 2px;
    --terra-popup-right-align-arrow-border-left-color: #b2b5b6;
    --terra-popup-right-align-arrow-after-border-left-color: #fff;
  }
}
