@import '../clinical-lowlight-theme/Tabs.module';
@import '../orion-fusion-theme/Tabs.module';

:local {
  .tab-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    height: var(--terra-tabs-workspace-tab-container-height, 33px);
    justify-content: flex-start;
    margin-bottom: var(--terra-tabs-workspace-tab-container-margin-bottom, 0);
    max-width: 100%;
    padding: 0;
    position: relative;
    width: fit-content;

    &:focus {
      outline: none;
    }

    &[data-tab-is-calculating='true'] {
      visibility: hidden;
    }
  }

  .tab-container-vertical {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    float: left;
    height: var(--terra-tabs-workspace-tab-container-height, 33px);
    justify-content: flex-start;
    margin-bottom: var(--terra-tabs-workspace-tab-container-margin-bottom, 0);
    max-width: 25%;
    padding: 0;
    position: relative;
    width: fit-content;

    &:focus {
      outline: none;
    }

    &[data-tab-is-calculating='true'] {
      visibility: hidden;
    }
  }

  .container {
    // while using the Flex the style of addIcon getting align to all right to the tabs
    display: -webkit-box; // stylelint-disable value-no-vendor-prefix
  }

  .container-vertical {
    flex: 1 1 auto;
    flex-flow: row nowrap;
    flex-direction: row;
  }

  .divcontainer {
    max-width: 40px;
  }

}
