@import '../clinical-lowlight-theme/Tabs.module';
@import '../orion-fusion-theme/Tabs.module';

:local {
  .tab-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    height: var(--terra-tabs-workspace-tab-container-height, 33px);
    justify-content: flex-start;
    margin-bottom: var(--terra-tabs-workspace-tab-container-margin-bottom, 0);
    max-width: 100%;
    padding: 0;
    position: relative;
    width: fit-content;

    &:focus {
      outline: none;
    }

    &[data-tab-is-calculating='true'] {
      visibility: hidden;
    }
  }

  .container {
    display: flex;
  }

  .divcontainer {
    max-width: 40px;
  }
}
