@import '../clinical-lowlight-theme/CommonTabs.module';
@import '../orion-fusion-theme/CommonTabs.module';

:local {
  .custom-display-content {
    margin-right: 15px;
  }

  .custom-display {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .workspace-container {
    background: var(--terra-tabs-workspace-workspace-container-background, linear-gradient(to bottom, #f4f4f4, #e8e9ea));
    box-shadow: var(--terra-tabs-workspace-workspace-container-box-shadow, inset 1px 0 0 0 #fff, inset 2px 0 0 0 #c8cacb);
    height: 100%;
    overflow: hidden;
    padding-bottom: var(--terra-tabs-workspace-workspace-container-padding-bottom, 7px);
    padding-left: var(--terra-tabs-workspace-workspace-container-padding-left, 9px);
    padding-right: var(--terra-tabs-workspace-workspace-container-padding-right, 7px);
    padding-top: var(--terra-tabs-workspace-workspace-container-padding-top, 5px);
    position: relative;
  }

  .workspace-container.is-overlay {
    box-shadow: var(--terra-tabs-workspace-workspace-container-is-overlay-box-shadow, none);
    padding-bottom: var(--terra-tabs-workspace-workspace-container-is-overlay-padding-bottom, 0);
    padding-left: var(--terra-tabs-workspace-workspace-container-is-overlay-padding-left, 0);
    padding-right: var(--terra-tabs-workspace-workspace-container-is-overlay-padding-right, 0);
    padding-top: var(--terra-tabs-workspace-workspace-container-is-overlay-padding-top, 0);
  }

  .workspace {
    border: var(--terra-tabs-workspace-workspace-border, none);
    border-radius: var(--terra-tabs-workspace-workspace-border-radius, none);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    user-select: none;
    width: 100%;
    z-index: 1;
  }

  .is-overlay .workspace {
    border: var(--terra-tabs-workspace-workspace-is-overlay-border, none);
    border-radius: var(--terra-tabs-workspace-workspace-is-overlay-border-radius, none);
  }

  .body {
    border-bottom-left-radius: var(--terra-tabs-workspace-body-border-bottom-left-radius, 3px);
    border-bottom-right-radius: var(--terra-tabs-workspace-body-border-bottom-right-radius, 3px);
    border-left: 0;
    border-top: 1px solid #868a8c;
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    z-index: 10;
  }

  .body-padding {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
  }

  .is-vertical {
    border-top: 0;
  }

  .is-overlay .body {
    border-bottom-left-radius: var(--terra-tabs-workspace-body-is-overlay-border-bottom-left-radius, 0);
    border-bottom-right-radius: var(--terra-tabs-workspace-body-is-overlay-border-bottom-right-radius, 0);
  }

  .button-header {
    background-image: var(--terra-tabs-workspace-button-header-background-image, none);
    border-bottom: var(--terra-tabs-workspace-button-header-border-bottom, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    left: 0;
    min-height: var(--terra-tabs-workspace-button-header-min-height, 48px);
    padding-bottom: var(--terra-tabs-workspace-button-header-padding-bottom, 0.7143rem);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    .fill-element {
      flex: 1 1 auto;
      width: 100%;
    }
  }

  .is-overlay .button-header {
    border-top-left-radius: var(--terra-tabs-workspace-button-header-is-overlay-border-top-left-radius, 0);
    border-top-right-radius: var(--terra-tabs-workspace-button-header-is-overlay-border-top-right-radius, 0);
  }

  .tab-header {
    margin-bottom: 0;
    margin-right: var(--terra-tabs-workspace-tab-header-margin-right, 2.286rem);
    width: calc(100% - var(--terra-tabs-workspace-tab-header-width, 3rem));
    z-index: 50;

    &.has-dismiss-button {
      margin-left: var(--terra-tabs-workspace-tab-header-has-dismiss-margin-left, 2.286rem);
      width: calc(100% - var(--terra-tabs-workspace-tab-header-has-dismiss-width, 4.571rem));
    }
  }

  .body-shadow-container {
    height: var(--terra-tabs-workspace-body-shadow-container-height, 100%);
    padding-top: var(--terra-tabs-workspace-body-shadow-container-padding-top, 48px); // calculated based on header height
    position: absolute;
    width: 100%;
    z-index: -1;

    .body-shadow {
      border-radius: var(--terra-tabs-workspace-body-shadow-container-body-shadow-border-radius, 3px);
      box-shadow: var(--terra-tabs-workspace-body-shadow-container-body-shadow-box-shadow, 0 1px 2px 0 rgba(28, 31, 33, 0.3));
      height: 100%;
      width: 100%;
    }
  }
}
