@import '../clinical-lowlight-theme/CommonTabContentStatusOverlay.module';
@import '../orion-fusion-theme/CommonTabContentStatusOverlay.module';

:local {
  .status-overlay {
    background-color: var(--terra-tabs-workspace-content-status-overlay-background-color, #fefffe);
    background-image: var(--terra-tabs-workspace-content-status-overlay-background-image, none);
    height: 100%;
    outline: none;
    overflow: auto;
    top: 0;
    width: 100%;
  }
}
