@import '../clinical-lowlight-theme/TabDropDown.module';
@import '../orion-fusion-theme/TabDropDown.module';

:local {
  .drop-down {
    border: 0;
    border-radius: var(--terra-tabs-workspace-tab-drop-down-border-radius, 3px);
    border-top-right-radius: 0;
    height: 1px;
    margin: -1px;
    max-height: 75vh;
    max-width: var(--terra-tabs-workspace-tab-drop-down-max-width, 187px);
    min-width: var(--terra-tabs-workspace-tab-drop-down-min-width, 150px);
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: var(--terra-tabs-workspace-tab-drop-down-top, 50px);
    z-index: 50;
  }

  .is-open {
    background-color: var(--terra-tabs-workspace-tab-drop-down-is-open-background-color, #fff);
    border: var(--terra-tabs-workspace-tab-drop-down-border, 1px solid #868a8c);
    box-shadow: var(--terra-tabs-workspace-tab-drop-down-is-open-box-shadow, 0 0 7px 0 rgba(0, 0, 0, 0.4));
    height: auto;
    margin: 0;
    margin-top: -15px;
    opacity: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: var(--terra-tabs-workspace-tab-drop-down-padding-bottom, 5px);
    padding-top: var(--terra-tabs-workspace-tab-drop-down-padding-top, 5px);
  }
}
