// Themes
@import './orion-fusion-theme/WorklistDataGrid.module';
@import './clinical-lowlight-theme/WorklistDataGrid.module';

:local {
  .resize-handle {
    display: block;
    position: absolute;
    cursor: col-resize;
    width: 24px;
    right: 0;
    top: 0;
    z-index: 1;
    border-right: 2px solid transparent;
  }
  
  .resize-handle:hover {
    border-color: var(--terra-worklist-data-grid-resize-handle-border-color, #E4F1F7);
  }
  
  .resize-handle.active, .resize-handle:focus {
    border-color: var(--terra-worklist-data-grid-resize-handle-active-border-color, #517ea5);
    outline: 0 !important;
  }
}
