// Themes
@import './orion-fusion-theme/HeaderCell.module';
@import './clinical-lowlight-theme/HeaderCell.module';

:local {
  .column-header {
    background-color: var(--terra-worklist-data-grid-column-header-background-color, #dedfe0);
    border: var(--terra-worklist-data-grid-column-header-border, 1px solid #000);
    color: var(--terra-worklist-data-grid-column-header-text-color);

    .header-container {
      display: flex;
      align-items: center;
      width:100%;
      height: 100%;
      padding: var(--terra-worklist-data-grid-header-cell-padding, 5px);
    }

    span {
      flex: 1;
      font-weight: normal;
      background: transparent;
      outline: none;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
