// Themes
@import './orion-fusion-theme/WorklistDataGrid.module';
@import './clinical-lowlight-theme/WorklistDataGrid.module';

:local {
  .worklist-data-grid [tabIndex='0']:focus {
    outline: var(--terra-worklist-data-grid-cell-focus-outline, 3px dashed #000);
    outline-offset: var(--terra-worklist-data-grid-cell-focus-outline-offset, -2px);
  }

  .worklist-data-grid-container {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
  }

  .worklist-data-grid {
    // Style for the grid itself
    border: var(--terra-worklist-data-grid-border, 1px solid #dedfe0);
    border-collapse: collapse;
    table-layout: fixed;
    width: 1px;
  }

  .worklist-data-grid-column-header {
    background-color: var(--terra-worklist-data-grid-column-header-background-color, #dedfe0);
    border: var(--terra-worklist-data-grid-column-header-border, 1px solid #000);
    color: var(--terra-worklist-data-grid-column-header-text-color);
  }

  .worklist-data-grid-cell {
    border: var(--terra-worklist-data-grid-cell-border, 1px solid #dedfe0);
    padding: var(--terra-worklist-data-grid-cell-content-padding, 7px);
    font-weight: normal;
    position: relative;
  }

  .worklist-data-grid-row:nth-child(odd) {
    background-color: var(--terra-worklist-data-grid-row-striped-background-color, #f0f0f0);
  }

  // Hover state for selectable elements
  .selectable:hover {
    background-color: var(--terra-worklist-data-grid-hover-background-color, rgba(0, 146, 224, 0.12));
    cursor: pointer;
  }
  
  .cell-content {
    overflow-wrap: break-word;
    overflow: hidden;
  }

  // Create gradient background for masked cells
  .masked {
    background: var(--terra-worklist-data-grid-mask-background, repeating-linear-gradient(-45deg, #dedfe0, #dedfe0 3px, transparent 3px, transparent 6px));
  }
}
