@import '~terra-mixins/lib/Mixins';

// Themes
@import './orion-fusion-theme/WorklistDataGrid.module';
@import './clinical-lowlight-theme/WorklistDataGrid.module';

:local {
  .worklist-data-grid :focus {
    outline: var(--terra-worklist-data-grid-cell-focus-outline, 3px dashed #000);
    outline-offset: var(--terra-worklist-data-grid-cell-focus-outline-offset, -2px);
  }

  .worklist-data-grid-container {
    height: 100%;
    overflow-x: scroll;
    width: 100%;
  }

  .worklist-data-grid {
    // Style for the grid itself
    border: var(--terra-worklist-data-grid-border, 1px solid #dedfe0);
    border-collapse: collapse;
    table-layout: fixed;
    user-select: none;
    width: 1px;
  }

}
