:local {
  .clinical-lowlight-theme {
    // Column Headers
    --terra-table-column-header-text-color: #b2b5b6;
    --terra-table-column-header-background-color: #151719;
    --terra-table-column-header-border-bottom: 1px solid #181b1d;
    --terra-table-column-header-border-left: 1px solid #181b1d;
    --terra-table-column-header-border-right: 1px solid #181b1d;
    --terra-table-column-header-border-top: 1px solid #181b1d;
    --terra-table-column-header-focus-outline: 3px dashed #fff;

    // Pinned Columns Divider
    --terra-table-last-pinned-header-border-right: 2px solid #181b1d;
    --terra-table-last-pinned-header-box-shadow: 2px -1px 6px #181b1d;
    --terra-table-last-pinned-header-clip-path: inset(0 -6px 0 0); // second position -6px must be consistent with third position (6px) in box-shadow prop

    // Hover
    --terra-table-header-hover-background-color: #0c0f10;
  }
}
