:local {
  .clinical-lowlight-theme {
    --terra-table-cell-border-left: 1px solid #181b1d;
    --terra-table-cell-border-right: 1px solid #181b1d;
    --terra-table-section-focus-outline: 3px dashed #fff;
    --terra-table-subsection-background-color: #161616;
    --terra-table-subsection-border-bottom: #161616;
  }
}
