:local {
  .orion-fusion-theme {
    --terra-table-subsection-font-size: 0.808571428571rem;
    --terra-table-subsection-font-weight: 700;
    --terra-table-subsection-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --terra-table-subsection-border-bottom: 1px solid #c8cacb;
  }
}
