:local {
  .menu-item {
    align-items: stretch;
    color: var(--terra-navigation-side-menu-item-color, #1c1f21);
    display: flex;
    font-size: var(--terra-navigation-side-menu-item-size, 1.071rem);
    outline: none;
    padding-bottom: var(--terra-navigation-side-menu-item-padding-bottom, 0.8225rem);
    padding-left: var(--terra-navigation-side-menu-item-padding-left, 1.2143rem);
    padding-right: var(--terra-navigation-side-menu-item-padding-right, 0.7143rem);
    padding-top: var(--terra-navigation-side-menu-item-padding-top, 0.8225rem);
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 0;

    &:hover::before,
    &.is-hovered::before {
      background: var(--terra-navigation-side-menu-item-background-hover, linear-gradient(-90deg, #fff, #f1f1f2));
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    &.is-selected {
      border-left: var(--terra-navigation-side-menu-item-selected-border-left, 0.5rem solid #007cc3);
      font-weight: var(--terra-navigation-side-menu-item-selected-font-weight, 600);
      padding-left: var(--terra-navigation-side-menu-item-selected-padding-left, 0.7143rem);
      
      &::before {
        background-image: var(--terra-navigation-side-menu-item-selected-background-image, linear-gradient(-270deg, #fff, #e8e9ea));
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
      }
    }

    &.is-focused,
    &.is-active.is-focused,
    &:active.is-focused {
      box-shadow: var(--terra-navigation-side-menu-item-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
      z-index: 5;
    }
  }

  .title,
  .chevron {
    align-items: center;
    display: flex;
    position: relative;
  }

  .title {
    flex: 1 1 auto;
    width: 100%;
  }

  .chevron {
    flex: 0 0 auto;
    padding-left: 10px;

    > svg {
      color: var(--terra-navigation-side-menu-item-chevron-color, #787879);
    }
  }
}
