:local {
  .side-menu-content-container {
    background-color: var(--terra-navigation-side-menu-content-container-background-color);
    overflow: hidden;

    > :nth-child(1) {
      background-color: var(--terra-navigation-side-menu-content-container-header-background-color);
    }

    > :nth-child(2),
    &.is-root > :nth-child(1) {
      background-color: var(--terra-navigation-side-menu-content-container-main-background-color);
    }
  }

  .side-menu-list {
    background-color: var(--terra-navigation-side-menu-list-background-color, transparent);
    padding-bottom: var(--terra-navigation-side-menu-list-padding-bottom, 0.125rem);
    padding-top: var(--terra-navigation-side-menu-list-padding-top, 0.125rem);
  }

  .side-menu-action-header {
    background-color: var(--terra-navigation-side-menu-action-header-background-color, #f4f4f4);
    border-bottom-color: var(--terra-navigation-side-menu-action-header-border-bottom-color, #dedfe0);
    box-shadow: var(--terra-navigation-side-menu-action-header-box-shadow);
    color: var(--terra-navigation-side-menu-action-header-color);
    z-index: 1;
  }
}
