// stylelint-disable scss/at-mixin-pattern

:local {
  @mixin content-dimension($height) {
    height: $height;
    width: 100%;
  }

  .initial-loading-indicator {
    @include content-dimension(100%);
    position: relative;
  }

  .progressive-loading-indicator {
    @include content-dimension(40px);
  }

  .item-content {
    @include content-dimension(20px);
  }

  .item1 {
    background-color: #ffc0cb;
  }

  .item2 {
    background-color: #f00;
  }

  .item3 {
    background-color: #00f;
  }

  .item4 {
    background-color: #ff0;
  }
}
