@import '../../../test/navigation-side-menu/NavigationSideMenuDocCommon.module';

:local {
  .content-wrapper {
    border: 1px solid #d3d3d3;
    height: 450px;
    position: relative;
    max-width: 300px;
  }
}
