:local {
  .calendar-filter {
    border: var(--terra-date-picker-calendar-filter-border, 1px solid #aeaeae);
    width: var(--terra-date-picker-calendar-filter-width, 16.78571rem);
    
    // To keep month navigation button height consistent across viewports.
    [data-navigation-next],
    [data-navigation-previous] {
      height: 1rem;
      width: 1rem;
    }
  }
}
