// stylelint-disable selector-max-compound-selectors, max-nesting-depth
// stylelint-disable declaration-property-value-blacklist scss/at-mixin-pattern
// stylelint-disable scss/at-mixin-pattern

:local {
  @mixin focus-styles {
    border-color: var(--terra-date-picker-focus-border-color, #26a2e5);
    border-style: var(--terra-date-picker-focus-border-style, solid);
    border-width: var(--terra-date-picker-focus-border-width, 1px);
    opacity: var(--terra-date-picker-focus-opacity, 1);
    outline: none;
  }

  .date-input-container {
    display: inline-block;
  }

  .date-input {
    background-color: var(--terra-date-picker-background-color, #fff);
    background-image: var(--terra-date-picker-background-image, none);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: var(--terra-date-picker-background-size, 0 0);
    border-bottom-right-radius: 0;
    border-color: var(--terra-date-picker-border-color, #dedfe0);
    border-radius: var(--terra-date-picker-border-radius, 3px);
    border-style: var(--terra-date-picker-border-style, solid);
    border-top-right-radius: 0;
    border-width: var(--terra-date-picker-border-width, 1px);
    box-sizing: content-box;
    color: var(--terra-date-picker-color, #1c1f21);
    direction: ltr;
    display: inline-block;
    font-size: var(--terra-date-picker-font-size, 1.14286rem);
    line-height: var(--terra-date-picker-line-height, 1.375);
    margin: 0 0.5rem 0.5rem 0;
    padding-bottom: var(--terra-date-picker-padding-bottom, 0.2142857143rem);
    padding-left: var(--terra-date-picker-padding-left, 0.2142857143rem);
    padding-right: var(--terra-date-picker-padding-right, 0.2142857143rem);
    padding-top: var(--terra-date-picker-padding-top, 0.2142857143rem);
    transition-duration: var(--terra-date-picker-transition-duration, 0.2s);
    transition-property: background-size;
    transition-timing-function: var(--terra-date-picker-transition-timing-function, ease);
    vertical-align: middle;
    white-space: nowrap;
    width: 8em;

    &:hover {
      background-color: var(--terra-date-picker-hover-background-color, #fff);
      border: var(--terra-date-picker-hover-border, 1px solid #dedfe0);
      color: var(--terra-date-picker-hover-color, #1c1f21);

      .date-input-month,
      .date-input-day,
      .date-input-year {
        color: var(--terra-date-picker-date-component-hover-color, #1c1f21);
      }
    }

    &.is-focused {
      @include focus-styles;
      background-color: var(--terra-date-picker-focus-background-color, #fff);
      background-size: var(--terra-date-picker-focus-background-size, 0 0);
      color: var(--terra-date-picker-focus-color, #1c1f21);

      [dir=ltr] & {
        box-shadow: var(--terra-date-picker-focus-ltr-box-shadow, 0 0 8px #a6d9f4);
      }

      [dir=rtl] & {
        box-shadow: var(--terra-date-picker-focus-rtl-box-shadow, 0 0 8px #a6d9f4);
      }

      .date-input-month,
      .date-input-day,
      .date-input-year {
        color: var(--terra-date-picker-date-component-focus-color, #1c1f21);
      }
    }

    &[disabled] {
      background-color: var(--terra-date-picker-disabled-background-color, rgba(111, 116, 119, 0.2));
      border: var(--terra-date-picker-disabled-border, 1px solid #868a8c);
      color: var(--terra-date-picker-disabled-color, #1c1f21);
      cursor: default;
      opacity: var(--terra-date-picker-disabled-opacity, 0.25);
      pointer-events: none;
    }

    .date-input-month[disabled],
    .date-input-day[disabled],
    .date-input-year[disabled] {
      background-color: transparent;
      border: 0;
      opacity: 1;
    }

    &.is-invalid {
      background-color: var(--terra-date-picker-invalid-background-color, #fff);
      border: var(--terra-date-picker-invalid-border, 1px solid #e50000);
      box-shadow: var(--terra-date-picker-invalid-box-shadow, 0 0 0 1px #e50000);

      &:hover {
        border: var(--terra-date-picker-invalid-hover-border, 1px solid #e50000);
      }

      &:focus {
        border: var(--terra-date-picker-invalid-focus-border, 1px solid #e50000);
      }

      &.disabled {
        background-color: var(--terra-date-picker-invalid-disabled-background-color, rgba(111, 116, 119, 0.2));
        border: var(--terra-date-picker-invalid-disabled-border, 1px solid #e50000);
        color: var(--terra-date-picker-invalid-disabled-color, #1c1f21);
        opacity: var(--terra-date-picker-invalid-disabled-opacity, 0.25);
      }
    }

    &.is-incomplete {
      background-color: var(--terra-date-picker-incomplete-background-color, #ffc);

      &:hover {
        background-color: var(--terra-date-picker-incomplete-hover-background-color, #ffc);
      }

      &:focus {
        background-color: var(--terra-date-picker-incomplete-focus-background-color, #ffc);
      }

      &[disabled] {
        background-color: var(--terra-date-picker-incomplete-disabled-background-color, #ffc);
        border: var(--terra-date-picker-incomplete-disabled-border, 1px solid #868a8c);
        color: var(--terra-date-picker-incomplete-disabled-color, #1c1f21);
        opacity: var(--terra-date-picker-incomplete-disabled-opacity, 0.25);
      }
    }
  }

  .date-input-month,
  .date-input-day,
  .date-input-year {
    background-color: var(--terra-date-picker-date-component-background-color, transparent);
    background-image: var(--terra-date-picker-date-component-background-image, none);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: var(--terra-date-picker-date-component-background-size, 0 0);
    border-color: var(--terra-date-picker-date-component-border-color, transparent);
    border-radius: var(--terra-date-picker-date-component-border-radius, 2px);
    border-style: var(--terra-date-picker-date-component-border-style, none);
    border-width: var(--terra-date-picker-date-component-border-width, 0);
    box-sizing: border-box;
    caret-color: var(--terra-date-picker-date-component-caret-color, #1c1f21);
    color: var(--terra-date-picker-date-component-color, #1c1f21);
    display: inline-block;
    height: var(--terra-date-picker-date-component-height, 1.5714285714rem);
    padding: var(--terra-date-picker-date-component-padding, 0);
    transition-duration: var(--terra-date-picker-date-component-transition-duration, 0.2s);
    transition-property: background-size;
    transition-timing-function: var(--terra-date-picker-date-component-transition-timing-function, ease);

    &:hover {
      background-color: var(--terra-date-picker-date-component-hover-background-color, transparent);
      border: var(--terra-date-picker-date-component-hover-border, 0 none transparent);
      color: var(--terra-date-picker-date-component-hover-color, #1c1f21);
    }

    &:focus {
      @include focus-styles;
      background-color: var(--terra-date-picker-date-component-focus-background-color, transparent);
      background-size: var(--terra-date-picker-date-component-focus-background-size, 0 0);
      border: 0;
      z-index: 1;

      [dir=ltr] & {
        box-shadow: var(--terra-date-picker-date-component-focus-ltr-box-shadow, none);
      }

      [dir=rtl] & {
        box-shadow: var(--terra-date-picker-date-component-focus-rtl-box-shadow, none);
      }
    }
  }

  .date-input-month {
    min-width: 2rem;
    text-align: center;
    width: 2rem;
  }

  .date-input-day {
    min-width: 1.6rem;
    text-align: center;
    width: 1.6rem;
  }

  .date-input-year {
    min-width: 3rem;
    text-align: center;
    width: 3rem;
  }

  .date-spacer {
    line-height: var(--terra-date-picker-date-spacer-line-height, 1.375);
    margin-bottom: var(--terra-date-picker-date-spacer-margin-bottom, 0.3571428571rem);
    margin-left: var(--terra-date-picker-date-spacer-margin-left, 0.14285714rem);
    margin-right: var(--terra-date-picker-date-spacer-margin-right, 0.14285714rem);
    margin-top: var(--terra-date-picker-date-spacer-margin-top, 0.3571428571rem);
  }

  .button {
    border: var(--terra-date-picker-button-border, 1px solid #dedfe0);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: var(--terra-date-picker-button-border-bottom-right-radius, 0.25em);
    border-top-left-radius: 0;
    border-top-right-radius: var(--terra-date-picker-button-border-top-right-radius, 0.25em);
    box-shadow: var(--terra-date-picker-button-box-shadow, none);
    color: var(--terra-date-picker-button-color, #1c1f21);
    height: 2.1428571429rem;
    margin-bottom: 0;
    margin-left: -0.5em;
    margin-top: 0;
    vertical-align: top;

    &:focus {
      border-color: var(--terra-date-picker-button-focus-border-color, #26a2e5);
      box-shadow: var(--terra-date-picker-button-focus-box-shadow, 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35));
      outline: none;
    }

    &.is-invalid {
      border-color: var(--terra-date-picker-button-invalid-border-color, #e50000);
      box-shadow: var(--terra-date-picker-button-invalid-box-shadow, 0 0 0 1px #e50000);

      &:focus {
        border-color: var(--terra-date-picker-button-invalid-focus-border-color, #e50000);
        box-shadow: var(--terra-date-picker-button-invalid-focus-box-shadow, 0 0 0 1px #e50000, 0 0 4px 3px rgba(229, 0, 0, 0.35));
        z-index: 2;
      }
    }
  }
}
/* stylelint-enable */
