iframe{width:100%}[dir] iframe{border:0}
.embedded-content-provider-test-template-body{height:auto !important;width:100%}
[dir] .EmbeddedContentConsumerCommon-module__content-wrapper___UX69F{padding:1.25rem}
