:global {
  // ---------------------- Shared ----------------------- //
  --terra-abstract-modal-overlay-background-color: rgba(0, 0, 0, 0.4);
  --terra-abstract-modal-overlay-background-image: none;
  --terra-abstract-modal-overlay-foreground-color: none;
  --terra-abstract-modal-overlay-opacity: none;

  // -------------------- Version 2.x -------------------- //

  // there are no version specific variables for this version

  // -------------------- Version 1.x -------------------- //

  // there are no version specific variables for this version
}
