:local {
  .orion-fusion-theme {
    --terra-modal-manager-background-color: #fff;
    --terra-modal-manager-border: 1px solid #f4f4f4;
    --terra-modal-manager-border-radius: 0;
    --terra-modal-manager-box-shadow: none;
    --terra-modal-manager-foreground-color: #1c1f21;
  }
}
