/* stylelint-disable selector-class-pattern */
:local {
  .utility {
    align-items: center;
    color: #fff;
    display: flex;
    flex: 0 0 auto;

    & > *:not(:last-child) {
      padding-right: 0.3571rem;
    }

    &:hover {
      color: #fff;
    }
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }
}
