:local {
  .content-wrapper {
    padding: 10px;
  }

  .tab-content-template {
    height: 100%;
    padding: 10px;
  }

  .custom-display {
    color: #6aad2b;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-container {
    height: 400px;
    padding: 10px;
  }
}
