@import '~terra-mixins/lib/Mixins';

:local {
  .orion-fusion-theme {
    --terra-collapsible-menu-view-chevron-right-padding: 0 0 0 0.5rem;
    --terra-collapsible-menu-view-control-margin-left: 0.10141rem;
    --terra-collapsible-menu-view-divider-border-right: 1px solid #868a8c;
    --terra-collapsible-menu-view-divider-height: 2rem;
    --terra-collapsible-menu-view-item-focus-outline: none;
    --terra-collapsible-menu-view-item-focus-box-shadow: 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 7px 4px rgba(76, 178, 233, 0.35);
    --terra-collapsible-menu-view-item-padding-left: 0.5rem;
    --terra-collapsible-menu-view-menu-button-focus-outline-offset: none;
    --terra-collapsible-menu-view-menu-button-padding-left: 0.5rem;
  }
}
