/* stylelint-disable selector-class-pattern */
:local {
  .nav-tabs {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .content {
    flex: 0 0 auto;
  }

  .container {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    position: relative;
  }

  .nav-links {
    border-right: 1px solid #dedfe0;
    box-shadow: inset -1px 0 0 0 #fff;
    color: #434A4D;
    display: block;
    flex: 0 0 auto;
    font-size: 13px;
    height: 100%;
    line-height: 2.7;
    min-width: 80px;
    max-width: 240px;
    padding: 0 21px;
    position: relative;
    text-align: center;
    text-decoration: none;

    &:first-child {
      border-left: 1px solid #fff;
      box-shadow: inset 1px 0 0 0 #dedfe0;
    }

    &:hover {
      background-color: #e6e6e6;
      border-left: none;
      box-shadow: inset -1px 0 0 0 #e6e6e6;
    }

    &[aria-current='true'] {
      background-color: #e6e6e6;
      border-left: none;
      box-shadow: 0 -1px 0 0 #868A8C, -1px 0 0 0 #BCBFC0,1px 0 0 0 #BCBFC0, inset 0 -7px 7px 0 #DEDFE0, inset 0 8px 16px 0 rgba(28,31,33,0.17), inset 0 7px 5px -5px rgba(0,0,0,0.31);
      bottom:-1px;
      color: #1c1f21;
      font-weight: 600;
    }
  }
}
