@import '~terra-mixins/lib/Mixins';

// Themes
@import './orion-fusion-theme/CollapsibleMenuView.module';
@import './clinical-lowlight-theme/CollapsibleMenuView.module';

:local {
  .collapsible-menu-view {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
  }

  .collapsible-menu-view-flex-end {
    justify-content: flex-end;
  }

  .collapsible-menu-view-flex-start {
    justify-content: flex-start;
  }

  .collapsible-menu-view-icon-vertical {
    transform: rotate(90deg);
  }

  .menu-button {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    padding-left: var(--terra-collapsible-menu-view-menu-button-padding-left, 0.5rem);

    &.hidden {
      display: none;
      width: 0;
    }

    :focus {
      outline-offset: var(--terra-collapsible-menu-view-menu-button-focus-outline-offset, -2px);
    }
  }

  .face-up-item {
    flex: 0 0 auto;
    padding-left: var(--terra-collapsible-menu-view-item-padding-left, 0.714rem);
    position: relative;

    .control {
      margin: 0;
      margin-left: var(--terra-collapsible-menu-view-control-margin-left, 0.10141rem);
    }

    .is-disabled {
      opacity: 0.3;
    }

    &:first-child {
      padding-left: 0;
    }

    :focus {
      box-shadow: var(--terra-collapsible-menu-view-item-focus-box-shadow, none);
      outline: var(--terra-collapsible-menu-view-item-focus-outline, 2px dashed #000);
      outline-offset: var(--terra-collapsible-menu-view-item-focus-outline-offset, 1px);
      z-index: 1;
    }
  }

  .divider {
    border-right: var(--terra-collapsible-menu-view-divider-border-right, 1px solid #dedfe0);
    height: var(--terra-collapsible-menu-view-divider-height, 2.143rem);
  }

  .chevron-right {
    padding: var(--terra-collapsible-menu-view-chevron-right-padding, 0 0 0 0.714rem);
  }

  .is-calculating {
    visibility: hidden;
  }

  .control {
    /* temporary overrides until standalone (no additional spacing included) version of checkbox is added */
    margin-bottom: 0;
    margin-top: 0;

    label:first-child {
      padding-bottom: 0;
    }
  }
}
