:local {
  .orion-fusion-theme {
    --terra-slide-panel-main-background-color: #fff;
    --terra-slide-panel-panel-background-color: #fff;
    --terra-slide-panel-main-squish-background-color: #fff;
    --terra-slide-panel-panel-squish-background-color: #fff;
    --terra-slide-panel-panel-small-width: 320px;
    --terra-slide-panel-panel-width-large-scalar: 0.6;
    --terra-slide-panel-panel-overlay-position-start-box-shadow: 1px 0 0 0 #cdced0, -16px 0 16px 14px rgba(77, 87, 92, 0.45), -12px 0 24px 18px rgba(100, 105, 108, 0.06), 0 0 100px 20px rgba(28, 31, 33, 0.04);
    --terra-slide-panel-panel-overlay-position-end-box-shadow: -1px 0 0 0 #cdced0, 16px 0 16px 14px rgba(77, 87, 92, 0.45), 12px 0 24px 18px rgba(100, 105, 108, 0.06), 0 0 100px 20px rgba(28, 31, 33, 0.04);
    --terra-slide-panel-panel-squish-width-small: 320px;
    --terra-slide-panel-panel-squish-width-large-scalar: 0.6;
    --terra-slide-panel-panel-squish-border-right-color: #d3d4d5;
    --terra-slide-panel-panel-squish-border-left-color: #d3d4d5;
  }
}
