:local {
  .wrapper {
    border: 1px dashed #808080;
    height: 145px;
    width: 540px;
  }

  .content {
    background-color: #d3d3d3;
    height: 36px;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 55px;
    width: 100px;
  }

  .default-hookshot-wrapper {
    height: 40px;
    width: 200px;
  }

  .content-wrapper {
    border: 1px dashed #808080;
    height: 145px;
    position: relative;
    width: 500px;
  }

  .content-wrapper button {
    left: 210px;
    position: absolute;
    top: 50%;
  }

  .hookshot-wrapper {
    border: 1px dashed #808080;
    height: 300px;
    width: 300px; 
  }

  .hookshot-content-wrapper {
    background-color: #b0e0e6;
    height: 36px;
    width: 200px;
  }

  .hookshot-auto-flipped {
    margin-left: 50px;
  }

  .hookshot-auto-90,
  .hookshot-flip-pushed {
    margin-left: 60px;
  }

  .hookshot-auto-neg-90 {
    margin-left: 60px;
    margin-top: 100px;
  }

  .hookshot-auto-pushed {
    margin-left: 110px;
    margin-top: 100px;
  }

  .hookshot-wrapper-auto-90,
  .hookshot-wrapper-auto-neg-90,
  .hookshot-wrapper-auto-pushed,
  .hookshot-wrapper-flip-pushed {
    width: 220px;
  }

  .hookshot-flip-flipped {
    margin-left: 50px;
  }

  .hookshot-none-offset,
  .hookshot-push-pushed,
  .hookshot-container-right {
    margin-left: 50px;
  }

  .hookshot-container-up {
    margin-top: 100px;
  }

  .hookshot-container-down {
    margin-top: 20px;
  }

  .hookshot-container-left {
    margin-left: 300px;
    margin-right: 140px;
  }
}
