// Styles specific to development only
// stylelint-disable
:local {
  .app {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .site-panel {
    background-color: #f1f1f2;
    border-right: 1px solid #047cc0;
  }

  .site-content {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .site-header {
    background-color: #80c7ee;
    border-bottom: 3px solid #047cc0;
    padding: 0.5rem 1.25rem;
  }

  .site-header > div:first-child {
    flex: 3 0 auto;
  }

  .site-input-display {
    display: inline-block;
  }
}

body {
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}

#site-content-section {
  height: 100%;
}
