:local {
  .content-wrapper {
    background: #f0f8ff;
    height: 200px;
    overflow: hidden;
    width: 200px;
  }

  .terra-popup-content {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }

}
