:local {
  .content-wrapper {
    background: #f0f8ff;
    height: 200px;
    overflow: hidden;
    width: 200px;
  }
  
  .popup-button {
    display: block;
    font-size: 1rem;
    height: 30px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
