:local {
  .default-window, .icon-window {
    height: auto;
    width: auto;
  }

  .default-parent-container-220, .icon-parent-container-220 {
    height: auto;
    width: 220px;
  }

  .default-parent-container-650 {
    height: auto;
    width: 650px;
  }

  .icon-none-container-220 {
    height: auto;
    width: 220px;
  }

  .icon-none-container-650 {
    height: auto;
    width: 650px;
  }

  .options-container {
    background-color: #c8cacb;
    padding: 10px;
  }

  .options {
    width: 100%;
  }
}
