@import '~terra-mixins/lib/Mixins';;

:global {
  // ---------------------- Shared ----------------------- //
  --terra-collapsible-menu-view-divider-border-right: 1px solid #6f7477;

  @include terra-inline-svg-var('--terra-collapsible-menu-view-menu-button-icon-background', '<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#b2b5b6" d="M24 18.6a5.4 5.4 0 1 1-5.4 5.4 5.38 5.38 0 0 1 5.4-5.4zm18.6 0a5.4 5.4 0 1 1-5.4 5.4 5.38 5.38 0 0 1 5.4-5.4zm-37.2 0A5.4 5.4 0 1 1 0 24a5.38 5.38 0 0 1 5.4-5.4z"/></svg>');

  // -------------------- Version 4.x -------------------- //

  // there are no version specific variables for this version

  // -------------------- Version 3.x -------------------- //

  // there are no version specific variables for this version
}
