:global {
  // ---------------------- Shared ----------------------- //
  --terra-modal-manager-border: none;
  --terra-modal-manager-box-shadow: none;
  --terra-modal-manager-foreground-color: #b2b5b6;

  // -------------------- Version 4.x -------------------- //

  // there are no version specific variables for this version

  // -------------------- Version 3.x -------------------- //

  // there are no version specific variables for this version
}
