:local {
  .orion-fusion-theme {
    --terra-slider-label-color: #1c1f21;
    --terra-slider-range-label-font-size: 10px;
    --terra-slider-track-selected-range: #4cb2e9;
    --terra-slider-track-unselected-range: #d3d4d5;
    --terra-slider-track-selected-range-hover: #0092e0;
    --terra-slider-track-unselected-range-hover: #595f62;
    --terra-slider-thumb-background: #26a2e5;
    --terra-slider-thumb-border-color: #26a2e5;
    --terra-slider-thumb-hover-background: #0092e0;
    --terra-slider-thumb-hover-border-color: #0092e0;
    --terra-slider-thumb-active-background: #007cc3;
    --terra-slider-thumb-active-border-color: #007cc3;
    --terra-slider-thumb-focus-border-color: #0092e0;
  }
}
