@import '~terra-mixins/lib/Mixins';

:global {
  --terra-popup-arrow-border-width: 11px;
  --terra-popup-arrow-after-border-width: 10px;
  --terra-popup-content-header-background-color: #f4f4f4;
  --terra-popup-content-header-border-bottom: 0.16666667rem solid rgb(155, 159, 161);
  --terra-popup-content-header-padding: 0;
  --terra-popup-content-inner-background-color: #fff;
  --terra-popup-content-inner-border: 1px solid #b2b5b6;
  --terra-popup-content-inner-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
  --terra-popup-overlay-background-color: rgba(0, 0, 0, 0.01);
  --terra-popup-overlay-opacity: 1;
  --terra-popup-overlay-z-index: 7000;
  --terra-popup-content-close-icon-height: 1.66667rem;
  --terra-popup-content-close-icon-margin-top: 0.28571rem;
  --terra-popup-content-close-icon-width: 1.66667rem;
  --terra-popup-top-align-arrow-after-left: 10px;
  --terra-popup-top-align-arrow-after-top: 2px;
  --terra-popup-top-align-arrow-border-bottom-color: #b2b5b6;
  --terra-popup-top-align-arrow-after-border-bottom-color: #fff;
  --terra-popup-bottom-align-arrow-after-left: 10px;
  --terra-popup-bottom-align-arrow-after-bottom: 2px;
  --terra-popup-bottom-align-arrow-border-top-color: #b2b5b6;
  --terra-popup-bottom-align-arrow-after-border-top-color: #fff;
  --terra-popup-left-align-arrow-after-top: 10px;
  --terra-popup-left-align-arrow-after-left: 2px;
  --terra-popup-left-align-arrow-border-right-color: #b2b5b6;
  --terra-popup-left-align-arrow-after-border-right-color: #fff;
  --terra-popup-right-align-arrow-after-top: 10px;
  --terra-popup-right-align-arrow-after-right: 2px;
  --terra-popup-right-align-arrow-border-left-color: #b2b5b6;
  --terra-popup-right-align-arrow-after-border-left-color: #fff;

  @include terra-inline-svg-var('--terra-popup-content-close-icon-background', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="currentColor" d="M4.2 48L0 43.8 43.8 0 48 4.2zM43.8 48L0 4.2 4.2 0 48 43.8z"/></svg>');
}
