// Themes
@import './orion-fusion-theme/FolderTree.module';
@import './clinical-lowlight-theme/FolderTree.module';

:local {
  .folder-tree {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .folder-tree-container {
    height: 100%;
    width: 100%;
  }
}
