@import '~terra-mixins/lib/Mixins';

// Themes
@import './../clinical-lowlight-theme/Pill.module';
@import './../orion-fusion-theme/Pill.module';

:local {
  .pills-group {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    min-width: 0;
    outline: none;
  }

  .pill-list-item {
    box-sizing: border-box;
    display: inline-block;
    flex: 1 1 auto;
    margin: 0;
    margin-bottom: var(--terra-pills-pill-list-item-margin-bottom, 0.28571rem);
    margin-right: var(--terra-pills-pill-list-item-margin-right, 0.42857rem);
    margin-top: var(--terra-pills-pill-list-item-margin-top, 0.28571rem);
    max-width: 100%; // Needed for IE10 truncation
    outline: none;
    position: relative;
    vertical-align: top;
  }

  .pill {
    background-color: var(--terra-pills-pill-background-color, #fff);
    border: var(--terra-pills-pill-border, 1px solid #868a8c);
    border-radius: var(--terra-pills-pill-border-radius, 10rem);
    border-style: solid;
    border-width: var(--terra-pills-pill-border-width, 1px);
    box-shadow: var(--terra-pills-pill-box-shadow, 0 1px 2px 0 rgba(0, 0, 0, 0.2));
    box-sizing: border-box;
    color: var(--terra-pills-pill-color, #595f62);
    display: inline-flex;
    flex: 1 1 auto;
    font-family: inherit; // Button reset
    font-size: var(--terra-pills-pill-font-size, 1rem); // Button reset
    height: var(--terra-pills-pill-height, 1.71429rem);
    margin-bottom: var(--terra-pills-pill-margin-bottom, 0.28571rem);
    margin-right: var(--terra-pills-pill-margin-right, 0.42857rem);
    margin-top: var(--terra-pills-pill-margin-top, 0.28571rem);
    max-width: 100%; // Needed for IE10 truncation
    min-width: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;

    &.is-focusable {
      &[data-terra-pills-show-focus-styles='true']:focus {
        border-color: var(--terra-pills-pill-focus-border-color, #868a8c);
        border-width: var(--terra-pills-pill-focus-border-width, 1px);
        box-shadow: var(--terra-pills-pill-focus-box-shadow, none);
        outline: var(--terra-pills-pill-focus-outline, 2px dashed #000);
        outline-offset: var(--terra-pills-pill-focus-outline-offset, 2px);
      }
    }
  }

  .pill-label {
    background-color: var(--terra-pills-pill-label-background-color, transparent);
    box-sizing: border-box;
    color: var(--terra-pills-pill-label-color, #595f62);
    cursor: default;
    display: inline-block;
    flex: 1 1 auto;
    font-size: var(--terra-pills-pill-label-font-size, 0.85714rem);
    font-weight: var(--terra-pills-pill-label-font-weight, 400);
    height: 100%;
    line-height: var(--terra-pills-pill-label-line-height, 1.16667);
    min-width: 0;
    overflow: hidden;
    padding-bottom: var(--terra-pills-pill-label-padding-bottom, 0.28571rem);
    padding-left: var(--terra-pills-pill-label-padding-left, 0.71428rem);
    padding-right: var(--terra-pills-pill-label-padding-right, 0.28571rem);
    padding-top: var(--terra-pills-pill-label-padding-top, 0.285714rem);
    pointer-events: none;
    position: relative;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 100%;

    .pill-category {
      font-family: inherit;
      font-size: var(--terra-pills-pill-label-category-font-size, 0.85714rem);
      font-weight: var(--terra-pills-pill-label-category-font-weight, 500);
    }  
  }

  .is-removable { 
    pointer-events: auto;

    &:hover {
      + .pill-remove-button {
        background-color: var(--terra-pills-removable-hover-pill-remove-button-background-color, #fff);
        box-shadow: var(--terra-pills-removable-hover-pill-remove-button-box-shadow, 1px 0 0 0 #868a8c);

        /* stylelint-disable max-nesting-depth */
        &::before {
          background-color: var(--terra-pills-removable-hover-pill-remove-button-before-background-color, #dedfe0);
          border-color: var(--terra-pills-removable-hover-pill-remove-button-before-border-color, #dedfe0);
        }
  
        /* stylelint-disable-next-line selector-max-compound-selectors */
        .clear-icon {
          background-image: var(--terra-pills-removable-hover-clear-icon-background-image, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#222a2e" d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>'));
          color: var(--terra-pills-removable-hover-clear-icon-color, #222a2e);
        }
        /* stylelint-enable max-nesting-depth */
      }
    }
  }

  .is-selectable-and-removable {
    cursor: pointer;
    font-family: inherit; // Button reset
    left: 0; // Button reset for IE
    margin: 0; // Button reset for Safari, defaults to 2px
    outline: none; // Button reset
    pointer-events: auto;
    position: relative; // Button reset for IE
    top: 0;  // Button reset for IE
    touch-action: manipulation; // Enable fast tap interaction in webkit browsers; see https://webkit.org/blog/5610/more-responsive-tapping-on-ios/
    user-select: none; // Prevent text selection on buttons in mobile devices;
    user-select: none;

    + .pill-remove-button {
      box-shadow: var(--terra-pills-selectable-removable-pill-remove-button-box-shadow, -4px 0 0 -3px #d3d4d5, 1px 0 0 0 #868a8c);
      min-width: var(--terra-pills-selectable-removable-pill-remove-button-min-width, 1.64285rem);

      /* stylelint-disable max-nesting-depth */
      &:hover {
        box-shadow: var(--terra-pills-selectable-removable-pill-remove-button-hover-box-shadow, 1px 0 0 0 #868a8c);

        &::before {
          border-color: var(--terra-pills-selectable-removable-pill-remove-button-hover-before-border-color, #dedfe0);
        }      
      }

      &:active {
        &::before {
          border-color: var(--terra-pills-selectable-removable-pill-remove-button-active-before-border-color, #bcbfc0);
        }      
      }
      /* stylelint-enable max-nesting-depth */
    }

    &:hover {
      background-color: var(--terra-pills-selectable-removable-hover-pill-label-background-color, #dedfe0);
      box-shadow: var(--terra-pills-selectable-removable-hover-pill-label-box-shadow, none);
      color: var(--terra-pills-selectable-removable-hover-pill-label-color, #222a2e);

      + .pill-remove-button {
        box-shadow: var(--terra-pills-selectable-removable-hover-pill-remove-button-box-shadow, -1px 0 0 0 #868a8c, 1px 0 0 0 #868a8c);
      }
    }

    &:active {
      background-color: var(--terra-pills-selectable-removable-pill-label-active-background-color, #bcbfc0);
      box-shadow: var(--terra-pills-selectable-removable-pill-label-active-box-shadow, none);
      color: var(--terra-pills-selectable-removable-pill-label-active-color, #222a2e);
    }
  }

  .pill-remove-button {
    background-color: var(--terra-pills-pill-remove-button-background-color, #fff);
    border: 0;
    border-bottom-right-radius: var(--terra-pills-pill-remove-button-border-bottom-right-radius, 0.85714rem);
    border-top-right-radius: var(--terra-pills-pill-remove-button-border-top-right-radius, 0.85714rem);
    box-shadow: var(--terra-pills-pill-remove-button-box-shadow, 1px 0 0 0 #868a8c);
    box-sizing: border-box;
    color: var(--terra-pills-pill-remove-button-color, #595f62);
    cursor: pointer;
    display: inline-block;
    font-family: inherit; // Button reset
    height: var(--terra-pills-pill-remove-button-height, 1.57143rem);
    line-height: 0;
    margin: 0;
    min-width: var(--terra-pills-pill-remove-button-min-width, 1.64285rem);
    outline: none;
    overflow: hidden;
    padding: 0;
    pointer-events: auto;
    right: var(--terra-pills-pill-remove-button-right, 0.5rem);
    text-align: start;
    top: var(--terra-pills-pill-remove-button-top, 0.35714rem);
    touch-action: manipulation; // Enable fast tap interaction in webkit browsers; see https://webkit.org/blog/5610/more-responsive-tapping-on-ios/
    user-select: none; // Prevent text selection on buttons in mobile devices;
    vertical-align: top;
    z-index: 1;
    
    &::before {
      background-color: var(--terra-pills-pill-remove-button-before-background-color, transparent);
      border: var(--terra-pills-pill-remove-button-before-border, 1px solid transparent);
      border-radius: var(--terra-pills-pill-remove-button-before-border-radius, 10rem);
      box-sizing: border-box;
      content: '';
      display: inline-block;
      height: var(--terra-pills-pill-remove-button-before-height , 1.42857rem);
      margin-bottom: var(--terra-pills-pill-remove-button-before-margin-bottom, 0.07142rem);
      margin-left: var(--terra-pills-pill-remove-button-before-margin-left, 0.07142rem);
      margin-right: var(--terra-pills-pill-remove-button-before-margin-right, 0.14285rem);
      margin-top: var(--terra-pills-pill-remove-button-before-margin-top, 0.07142rem);
      position: absolute;
      right: 0;
      top: 0;
      width: var(--terra-pills-pill-remove-button-before-width, 1.42857rem);
      z-index: 2;
    }

    &:hover {
      background-color: var(--terra-pills-pill-remove-button-hover-background-color, #fff);
      box-shadow: var(--terra-pills-pill-remove-button-hover-box-shadow, 1px 0 0 0 #868a8c);

      &::before {
        background-color: var(--terra-pills-pill-remove-button-hover-before-background-color, #dedfe0);
        border-color: var(--terra-pills-pill-remove-button-hover-before-border-color, #d3d4d5);
      }

      .clear-icon {
        color: var(--terra-pills-pill-remove-button-hover-clear-icon-color, #222a2e);
      }
    }

    &:active {
      background-color: var(--terra-pills-pill-remove-button-active-background-color, #fff);
      box-shadow: var(--terra-pills-pill-remove-button-active-box-shadow, 1px 0 0 0 #868a8c);

      &::before {
        background-color: var(--terra-pills-pill-remove-button-active-before-background-color, #bcbfc0);
        border-color: var(--terra-pills-pill-remove-button-active-before-border-color, #d3d4d5);
      }

      .clear-icon {
        color: var(--terra-pills-pill-remove-button-active-clear-icon-color, #222a2e);
      }
    }

    &:hover,
    &:active {
      .clear-icon {
        background-image: var(--terra-pills-pill-remove-button-hover-active-clear-icon-background-image, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#222a2e" d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>'));
      }
    }

    &:focus {
      outline: none;
    }
  }

  .clear-icon {
    background-clip: border-box;
    background-image: var(--terra-pills-clear-icon-background-image, inline-svg('<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#4d5153" d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>'));
    background-origin: padding-box;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
    box-sizing: border-box;
    display: block;
    font-family: inherit; // Button reset
    height: var(--terra-pills-clear-icon-height, 0.71429rem);
    line-height: 0;
    margin-bottom: var(--terra-pills-clear-icon-margin-bottom, 0.42857rem);
    margin-left: var(--terra-pills-clear-icon-margin-left, 0.42857rem);
    margin-right: var(--terra-pills-clear-icon-margin-right, 0.5rem);
    margin-top: var(--terra-pills-clear-icon-margin-top, 0.42857rem);
    outline: none; // Button reset
    padding: 0;
    pointer-events: none;
    position: absolute; // Button reset for IE
    right: 0; // Button reset for IE
    text-align: center;
    top: 0; // Button reset for IE
    user-select: none; // Prevent text selection on buttons in mobile devices;
    width: var(--terra-pills-clear-icon-width, 0.71429rem);
    z-index: 3;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: var(--terra-pills-clear-icon-ms-height, 0.71429rem);
      top: var(--terra-pills-clear-icon-ms-top, 0);
      width: var(--terra-pills-clear-icon-ms-width, 0.71429rem);
    }
  }

  .rollup-pill {
    background-color: var(--terra-pills-rollup-pill-background-color, #fff);
    border: var(--terra-pills-rollup-pill-border, 1px solid #868a8c);
    border-radius: var(--terra-pills-rollup-pill-border-radius, 10rem);
    border-style: solid;
    border-width: var(--terra-pills-rollup-pill-border-width, 1px);
    box-shadow: var(--terra-pills-rollup-pill-box-shadow, 0 1px 2px 0 rgba(0, 0, 0, 0.2));
    box-sizing: border-box;
    color: var(--terra-pills-rollup-pill-color, #595f62);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: var(--terra-pills-rollup-pill-font-size, 0.85714rem);
    height: var(--terra-pills-rollup-pill-height, 1.71429rem);
    line-height: var(--terra-pills-rollup-pill-line-height, 1.16667);
    margin: 0;
    max-width: 100%; // Needed for IE10 truncation
    min-width: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
    padding-bottom: var(--terra-pills-rollup-pill-padding-bottom, 0.28571rem);
    padding-left: var(--terra-pills-rollup-pill-padding-left, 0.71428rem);
    padding-right: var(--terra-pills-rollup-pill-padding-right, 0.71428rem);
    padding-top: var(--terra-pills-rollup-pill-padding-top, 0.28571rem);
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;

    &[data-terra-rollup-pill-show-focus-styles='true']:focus {
      border-color: var(--terra-pills-rollup-pill-focus-border-color, #868a8c);
      border-width: var(--terra-pills-rollup-pill-focus-border-width, 1px);
      box-shadow: var(--terra-pills-rollup-pill-focus-box-shadow, none);
      outline: var(--terra-pills-rollup-pill-focus-outline, 2px dashed #000);
      outline-offset: var(--terra-pills-rollup-pill-focus-outline-offset, 2px);
    }

    &:hover {
      background-color: var(--terra-pills-rollup-pill-hover-background-color, #dedfe0);
      border: var(--terra-pills-rollup-pill-hover-border, 1px solid #868a8c);
      color: var(--terra-pills-rollup-pill-hover-color, #222a2e);
    }

    &:active {
      background-color: var(--terra-pills-rollup-pill-active-background-color, #bcbfc0);
      border: var(--terra-pills-rollup-pill-active-border, 1px solid #868a8c);
      color: var(--terra-pills-rollup-pill-active-color, #222a2e);
    }

    &:focus {
      outline: none; // Button reset
    }

    &::-moz-focus-inner {
      border: 0; // Button reset for Firefox
      padding: 0; // Button reset for Firefox
    }

    .rollup-pill-label {
      font-family: inherit; // Button reset
      left: 0; // Button reset for IE
      min-width: 0;
      overflow: hidden;
      position: relative; // Button reset for IE
      text-overflow: ellipsis;
      top: 0;  // Button reset for IE
      white-space: nowrap;  
    }

    @supports (not (-webkit-hyphens:none)) {
      .rollup-pill-label {
        top: var(--terra-pills-rollup-pill-label-not-ms-top, -0.01em); // Text alignment for all but IE + Safari
      }
    }

    @-moz-document url-prefix() {
      .rollup-pill-label { 
        top: var(--terra-pills-rollup-pill-label-moz-top, -0.02em); // Text alignment for Firefox
      }
    }
  }
  
  @supports (not (-webkit-hyphens:none)) {
    .pill-label {
      top: var(--terra-pills-pill-label-not-ms-top, -0.01em); // Text alignment for all but IE + Safari
    }

    .is-selectable-and-removable {
      top: var(--terra-pills-selectable-removable-pill-label-not-ms-top, 0); // Text alignment for all but IE + Safari
    }
  }

  @-moz-document url-prefix() {
    .pill-label {
      top: var(--terra-pills-pill-label-moz-top, -0.02em); // Text alignment for Firefox
    }

    .is-selectable-and-removable {
      top: var(--terra-pills-selectable-removable-pill-label-moz-top, 0); // Text alignment for Firefox
    }
  }

  .popup-content-pill-label {
    color: var(--terra-pills-popup-pill-label-color, #595f62);
    font-size: var(--terra-pills-popup-pill-label-font-size, 0.92857rem);
    font-weight: var(--terra-pills-popup-pill-label-font-weight, 400);
    line-height: var(--terra-pills-popup-pill-label-line-height, 1.23076);
    margin: 0;
    max-width: var(--terra-pills-popup-pill-label-max-width, 480px);
    overflow-wrap: break-word; // Modern browsers
    padding: var(--terra-pills-popup-pill-label-padding, 0.35714rem 0.5rem);
    white-space: normal;
    word-wrap: break-word; // For IE 10 and IE 11

    .popup-content-pill-category {
      font-size: var(--terra-pills-popup-pill-label-category-font-size, 0.92857rem);
      font-weight: var(--terra-pills-popup-pill-label-category-font-weight, 500);
      line-height: var(--terra-pills-popup-pill-label-category-line-height, 1.23076);
    }
  }
}
