:local {
  .orion-fusion-theme {
    --terra-application-name-header-color: #fff;
    --terra-application-name-header-title-text-shadow: none;
    --terra-application-name-menu-border-bottom: 1px solid #a9a9a9;
    --terra-application-name-menu-color: #fff;
    --terra-application-name-menu-title-text-shadow: none;
    --terra-application-name-header-align-items: center;
    --terra-application-name-header-font-size: 1.0714285714rem;
    --terra-application-name-header-letter-spacing: normal;
    --terra-application-name-header-line-height: 1.53061429rem;
    --terra-application-name-header-padding-bottom: 0.35714rem;
    --terra-application-name-header-padding-left: 0.35714rem;
    --terra-application-name-header-padding-right: 0.35714rem;
    --terra-application-name-header-padding-top: 0.35714rem;
    --terra-application-name-header-accessory-display: block;
    --terra-application-name-header-accessory-padding-right: 0.35714rem;
    --terra-application-name-header-title-font-weight: bold;
    --terra-application-name-header-title-overflow: hidden;
    --terra-application-name-header-title-padding-left: 0;
    --terra-application-name-header-title-padding-right: 0;
    --terra-application-name-header-title-text-overflow: ellipsis;
    --terra-application-name-header-title-white-space: nowrap;
    --terra-application-name-header-title-word-break: normal;
    --terra-application-name-header-title-word-wrap: normal;
    --terra-application-name-menu-align-items: center;
    --terra-application-name-menu-font-size: 1.0714285714rem;
    --terra-application-name-menu-letter-spacing: normal;
    --terra-application-name-menu-line-height: 1.53061429rem;
    --terra-application-name-menu-min-height: 3.5725rem;
    --terra-application-name-menu-padding-bottom: 0.3571rem;
    --terra-application-name-menu-padding-left: 0.3571rem;
    --terra-application-name-menu-padding-right: 0.3571rem;
    --terra-application-name-menu-padding-top: 0.3571rem;
    --terra-application-name-menu-accessory-display: block;
    --terra-application-name-menu-accessory-padding-right: 0.3571rem;
    --terra-application-name-menu-title-font-weight: bold;
    --terra-application-name-menu-title-overflow: break-word;
    --terra-application-name-menu-title-padding-left: 0;
    --terra-application-name-menu-title-padding-right: 0;
    --terra-application-name-menu-title-text-overflow: clip;
    --terra-application-name-menu-title-text-shadow: none;
    --terra-application-name-menu-title-white-space: normal;
    --terra-application-name-menu-title-word-break: break-word;
    --terra-application-name-menu-title-word-wrap: break-word;
  }
}
