:local {
  .content-wrapper {
    height: 100vh;
  }

  .main-content {
    background-color: #f00;
    height: 100%;
    width: 100%;
  }

  .panel-content {
    background-color: #00f;
    height: 100%;
    width: 100%;
  }
}
