:local {
  .application-theme-provider {
    position: relative;
  }  
    
  .application-theme-provider.fill {
    height: 100%;
  } 

  .application-base.fill {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
