:local {
  .hover-target {
    overflow: hidden;
    width: 100%;
  }

  .content-section {
    float: left;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;
    width: calc(100% - var(--layout-menu-hover-target-width, 2.143rem));
  }

  .hover-section {
    background: var(--layout-menu-hover-target-background-color, #e8e9ea);
    border: 0;
    border-right: var(--layout-menu-hover-target-border-right, 0.07143rem solid #bcbfc0);
    float: right;
    overflow: hidden;
    position: relative;
    width: var(--layout-menu-hover-target-width, 2.143rem);

    &:active {
      background: var(--layout-menu-hover-target-background-color, #c6c7c9);
    }
  }

  .hover-section-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .hover-section-icon {
    flex: 0 0 auto;
    padding-top: 0.7143rem;
    width: 100%;
  }

  .hover-section-text {
    flex: 1 1 auto;
    width: 100%;
  }

  .hover-text {
    color: var(--layout-menu-hover-target-text-color, #4e5558);
    float: left;
    font-size: var(--layout-menu-hover-target-font-size, 0.857rem);
    left: 50%;
    margin: 0;
    overflow: hidden;
    padding: 0 0.35714rem 0 1.0714rem;
    position: relative;
    text-align: right;
    text-overflow: ellipsis;
    transform: rotate(-90deg) translate3d(-100%, -50%, 0);
    transform-origin: left top 0;
    vertical-align: middle;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }

  .hover-icon {
    color: var(--layout-menu-hover-target-icon-color, #909496);
    font-size: 0.571rem;
    position: relative;
    width: 100%;
  }

  .hover-target,
  .content-section,
  .hover-section {
    height: 100%;
    position: relative;
  }

  .is-hover-disabled,
  .is-hover-tab-hidden {
    > .content-section {
      width: 100%;
    }

    > .hover-section {
      overflow: hidden;
      width: 0;
    }
  }
}
