:local {
  .layout-slide-panel {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .content,
  .panel {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    transition: none;
  }

  .is-animated {
    transition: var(--terra-layout-slide-panel-transition, none);
  }

  .content {
    float: right;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .panel {
    background-color: var(--layout-slide-panel-background-color, #fff);
    left: -100%; // Using left allows background-attachment: fixed on DOM elements nested within
    position: absolute;
    width: var(--layout-slide-panel-desktop-panel-width, 18.571rem);
    z-index: 5000;
  }

  // Move the slider back to its origin when its on-screen.
  .is-open > .panel {
    left: 0; // Using left allows background-attachment: fixed on DOM elements nested within
  }

  .panel.is-tiny {
    width: var(--layout-slide-panel-phone-panel-width, calc(100% - 3.571rem));
  }

  .panel.is-small {
    width: var(--layout-slide-panel-tablet-panel-width, 22.857rem);
  }

  // Overlay
  .is-open.is-overlay > .panel {
    box-shadow: 0.07143rem 0 0.3571rem var(--layout-slide-panel-panel-shadow-color, #1c1f21);
  }

  // Squish
  .is-open.is-squish {
    > .content {
      width: calc(100% - #{var(--layout-slide-panel-desktop-panel-width, 18.571rem)} - 0.07143rem);
    }

    > .panel {
      border-right: 0.07143rem solid var(--layout-slide-panel-panel-border-color, #d3d4d5);
      border-right-width: var(--terra-layout-slide-panel-squish-panel-border-right-width, 1px);
      transition: none;
      width: calc(0.07143rem + #{var(--layout-slide-panel-desktop-panel-width, 18.571rem)});
    }
  }

  .panel[aria-hidden='true'] {
    visibility: hidden;
  }

  .main-container {
    display: block;
    height: 100%;
  }
}
