:local {
  .layout-slide-panel {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .content,
  .panel {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    transition: none;
  }

  .is-animated {
    transition: transform 0.15s ease;
  }

  .content {
    float: right;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .panel {
    background-color: var(--layout-slide-panel-background-color, #fff);
    position: absolute;
    transform: translate3d(-100%, 0, 0);
    width: var(--layout-slide-panel-desktop-panel-width, 18.571rem);
    z-index: 5000;
  }

  // Move the slider back to its origin when its on-screen.
  .is-open > .panel {
    transform: translate3d(0, 0, 0);
  }

  .panel.is-tiny {
    width: var(--layout-slide-panel-phone-panel-width, calc(100% - 3.571rem));
  }

  .panel.is-small {
    width: var(--layout-slide-panel-tablet-panel-width, 22.857rem);
  }

  // Overlay
  .is-open.is-overlay > .panel {
    [dir=ltr] & {
      box-shadow: var(--layout-slide-panel-overlay-panel-box-shadow-ltr,  1px 0 0 0 #1c1f21, 0 0 5px 1px #000, 0 0 12px 2px rgba(0, 0, 0, 0.8));
    }
    [dir=rtl] & {
      box-shadow: var(--layout-slide-panel-overlay-panel-box-shadow-rtl, -1px 0 0 0 #1c1f21, 0 0 5px 1px #000, 0 0 12px 2px rgba(0, 0, 0, 0.8)); 
    }
  }

  // Squish
  .is-open.is-squish {
    > .content {
      width: calc(100% - #{var(--layout-slide-panel-desktop-panel-width, 18.571rem)} - 1px);
    }

    > .panel {
      background-color: var(--layout-slide-panel-squish-panel-background-color, #fff);
      border-right: 1px solid var(--layout-slide-panel-squish-panel-border-color, #d3d4d5);
      transition: none;
      width: calc(1px + #{var(--layout-slide-panel-desktop-panel-width, 18.571rem)});
    }
  }

  .panel[aria-hidden='true'] {
    visibility: hidden;
  }

  .main-container {
    height: 100%;
  }
}
