/* stylelint-disable selector-class-pattern */

:local {
  .menu-header {
    align-items: center;
    background: var(--layout-menu-header-background-color, #e8e9ea);
    border-bottom: var(--layout-menu-header-border-bottom, 1px solid #edeeee);
    border-bottom: var(--layout-menu-header-border-top, 1px solid #bcbfc0);
    color: var(--layout-menu-header-color, #4e5558);
    display: flex;
    font-size: var(--layout-menu-header-font-size, 12px);
    height: var(--layout-menu-header-height, 29px);
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .header-content-end {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    max-height: 100%;
    min-width: 0;
    position: relative;
  }

  .header-content-body {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    max-height: 100%;
    min-width: 0;
    padding: 5px;
    padding-left: 10px;
    position: relative;
  }

  .pin-icon {
    height: 14px;
    margin-top: 3px;
    width: 14px;
  }

  .unlocked {
    transform: rotate(90deg);
    transform-origin: left top 50%;
  }

  .header-text {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: normal;
    word-wrap: normal;
  }

  .header-button {
    outline: none;
  }
}
