:local {
  .orion-fusion-theme {
    --terra-application-layout-menu-background-color: transparent;
    --terra-application-layout-menu-header-background-color: #0079be;
    --terra-application-layout-menu-header-background-image: none;
  }
}
