:local {
  .orion-fusion-theme {
    --terra-worklist-data-grid-cell-border: 1px solid #c8cacb;
    --terra-worklist-data-grid-cell-selected-background-color: #cbe7fa;
    --terra-worklist-data-grid-cell-selected-box-shadow: inset 0 0 0 1px #0092e0;

  }
}
