:local {
  .orion-fusion-theme {
    // Columns
    --terra-worklist-data-grid-column-header-text-color: #595f62;
    --terra-worklist-data-grid-column-header-background-color: #fff;
    --terra-worklist-data-grid-column-header-border: 1px solid #c8cacb;
  }
}
