:local {
  .orion-fusion-theme {
    // Grid
    --terra-worklist-data-grid-border: 2px solid #020005;

    // Row Headers
    --terra-worklist-data-grid-row-header-text-color: #595f62;
    --terra-worklist-data-grid-row-header-background-color: #fff;
    --terra-worklist-data-grid-row-header-border: 1px solid #c8cacb;
    --terra-worklist-data-grid-row-header-cell-border: 1px solid #c8cacb;
    --terra-worklist-data-grid-row-striped-background-color: #f4f4f4;

    // Column Headers
    --terra-worklist-data-grid-column-header-text-color: #595f62;
    --terra-worklist-data-grid-column-header-background-color: #fff;
    --terra-worklist-data-grid-column-header-border: 1px solid #c8cacb;

    // Cells
    --terra-worklist-data-grid-cell-border: 1px solid #c8cacb;
    --terra-worklist-data-grid-cell-focus-background-color: transparent;
    --terra-worklist-data-grid-cell-selected-background-color: #cbe7fa;
    --terra-worklist-data-grid-cell-focus-box-shadow: inset 0 0 0 1px rgba(38, 162, 229, 0.5), inset 0 0 0 4px rgba(76, 178, 233, 0.2);
  }
}
