:local {
  .orion-fusion-theme {
    --terra-worklist-data-grid-border: 2px solid #c8cacb;
    --terra-worklist-data-grid-cell-focus-outline: 3px dashed #000;
    --terra-worklist-data-grid-cell-focus-outline-offset: -2px;

  }
}
