:local {
  .clinical-lowlight-theme {
    --terra-compact-interactive-list-cell-focus-outline: 3px dashed #fff;
    --terra-compact-interactive-list-cell-focus-outline-offset: -2px;

    --terra-compact-interactive-list-row-border: 1px solid #181b1d;
    --terra-compact-interactive-list-row-background-color: #6e6f71;
  }
}
