:local {
  .clinical-lowlight-theme {
    --terra-compact-interactive-list-row-background-color: #2D3539;
    --terra-compact-interactive-list-row-border-bottom: 1px solid #181b1d;
    --terra-compact-interactive-list-row-border-right: 1px solid #181b1d;
    --terra-compact-interactive-list-row-border-left: 1px solid #181b1d;
    --terra-compact-interactive-list-row-border-top: 1px solid #181b1d;
  }
}
