:local {
  .clinical-lowlight-theme {
    --terra-dialog-modal-background-color: #1e2427;
    --terra-dialog-modal-body-background-color: #222a2e;

    --terra-dialog-modal-box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 7px 4px rgba(0, 0, 0, 0.5);
    --terra-dialog-modal-border-radius: 5px;
    --terra-dialog-modal-small-horizontal-inset: 10px;
    --terra-dialog-modal-body-padding: 0.7142857143rem;
  }
}
