@import '../clinical-lowlight-theme/ColumnHeaderCell.module';
@import '../orion-fusion-theme/ColumnHeaderCell.module';

:local {
  .column-header {
    background-color: var(--terra-table-column-header-background-color, #dedfe0);
    border-bottom: var(--terra-table-column-header-border-bottom, 1px solid #000);
    border-right: var(--terra-table-column-header-border-right, 1px solid #000);
    border-top: var(--terra-table-column-header-border-top, 1px solid #000);
    color: var(--terra-table-column-header-text-color);
    position: sticky;
    top: 0;
    z-index: 1;

    &:first-child {
      border-left: var(--terra-table-column-header-border-left, 1px solid #000);
    }

    &:focus {
      outline: var(--terra-table-column-header-focus-outline, 3px dashed #000);
      outline-offset: var(--terra-table-column-header-focus-outline-offset, -5px);
    }

    &.pinned {
      position: sticky;
      z-index: 2 !important;
    }

    &.last-pinned-column {
      border-right: var(--terra-table-last-pinned-header-border-right, 2px solid #808080);
      box-shadow: var(--terra-table-last-pinned-header-box-shadow, 2px -1px 6px #808080);
    }

    .header-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 100%;
      padding: var(--terra-table-header-cell-padding, 5px);
      width: 100%;

      &:focus {
        outline: var(--terra-table-column-header-focus-outline, 3px dashed #000);
        outline-offset: var(--terra-table-column-header-button-focus-outline-offset, -4px);
      }
    }

    // Add right margin for error icon
    .error-icon {
      margin-right: var(--terra-table-error-icon-margin-right, 5px);
    }

    // Style column header text
    .display-text {
      background: transparent;
      border: 0;
      flex: 1;
      font-weight: normal;
      outline: none;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .display-text.hidden {
      color: transparent;
    }
  }

  // Hover state for selectable elements
  .selectable:hover {
    background-color: var(--terra-table-header-hover-background-color, #daecf6);
    cursor: pointer;
  }
}
