@import '../clinical-lowlight-theme/Row.module';
@import '../orion-fusion-theme/Row.module';
@import '../clinical-lowlight-theme/Section.module';
@import '../orion-fusion-theme/Section.module';


:local {
  .header-row {
    button:focus {
      outline: none;
    }

    .header-cell {
      border-left: var(--terra-table-cell-border-left, 1px solid #dedfe0);
      border-right: var(--terra-table-cell-border-right, 1px solid #dedfe0);
      padding: 0;

      /* stylelint-disable selector-max-compound-selectors */
      &:focus { 
        outline: none;
      }

      &:focus .section-header {
        outline: var(--terra-table-section-focus-outline, 3px dashed #000);
        outline-offset: var(--terra-table-section-focus-outline-offset, -5px);
      }

      
      .section-header:focus-within {
        --terra-section-header-focus-within-outline-offset: -5px;
      }

      .subsection-header-row {
        --terra-section-header-font-size: 0.808571428571rem;
        --terra-section-header-background: #dedfe0;

        border-bottom:  var(--terra-table-subsection-border-bottom, 1px solid #c8cacb);
        left: var(--terra-table-subsection-header-padding-left, 1.2142857143rem);
      }
      /* stylelint-enable selector-max-compound-selectors */
    }
  }
}
