.divider {
  border-color: var(--terra-application-utility-menu-divider-color, #dedfe0);
  border-style: solid;
  border-width: 1px 0 0;
  height: 0.2143rem;
  margin-top: 2px;
  width: 100%;


  &::after {
    border-color: var(--terra-application-utility-menu-divider-color, #f9f9f9);
    border-style: solid;
    border-width: 3px 0 0;
    content: '';
    display: block;
    height: 0.2143rem;
    margin-bottom: 4px;
  }
}
