:local {
  .header-utility {
    align-items: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    /* stylelint-disable selector-max-compound-selectors */
    .user-photo ~ .icon {
      flex-grow: 1;
    }

    .user-name {
      flex-grow: 2;
    }


  }
}
