:local {
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* stylelint-disable selector-max-compound-selectors */
    .user-data {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      .photo {
        height: var(--terra-application-utility-user-data-photo-height, 3.571rem);
        margin-right: var(--terra-application-utility-user-data-photo, 0.5714rem);
        width: var(--terra-application-utility-user-data-photo-width, 3.571rem);
      }

      .name {
        font-size: var(--terra-application-utility-user-data-name-font-size, 1.143rem);
        overflow-wrap: break-word;
        white-space: normal;
        word-break: break-word;
        word-wrap: break-word;
      }

      .detail {
        font-size: var(--terra-application-utility-user-data-detail-font-size, 0.8571rem);
      }
    }

    .chevron {
      height: var(--terra-application-utility-menu-page-chevron-height, 0.8571rem);
      min-height: var(--terra-application-utility-menu-page-height, 0.8571rem);
      min-width: var(--terra-application-utility-menu-page-chevron-width, 0.8571rem);
      width: var(--terra-application-utility-menu-page-chevron-width, 0.8571rem);
    }
  }
}
