:local {
  .orion-fusion-theme {
    --terra-tabs-workspace-content-panel-background-color: #fff;
    --terra-tabs-workspace-content-panel-border-top: 1px solid #868a8c;
    --terra-tabs-workspace-content-panel-header-box-shadow: inset -3px -4px 0 -3px #cbcacb;
    --terra-tabs-workspace-content-panel-header-padding-bottom: 7px;
    --terra-tabs-workspace-content-panel-header-padding-top: 8px;
    --terra-tabs-workspace-content-toolbar-margin-top: 3px;
    --terra-tabs-workspace-content-notification-banners-container-margin-top: 3px;
    --terra-tabs-workspace-content-notification-banners-container-adjacent-margin-top: 5px;
    --terra-tabs-workspace-content-notification-banner-adjacent-margin-top: 2px;
    --terra-tabs-workspace-content-rounded-border-radius: 0;
  }
}
