:local {
  .orion-fusion-theme {
    --terra-application-workspace-hidden-tab-hidden-background-color: #fff;
    --terra-application-workspace-hidden-tab-hidden-color: #1c1f21;
    --terra-application-workspace-hidden-tab-hidden-font-size: 1rem;
    --terra-application-workspace-hidden-tab-hidden-line-height: 1.4;
    --terra-application-workspace-hidden-tab-hidden-padding-bottom: 0.6667rem;
    --terra-application-workspace-hidden-tab-hidden-padding-left: 1rem;
    --terra-application-workspace-hidden-tab-hidden-padding-right: 0.8334rem;
    --terra-application-workspace-hidden-tab-hidden-padding-top: 0.6667rem;
    --terra-application-workspace-hidden-tab-hidden-hover-background-color: #ebf6fd;
    --terra-application-workspace-hidden-tab-focus-box-shadow: 0 0 1px 1px rgba(76, 178, 233, 0.5), 0 0 6px 2px rgba(76, 178, 233, 0.4), inset 0 0 4px 1px rgba(76, 178, 233, 0.5);
    --terra-application-workspace-hidden-tab-focus-outline: none;
    --terra-application-workspace-hidden-tab-focus-outline-offset: 0;
    --terra-application-workspace-hidden-tab-hidden-is-active-color: #1c1f21;
    --terra-application-workspace-hidden-tab-hidden-is-active-hover-background-color: #ebf6fd;
    --terra-application-workspace-hidden-tab-checkbox-color: #4e5558;
    --terra-application-workspace-hidden-tab-checkbox-height: 1.167rem;
    --terra-application-workspace-hidden-tab-checkbox-margin-right: 0.6667rem;
    --terra-application-workspace-hidden-tab-checkbox-margin-top: 0.1667rem;
    --terra-application-workspace-hidden-tab-checkbox-width: 1.167rem;
    --terra-application-workspace-hidden-tab-ie-focus-before-border: 0;
    --terra-application-workspace-hidden-tab-ie-focus-before-box-shadow: 0 0 1px 1px rgba(76, 178, 233, 0.5), 0 0 6px 2px rgba(76, 178, 233, 0.4), inset 0 0 4px 1px rgba(76, 178, 233, 0.5);
  }
}
