@import '~terra-mixins/lib/Mixins';

:local {  
  .orion-fusion-theme {
    --terra-tabs-add-button-focus-box-shadow: none;
    --terra-tabs-add-button-focus-outline: 2px dashed #000;
    --terra-tabs-add-button-focus-outline-offset: -2px;
    --terra-tabs-workspace-tab-background-color: #f4f4f4;
    --terra-tabs-workspace-tab-background-image: none;
    --terra-tabs-workspace-tab-border: 1px solid #868a8c;
    --terra-tabs-workspace-tab-border-top-left-radius: 3px;
    --terra-tabs-workspace-tab-border-top-right-radius: 3px;
    --terra-tabs-workspace-tab-height: 28px;
    --terra-tabs-workspace-tab-margin-right: 2px;
    --terra-tabs-workspace-tab-icon-color: #7a7f82;
    --terra-tabs-workspace-tab-label-color: #434a4d;
    --terra-tabs-workspace-tab-hover-icon-color: #64696c;
    --terra-tabs-workspace-tab-hover-label-color: #2d3539;
    --terra-tabs-workspace-tab-hover-background-color: transparent;
    --terra-tabs-workspace-tab-hover-background-image: linear-gradient(to bottom, #fff, #f4f4f4);
    --terra-tabs-workspace-tab-focus-before-border: 0;
    --terra-tabs-workspace-tab-focus-before-box-shadow: 0 0 1px 1px rgba(76, 178, 233, 0.5), 0 0 6px 2px rgba(76, 178, 233, 0.4), inset 0 0 4px 1px rgba(76, 178, 233, 0.5);
    --terra-tabs-workspace-tab-focus-before-bottom: 1px;
    --terra-tabs-workspace-tab-focus-before-left: 1px;
    --terra-tabs-workspace-tab-focus-before-right: 1px;
    --terra-tabs-workspace-tab-focus-before-top: 1px;
    --terra-tabs-workspace-tab-is-active-background-color: #fff;
    --terra-tabs-workspace-tab-is-active-background-image: none;
    --terra-tabs-workspace-tab-is-active-height: 29px;
    --terra-tabs-workspace-tab-is-active-icon-color: #64696c;
    --terra-tabs-workspace-tab-is-active-label-color: #2d3539;
    --terra-tabs-workspace-tab-is-active-icon-label-margin-top: -1px;
    --terra-tabs-workspace-tab-min-width: 74px;
    --terra-tabs-workspace-tab-menu-svg-height: 0.8334rem;
    --terra-tabs-workspace-tab-menu-is-active-hover-background-color: transparent;
    --terra-tabs-workspace-tab-menu-is-active-hover-background-image: linear-gradient(to bottom, #f4f4f4, #fff);
    --terra-tabs-workspace-tab-menu-is-active-hover-icon-color: #4e5558;
    --terra-tabs-workspace-label-next-to-icon-margin-left: 0.357rem;
  }
}
