:local {
  .orion-fusion-theme {
    --terra-application-workspace-tab-drop-down-border: 1px solid #868a8c;
    --terra-application-workspace-tab-drop-down-border-radius: 0;
    --terra-application-workspace-tab-drop-down-max-height: 45px;
    --terra-application-workspace-tab-drop-down-max-width: 187px;
    --terra-application-workspace-tab-drop-down-min-width: 150px;
    --terra-application-workspace-tab-drop-down-padding: 3px 0;
    --terra-application-workspace-tab-drop-down-top: 46px;
    --terra-application-workspace-tab-drop-down-is-open-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
    --terra-application-workspace-tab-drop-down-is-open-background-color: #fff;
  }
}
