:local {
  .orion-fusion-theme {
    --terra-tabs-workspace-tab-header-header-min-height: 2.143rem;
    --terra-tabs-workspace-tab-header-title-color: #2d3539;
    --terra-tabs-workspace-tab-header-title-font-size: 1.5rem;
    --terra-tabs-workspace-tab-header-title-font-weight: normal;
    --terra-tabs-workspace-tab-header-title-padding: 0 0.1667rem;
  }
}
