:local {
  .orion-fusion-theme {
    // Common
    --terra-tabs-font-size: 1rem;
    --terra-tabs-font-weight: 400;
    --terra-tabs-line-height: 1.41666667rem;
    --terra-tabs-padding: 0.5rem 1.25rem;
    --terra-tabs-text-only-padding: 0.5rem 1.25rem;
    --terra-tabs-label-next-to-icon-margin-left: 0.25rem;
    --terra-tabs-menu-arrow-margin-left: 0.5rem;
    --terra-tabs-menu-collapsed-justify-content: center;

    /* Structural */

    // Whole container
    --terra-tabs-structural-container-background-color: #fff;

    // Content Pane
    --terra-tabs-structural-content-background-color: #fff;
    --terra-tabs-structural-content-background-image: none;
    --terra-tabs-structural-content-border-radius: 0;
    --terra-tabs-structural-content-box-shadow: none;
    --terra-tabs-structural-content-z-index: 0;

    // Collapsed Button
    --terra-tabs-structural-collapsed-border-bottom-color: #dedfe0;
    --terra-tabs-structural-collapsed-border-bottom-width: 1px;
    --terra-tabs-structural-collapsed-border-radius: 0;
    --terra-tabs-structural-collapsed-box-shadow: none;
    --terra-tabs-structural-collapsed-position: static;
    --terra-tabs-structural-collapsed-before-content-background: none;
    --terra-tabs-structural-collapsed-before-content-height: 0;

    // Tab
    --terra-tabs-collapsed-tab-menu-active-background-size: 0;
    --terra-tabs-collapsed-tab-menu-hover-background-size: 0;
    --terra-tabs-structural-tab-bar-border-bottom-color: #dedfe0;
    --terra-tabs-structural-tab-bar-border-bottom-width: 1px;
    --terra-tabs-structural-position: static;
    --terra-tabs-structural-before-content-background: none;
    --terra-tabs-structural-before-content-height: 0;
    --terra-tabs-structural-extended-tabs-border-radius: 0;
    --terra-tabs-structural-background-color: #fff;
    --terra-tabs-structural-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
    --terra-tabs-structural-background-position: 0 100%;
    --terra-tabs-structural-background-size: 0 2px;
    --terra-tabs-structural-border-color: #dedfe0;
    --terra-tabs-structural-border-radius: 0;
    --terra-tabs-structural-border-width: 0 1px 0 0;
    --terra-tabs-structural-color: #0092e0;
    --terra-tabs-structural-transition-duration: 0;
    --terra-tabs-structural-transition-timing-function: ease;
    --terra-tabs-structural-active-hover-background-color: #fff;
    --terra-tabs-structural-active-hover-color: #1c1f21;
    --terra-tabs-structural-active-hover-background-size: 100% 2px;
    --terra-tabs-structural-active-hover-background-image: linear-gradient(to bottom, #c8cacb, #c8cacb);
    --terra-tabs-structural-active-focus-box-shadow: none;
    --terra-tabs-structural-between-tabs-margin-left: 0;
    --terra-tabs-structural-active-background-color: #fff;
    --terra-tabs-structural-active-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
    --terra-tabs-structural-active-background-size: 100% 2px;
    --terra-tabs-structural-active-box-shadow: none;
    --terra-tabs-structural-active-color: #1c1f21;
    --terra-tabs-structural-active-font-weight: 700;
    --terra-tabs-structural-active-focus-background-image: linear-gradient(to bottom, #007ee0, #007ee0);
    --terra-tabs-structural-active-before-transition-duration: 0;
    --terra-tabs-structural-active-before-transition-timing-function: ease;
    --terra-tabs-structural-disabled-hover-background-color: #fff;
    --terra-tabs-structural-disabled-hover-opacity: 1;
    --terra-tabs-structural-disabled-hover-color: #9b9fa1;
    --terra-tabs-structural-disabled-label-opacity: 1;
    --terra-tabs-structural-hover-background-color: #fff;
    --terra-tabs-structural-hover-background-image: linear-gradient(to bottom, #c8cacb, #c8cacb);
    --terra-tabs-structural-hover-color: #1c1f21;
    --terra-tabs-structural-focus-box-shadow: none;
    --terra-tabs-structural-hover-background-size: 100% 2px;
    --terra-tabs-structural-active-focus-background-color: #fff;
    --terra-tabs-structural-focus-background-color: #fff;
    --terra-tabs-structural-active-focus-color: #1c1f21;
    --terra-tabs-structural-focus-background-image: none;
    --terra-tabs-structural-focus-color: #1c1f21;
    --terra-tabs-structural-last-tab-border-width: 0;
    --terra-tabs-keyboard-active-focus-rtl-box-shadow: none;
    --terra-tabs-keyboard-active-focus-ltr-box-shadow: none;
    --terra-tabs-keyboard-focus-rtl-box-shadow: none;
    --terra-tabs-keyboard-focus-ltr-box-shadow: none;
    --terra-tabs-structural-collapsed-menu-bar-focus-border-bottom-color: none;
    --terra-tabs-structural-collapsed-menu-bar-focus-border-bottom-width: 0;
  }
}
