:local {
  .orion-fusion-theme {
    --terra-application-workspace-button-header-background-image: linear-gradient(to bottom, #fff, #f4f4f4);
    --terra-application-workspace-button-header-border-bottom: 0;
    --terra-application-workspace-button-header-min-height: 44px;
    --terra-application-workspace-button-header-padding-bottom: 0;
    --terra-application-workspace-tab-header-margin-left: 0.8334rem;
    --terra-application-workspace-tab-header-margin-right: 2.6667rem;
    --terra-application-workspace-tab-header-margin-top: 1.3334rem;
    --terra-application-workspace-tab-header-width: 42px;
    --terra-application-workspace-tab-header-has-dismiss-margin-left: 2.6667rem;
    --terra-application-workspace-tab-header-has-dismiss-width: 5.3334rem;
    --terra-application-workspace-body-shadow-container-height: 0;
    --terra-application-workspace-body-shadow-container-padding-top: 0;
    --terra-application-workspace-body-shadow-container-body-shadow-border-radius: 0;
    --terra-application-workspace-body-shadow-container-body-shadow-box-shadow: none;
    --terra-application-workspace-workspace-container-background: #fff;
    --terra-application-workspace-workspace-container-box-shadow: none;
    --terra-application-workspace-workspace-container-padding-bottom: 0;
    --terra-application-workspace-workspace-container-padding-left: 6px;
    --terra-application-workspace-workspace-container-padding-right: 6px;
    --terra-application-workspace-workspace-container-padding-top: 0;
    --terra-application-workspace-workspace-container-is-overlay-box-shadow: inset 2px 0 0 0 #fff, inset 3px 0 0 0 #c8cacb;
    --terra-application-workspace-workspace-container-is-overlay-padding-bottom: 0;
    --terra-application-workspace-workspace-container-is-overlay-padding-left: 9px;
    --terra-application-workspace-workspace-container-is-overlay-padding-right: 6px;
    --terra-application-workspace-workspace-container-is-overlay-padding-top: 0;
    --terra-application-workspace-body-border-bottom-left-radius: 3px;
    --terra-application-workspace-body-border-bottom-right-radius: 3px;
    --terra-application-workspace-body-is-overlay-border-bottom-left-radius: 3px;
    --terra-application-workspace-body-is-overlay-border-bottom-right-radius: 3px;
    --terra-application-workspace-workspace-border: 1px solid #868a8c;
    --terra-application-workspace-workspace-border-radius: 3px;
    --terra-application-workspace-workspace-is-overlay-border: 1px solid #868a8c;
    --terra-application-workspace-workspace-is-overlay-border-radius: 3px;
    --terra-application-workspace-button-header-is-overlay-border-top-left-radius: 3px;
    --terra-application-workspace-button-header-is-overlay-border-top-right-radius: 3px;
  }
}
