:local {
  .orion-fusion-theme {
    --terra-date-time-picker-clarification-button-offset-background-color: #fff;
    --terra-date-time-picker-clarification-button-offset-height: 2.16667rem;
    --terra-date-time-picker-clarification-header-background-color: #f4f4f4;
    --terra-date-time-picker-clarification-header-border-bottom-color: #9b9fa1;
    --terra-date-time-picker-clarification-header-color: #1c1f21;
    --terra-date-time-picker-clarification-header-height: 2.83333rem;
    --terra-date-time-picker-clarification-header-padding: 0.25rem;
    --terra-date-time-picker-clarification-modal-background-color: #fff;
    --terra-date-time-picker-clarification-modal-border-radius: 0;
    --terra-date-time-picker-clarification-modal-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --terra-date-time-picker-clarification-modal-color: #1c1f21;
    --terra-date-time-picker-clarification-title-font-size: 1.667rem;
    --terra-date-time-picker-clarification-title-line-height: 1.25;
    --terra-date-time-picker-clarification-modal-border: #dedfe0;
  }
}
