.WorklistDataGrid-module__worklist-data-grid-container___IbMs4{height:100%;width:100%}
.DataGrid-module__data-grid-container___4LJj1{height:100%;width:100%}table{-webkit-user-select:none;-ms-user-select:none;user-select:none}
.FlowsheetDataGrid-module__flowsheet-data-grid-container___O1y8B{height:100%;width:100%}
[dir] .DisclosureComponent-module__content-wrapper___2tYpZ{padding:.7rem}
