:global {

  // ---------------------- Shared ----------------------- //

  // there are no shared variables for these versions

  // -------------------- Version 3.x -------------------- //

  --terra-date-time-picker-clarification-button-offset-background-color: #2d3539;
  --terra-date-time-picker-clarification-header-background-color: #222a2e;
  --terra-date-time-picker-clarification-header-border-bottom-color: #181b1d;
  --terra-date-time-picker-clarification-header-color: #b2b5b6;

  --terra-date-time-picker-clarification-modal-background-color: #222a2e;
  --terra-date-time-picker-clarification-modal-border: #181b1d;
  --terra-date-time-picker-clarification-modal-box-shadow: 0 3px 7px #181b1d;
  --terra-date-time-picker-clarification-modal-color: #b2b5b6;

  // -------------------- Version 2.x -------------------- //

  --terra-date-time-clarification-modal-background-color: #222a2e;
  --terra-date-time-clarification-modal-border: #181b1d;
  --terra-date-time-clarification-modal-box-shadow: 0 3px 7px #181b1d;
  --terra-date-time-clarification-modal-foreground-color: #b2b5b6;
}
